Repository TryGhost/Ghost, pull requests merged in 2018-10, with the labels that each got.

#9917 Refactor URL generation from models
  core/server/api/v0.1/decorators/urls.js
  core/server/api/v0.1/posts.js
  core/server/api/v0.1/tags.js
  core/server/api/v0.1/users.js
  core/server/models/base/index.js
  core/server/models/post.js
  core/server/models/relations/authors.js
  core/server/models/tag.js
  core/server/models/user.js
  core/test/functional/routes/api/public_api_spec.js
  core/test/integration/api/api_posts_spec.js
  core/test/integration/model/model_posts_spec.js
  core/test/unit/api/decorators/urls_spec.js
  core/test/unit/models/post_spec.js
  core/test/unit/models/tag_spec.js
  core/test/unit/models/user_spec.js
  core/test/unit/services/url/Resources_spec.js
Labels: api, refactoring/cleanup

#9948 Permitted require option for edit, destroy, findOne
  core/server/models/base/index.js
Labels: klitzeklein

#9998 Removed clients endpoint from v2 content api
  core/server/web/api/v2/content/routes.js
Labels: klitzeklein

#9994 Updated ApiKey onSaving to forward options
  core/server/models/api-key.js
Labels: klitzeklein

#10010 Removed POST /subscribers from v2 content api
  core/server/web/api/v2/content/routes.js
Labels: klitzeklein

#10013 Removed OPTIONS cors middleware from content api
  core/server/web/api/v2/content/routes.js
Labels: klitzeklein

#10016 Passed apiImpl to input serializers
  core/server/api/shared/pipeline.js
  core/test/unit/api/shared/serializers/handle_spec.js
Labels: klitzeklein

#10021 Allowed for repeated query parameters for arrays
  core/server/api/shared/validators/input/all.js
  core/test/unit/api/shared/validators/input/all_spec.js
Labels: klitzeklein

#9961 Added sessions table to exclude list for exporter
  core/server/data/exporter/index.js
  core/test/functional/api/v0.1/db_spec.js
  core/test/unit/data/exporter/index_spec.js
Labels: klitzeklein

#9985 Added HTTP BREAD for integrations resource
  core/server/api/v2/index.js
  core/server/api/v2/integrations.js
  core/server/api/v2/utils/serializers/input/index.js
  core/server/api/v2/utils/serializers/input/integrations.js
  core/server/api/v2/utils/serializers/output/index.js
  core/server/api/v2/utils/serializers/output/integrations.js
  core/server/models/integration.js
  core/server/translations/en.json
  core/server/web/api/v2/admin/routes.js
  core/test/functional/api/v2/admin/integrations_spec.js
Labels: priority

#10035 Set last triggered error msg on webhooks
  core/server/services/webhooks/listen.js
  core/server/services/webhooks/trigger.js
  core/test/unit/services/webhooks_spec.js
Labels: klitzeklein

#10048 Fixed mail api usage of the notifcations api
  core/server/api/v2/mail.js
Labels: klitzeklein

#10068 🐛 Fixed cardWidth being lost on 2.0 imports
  core/server/data/importer/importers/data/posts.js
  core/test/integration/data/importer/importers/data_spec.js
Labels: bug, klitzeklein

#10085 Removed user_id constraint when upserting session
  core/server/models/session.js
  core/test/unit/models/session_spec.js
Labels: klitzeklein

#10084 Handled error from express-session middleware
  core/server/services/auth/session/middleware.js
Labels: klitzeklein
