Repository TryGhost/Ghost, pull requests merged in 2021-09, with the labels that each got.

#13284 Fixed imports for files missing the email_only key
  core/server/data/importer/importers/data/posts.js
Labels: running-ci-checks

#13288 Fixed usage of linkStripeCustomer for v3 API
  core/server/api/v3/members.js
Labels: running-ci-checks

#13289 Fixed handling of Complimentary Stripe subscriptions
  core/server/api/canary/utils/serializers/output/members.js
  package.json
  yarn.lock
Labels: running-ci-checks

#13290 Used @tryghost/members-api Stripe disconnect logic
  core/server/api/canary/settings.js
  package.json
  yarn.lock
Labels: running-ci-checks

#13293 Updated ghost-storage-base to v0.0.6
  package.json
  renovate.json
  yarn.lock
Labels: running-ci-checks

#13295 Fixed Complimentary subscriptions being created twice
  core/server/api/canary/members.js
  core/server/api/canary/settings.js
Labels: running-ci-checks

#13311 Fixed 404 error when email only posts have been enabled
  core/frontend/services/routing/controllers/email-post.js
Labels: running-ci-checks

#13312 Added temporary database table for analytic events
  core/server/data/migrations/versions/4.15/01-add-temp-members-analytic-events-table.js
  core/server/data/schema/schema.js
  core/server/models/member-analytic-event.js
  test/regression/exporter/exporter.test.js
  test/unit/data/exporter/index.test.js
  test/unit/data/schema/integrity.test.js
Labels: members, migration

#13318 Refactored migration to run faster
  core/server/data/migrations/versions/4.14/02-fix-free-members-status-events.js
Labels: migration
