Repository TryGhost/Ghost, pull requests merged in 2022-11, with the labels that each got.

#15744 Added OPIONS request test suite
  ghost/core/test/e2e-frontend/preview_routes.test.js
  ghost/core/test/e2e-server/1-options-requests.test.js
  ghost/core/test/e2e-server/__snapshots__/1-options-requests.test.js.snap
  ghost/core/test/e2e-server/click-tracking.test.js
  ghost/core/test/utils/e2e-framework.js
Labels: running-ci-checks

#15723 Added e2e tests for `page.deleted` webhook
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/pages.test.js
Labels: hacktoberfest-accepted

#15736 Added e2e tests for `page.rescheduled` webhook
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/pages.test.js
Labels: hacktoberfest-accepted

#15735 Added e2e tests for post.rescheduled webhook
  ghost/core/test/e2e-webhooks/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-webhooks/posts.test.js
Labels: hacktoberfest-accepted

#15791 Fixed sending emails when using `MembersAgent.loginAs`
  ghost/core/test/e2e-api/members-comments/comments.test.js
  ghost/core/test/utils/agents/members-api-test-agent.js
Labels: running-ci-checks

#15818 Included e2e tests in coverage reports
  .gitignore
  ghost/core/.c8rc.e2e.json
  ghost/core/.c8rc.json
  ghost/core/package.json
Labels: running-ci-checks

#15860 Added table to store email recipient failures
  ghost/core/core/server/data/exporter/table-lists.js
  ghost/core/core/server/data/migrations/versions/5.25/2022-11-29-08-30-add-error-recipient-failures-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#15890 Added URL transform for image cards in Lexical documents
  ghost/core/core/server/lib/lexical.js
  ghost/core/core/server/models/post.js
  ghost/core/package.json
  ghost/core/test/regression/models/model_posts.test.js
  ghost/core/test/unit/server/lib/lexical.test.js
  yarn.lock
Labels: running-ci-checks
