Repository TryGhost/Ghost, pull requests merged in 2022-08, with the labels that each got.

#15122 Update dependency knex-migrator to v5.0.3
  ghost/core/package.json
  yarn.lock
Labels: running-ci-checks

#15107 Improved performance of `prepareContentFolder` function
  ghost/core/test/e2e-api/admin/redirects.test.js
  ghost/core/test/e2e-api/admin/themes.test.js
  ghost/core/test/e2e-frontend/members.test.js
  ghost/core/test/regression/site/dynamic_routing.test.js
  ghost/core/test/regression/site/frontend.test.js
  ghost/core/test/utils/e2e-utils.js
Labels: running-ci-checks

#15136 Extracted `html-to-plaintext` shared lib into package
  ghost/core/core/server/api/endpoints/utils/serializers/output/utils/post-gating.js
  ghost/core/core/server/data/migrations/versions/4.0/23-regenerate-posts-html.js
  ghost/core/core/server/data/migrations/versions/4.9/05-fix-missed-mobiledoc-url-transforms.js
  ghost/core/core/server/data/migrations/versions/5.0/2022-05-21-00-00-regenerate-posts-html.js
  ghost/core/core/server/models/post.js
  ghost/core/core/server/services/comments/emails.js
  ghost/core/core/server/services/mega/post-email-serializer.js
  ghost/core/package.json
  ghost/html-to-plaintext/.eslintrc.js
  ghost/html-to-plaintext/README.md
  ghost/html-to-plaintext/index.js
  ghost/html-to-plaintext/lib/html-to-plaintext.js
  ghost/html-to-plaintext/package.json
  ghost/html-to-plaintext/test/.eslintrc.js
  ghost/html-to-plaintext/test/html-to-plaintext.test.js
  yarn.lock
Labels: running-ci-checks

#15129 Added migration to store trial period days on tier
  ghost/core/core/server/data/migrations/versions/5.8/2022-08-02-06-09-add-trial-period-days-column-to-tiers.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/product.js
  ghost/core/test/e2e-api/admin/__snapshots__/members-newsletters.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/posts.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#15167 🐛 Fixed avatar overlapping with initials
  ghost/admin/app/components/gh-member-avatar.hbs
Labels: admin client

#15198 Removed `bthreads` dependency in favor of native `worker_threads`
  ghost/core/core/server/data/db/connection.js
  ghost/core/core/server/run-update-check.js
  ghost/core/core/server/services/email-analytics/jobs/fetch-latest.js
  ghost/core/core/server/web/api/testmode/jobs/graceful-job.js
  ghost/core/package.json
  ghost/job-manager/README.md
  ghost/job-manager/test/jobs/graceful.js
  ghost/job-manager/test/jobs/message.js
  ghost/job-manager/test/jobs/timed-job.js
  yarn.lock
Labels: running-ci-checks

#15209 Extracted Mailgun client to separate package
  ghost/core/core/server/services/bulk-email/bulk-email-processor.js
  ghost/core/core/server/services/bulk-email/index.js
  ghost/core/core/server/services/bulk-email/mailgun.js
  ghost/core/package.json
  ghost/core/test/integration/services/mega.test.js
  ghost/email-analytics-provider-mailgun/lib/provider-mailgun.js
  ghost/email-analytics-provider-mailgun/package.json
  ghost/email-analytics-provider-mailgun/test/provider-mailgun.test.js
  ghost/mailgun-client/.eslintrc.js
  ghost/mailgun-client/README.md
  ghost/mailgun-client/index.js
  ghost/mailgun-client/lib/mailgun-client.js
  ghost/mailgun-client/package.json
  ghost/mailgun-client/test/.eslintrc.js
  ghost/mailgun-client/test/mailgun-client.test.js
Labels: running-ci-checks

#15215 Deleted concept of external user
  ghost/core/core/server/api/shared/http.js
  ghost/core/core/server/models/base/plugins/user-type.js
  ghost/core/core/server/services/permissions/parse-context.js
  ghost/core/test/unit/server/services/permissions/parse-context.test.js
Labels: running-ci-checks

#15223 ✨ Added native comments
  ghost/admin/app/services/feature.js
  ghost/admin/app/templates/settings/labs.hbs
  ghost/admin/app/templates/settings/membership.hbs
  ghost/admin/app/templates/settings/staff/user.hbs
  ghost/core/core/frontend/helpers/comment_count.js
  ghost/core/core/frontend/helpers/comments.js
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/core/shared/config/defaults.json
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/unit/frontend/helpers/comment_count.test.js
  ghost/core/test/unit/frontend/helpers/comments.test.js
Labels: running-ci-checks

#15229 Extracted oembed service to separate package
  ghost/core/core/server/api/endpoints/oembed.js
  ghost/core/package.json
  ghost/oembed-service/.eslintrc.js
  ghost/oembed-service/README.md
  ghost/oembed-service/index.js
  ghost/oembed-service/lib/oembed-service.js
  ghost/oembed-service/package.json
  ghost/oembed-service/test/.eslintrc.js
  ghost/oembed-service/test/hello.test.js
Labels: running-ci-checks

#15233 Reduced number of hashing rounds during tests
  ghost/security/lib/password.js
Labels: running-ci-checks

#15234 Fixed full Admin test suite running during unit tests
  .github/workflows/test.yml
  ghost/adapter-manager/package.json
  ghost/admin/package.json
  ghost/api-framework/package.json
  ghost/api-version-compatibility-service/package.json
  ghost/bootstrap-socket/package.json
  ghost/constants/package.json
  ghost/custom-theme-settings-service/package.json
  ghost/domain-events/package.json
  ghost/email-analytics-provider-mailgun/package.json
  ghost/email-analytics-service/package.json
  ghost/email-content-generator/package.json
  ghost/express-dynamic-redirects/package.json
  ghost/extract-api-key/package.json
  ghost/html-to-plaintext/package.json
  ghost/job-manager/package.json
  ghost/magic-link/package.json
  ghost/mailgun-client/package.json
  ghost/member-analytics-service/package.json
  ghost/member-events/package.json
  ghost/members-analytics-ingress/package.json
  ghost/members-api/package.json
  ghost/members-csv/package.json
  ghost/members-events-service/package.json
  ghost/members-importer/package.json
  ghost/members-ssr/package.json
  ghost/minifier/package.json
  ghost/mw-api-version-mismatch/package.json
  ghost/mw-cache-control/package.json
  ghost/mw-error-handler/package.json
  ghost/mw-session-from-token/package.json
  ghost/mw-update-user-last-seen/package.json
  ghost/mw-vhost/package.json
  ghost/oembed-service/package.json
  ghost/offers/package.json
  ghost/package-json/package.json
  ghost/payments/package.json
  ghost/security/package.json
  ghost/session-service/package.json
  ghost/settings-path-manager/package.json
  ghost/stripe/package.json
  ghost/update-check-service/package.json
  ghost/verification-trigger/package.json
  ghost/version-notifications-data-service/package.json
Labels: running-ci-checks

#15243 Added member attribution events and storage
  ghost/core/core/boot.js
  ghost/core/core/server/services/member-attribution/index.js
  ghost/core/core/server/services/members/api.js
  ghost/core/package.json
  ghost/core/test/e2e-api/members/__snapshots__/create-stripe-checkout-session.test.js.snap
  ghost/core/test/e2e-api/members/create-stripe-checkout-session.test.js
  ghost/core/test/e2e-api/members/send-magic-link.test.js
  ghost/core/test/e2e-api/members/signin.test.js
  ghost/core/test/e2e-api/members/webhooks.test.js
  ghost/core/test/e2e-server/services/member-attribution.test.js
  ghost/core/test/regression/api/admin/members-importer.test.js
  ghost/core/test/regression/api/admin/members-signin-url.test.js
  ghost/core/test/utils/e2e-framework-mock-manager.js
  ghost/member-attribution/.eslintrc.js
  ghost/member-attribution/README.md
  ghost/member-attribution/index.js
  ghost/member-attribution/lib/attribution.js
  ghost/member-attribution/lib/event-handler.js
  ghost/member-attribution/lib/history.js
  ghost/member-attribution/lib/service.js
  ghost/member-attribution/lib/url-translator.js
  ghost/member-attribution/package.json
  ghost/member-attribution/test/.eslintrc.js
  ghost/member-attribution/test/attribution.test.js
  ghost/member-attribution/test/event-handler.test.js
  ghost/member-attribution/test/history.test.js
  ghost/member-attribution/test/service.test.js
  ghost/member-attribution/test/url-translator.test.js
  ghost/member-attribution/test/utils/assertions.js
  ghost/member-attribution/test/utils/index.js
  ghost/member-attribution/test/utils/overrides.js
  ghost/member-events/index.js
  ghost/member-events/lib/MemberCreatedEvent.js
  ghost/member-events/lib/SubscriptionCreatedEvent.js
  ghost/member-events/package.json
  ghost/members-api/lib/MembersAPI.js
  ghost/members-api/lib/controllers/router.js
  ghost/members-api/lib/repositories/member.js
  ghost/members-api/package.json
  ghost/stripe/lib/WebhookController.js
Labels: running-ci-checks

#15265 Disabled members migrations in test environment
  ghost/core/core/server/services/members/service.js
Labels: running-ci-checks

#15236 Added beta search helper implementation
  ghost/admin/app/services/feature.js
  ghost/admin/app/templates/settings/labs.hbs
  ghost/core/core/frontend/helpers/search.js
  ghost/core/core/shared/labs.js
  ghost/core/test/unit/frontend/helpers/search.test.js
  ghost/core/test/unit/frontend/services/theme-engine/handlebars/helpers.test.js
Labels: running-ci-checks

#15279 Updated CI runners to Ubuntu 22.04
  .github/workflows/auto-assign.yml
  .github/workflows/test.yml
Labels: running-ci-checks

#15296 Fixed Action event `resource_type` from `page` to `post`
  ghost/core/core/server/data/migrations/versions/5.11/2022-08-23-13-59-fix-page-resource-type.js
Labels: migration

#15294 Added backfill migration for members created events
  ghost/core/core/server/data/migrations/versions/5.11/2022-08-23-13-41-backfill-members-created-events.js
Labels: migration

#15309 Fixed content-length, again
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: running-ci-checks

#15312 Added ENUM validation for member/subscription created events
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/models/member-created-event.test.js
  ghost/core/test/unit/server/models/member-subscribe-event.test.js
  ghost/core/test/unit/server/models/subscription-created-event.test.js
Labels: running-ci-checks

#15340 Fixed warning about aborted connection in tests
  ghost/core/test/utils/db-utils.js
Labels: running-ci-checks
