Repository TryGhost/Ghost, pull requests merged in 2022-10, with the labels that each got.

#15518 Added regression test for publishing as editor when over member limit
  ghost/admin/mirage/config/members.js
  ghost/admin/tests/acceptance/editor/publish-flow-test.js
  ghost/admin/tests/acceptance/members-test.js
  ghost/admin/tests/helpers/login-as-role.js
Labels: running-ci-checks

#15532 Migrated staff user screen to Ember Octane patterns
  ghost/admin/.lint-todo
  ghost/admin/app/controllers/settings/staff/user.js
  ghost/admin/app/models/user.js
  ghost/admin/app/modifiers/select-on-click.js
  ghost/admin/app/routes/settings/staff/user.js
  ghost/admin/app/templates/settings/staff/user.hbs
  ghost/admin/tests/acceptance/staff-test.js
  ghost/admin/tests/helpers/forms.js
Labels: running-ci-checks

#15534 Fixed gh-date-time-picker not using site's timezone for min/max date
  ghost/admin/app/components/gh-date-time-picker.js
Labels: running-ci-checks

#15545 Improved timezone support date picker and improved tests
  ghost/admin/.lint-todo
  ghost/admin/app/components/editor/publish-options/publish-at.js
  ghost/admin/app/components/gh-date-time-picker.hbs
  ghost/admin/app/components/gh-date-time-picker.js
  ghost/admin/app/components/gh-post-settings-menu.js
  ghost/admin/mirage/factories/label.js
  ghost/admin/mirage/factories/member.js
  ghost/admin/tests/integration/components/gh-date-picker-test.js
  ghost/admin/tests/integration/components/gh-date-time-picker-test.js
Labels: running-ci-checks

#15556 Removed emailClicks feature flag
  ghost/admin/app/components/member/activity-feed.hbs
  ghost/admin/app/components/members-activity/table-row.hbs
  ghost/admin/app/components/members/filter.js
  ghost/admin/app/components/posts-list/list-item-clicks.hbs
  ghost/admin/app/components/posts-list/list-item-clicks.js
  ghost/admin/app/components/posts-list/list-item.hbs
  ghost/admin/app/components/posts-list/list-item.js
  ghost/admin/app/components/settings/newsletters.hbs
  ghost/admin/app/routes/posts.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/templates/pages.hbs
  ghost/admin/app/templates/posts-clicks.hbs
  ghost/admin/app/templates/posts.hbs
  ghost/admin/tests/acceptance/error-handling-test.js
  ghost/admin/tests/acceptance/settings/newsletters-test.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/posts.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/posts.js
  ghost/core/core/server/web/api/endpoints/admin/routes.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/members-api/lib/repositories/event.js
Labels: running-ci-checks

#15567 Updated ValidationEngine to support bare native class models
  ghost/admin/app/mixins/validation-engine.js
  ghost/admin/app/validators/invite-user.js
  ghost/admin/app/validators/member.js
  ghost/admin/app/validators/mixins/password.js
  ghost/admin/app/validators/nav-item.js
  ghost/admin/app/validators/new-user.js
  ghost/admin/app/validators/reset.js
  ghost/admin/app/validators/setting.js
  ghost/admin/app/validators/setup.js
  ghost/admin/app/validators/signin.js
  ghost/admin/app/validators/snippet.js
  ghost/admin/app/validators/subscriber.js
  ghost/admin/app/validators/tag-settings.js
  ghost/admin/app/validators/tier-benefit-item.js
  ghost/admin/app/validators/user.js
Labels: running-ci-checks

#15577 Switched to Husky + lint-staged for git hooks
  .github/hooks/pre-commit
  .github/hooks/pre-push
  ghost/core/Gruntfile.js
  ghost/core/package.json
  package.json
  yarn.lock
Labels: running-ci-checks

#15548 Added e2e tests for page.added webhook
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/pages.test.js
Labels: changes requested

#15604 Removed `bool` type from schema
  ghost/core/core/server/data/migrations/versions/4.0/05-add-members-subscribe-events-table.js
  ghost/core/core/server/data/migrations/versions/4.12/01-add-email-only-column-to-posts-meta-table.js
  ghost/core/core/server/data/migrations/versions/4.3/06-add-stripe-prices-table.js
  ghost/core/core/server/data/migrations/versions/4.42/2022-03-21-17-17-add.js
  ghost/core/core/server/data/migrations/versions/4.43/2022-03-28-19-26-recreate-newsletter-table.js
  ghost/core/core/server/data/migrations/versions/5.17/2022-09-29-12-39-add-track-clicks-column-to-emails.js
  ghost/core/core/server/data/migrations/versions/5.19/2022-10-11-10-38-add-feedback-enabled-column-to-newsletters.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/data/schema/validator.js
  ghost/core/core/server/models/base/plugins/data-manipulation.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/unit/server/data/schema/schema.test.js
  ghost/core/test/unit/server/data/schema/validator.test.js
Labels: running-ci-checks

#15580 Added subscriptions table creation migration
  ghost/core/core/server/data/exporter/table-lists.js
  ghost/core/core/server/data/migrations/versions/5.19/2022-10-10-06-58-add-subscriptions-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#15509 Replaced Promise.each() with .all() in models/base/bookshelf
  ghost/core/core/server/models/base/bookshelf.js
Labels: changes requested

#15643 Added support for supplying the foreign key constraint name
  ghost/core/core/server/data/schema/commands.js
Labels: running-ci-checks

#15644 Added `ghost_subscription_id` column to `members_stripe_customers_subscriptions`
  ghost/core/core/server/data/migrations/versions/5.20/2022-10-18-10-13-add-ghost-subscription-id-column-to-mscs.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#15660 Fixed default feedback enabled when flag is disabled
  ghost/core/core/server/data/migrations/versions/5.21/2022-10-24-07-23-disable-feedback-enabled.js
  ghost/core/core/server/services/newsletters/index.js
  ghost/core/core/server/services/newsletters/service.js
Labels: migration, running-ci-checks

#15689 Fixed missing column values for default paid tiers
  ghost/core/core/server/data/migrations/versions/5.21/2022-10-25-12-05-backfill-missed-products-columns.js
Labels: migration

#15701 Updated feedback button links
  ghost/audience-feedback/lib/AudienceFeedbackService.js
  ghost/audience-feedback/test/AudienceFeedbackService.test.js
  ghost/portal/src/App.js
Labels: running-ci-checks

#15698 Added email feedback column
  ghost/admin/app/components/posts/analytics.hbs
  ghost/admin/app/models/email.js
  ghost/admin/app/models/post.js
  ghost/core/core/server/data/migrations/versions/5.21/2022-10-26-09-32-add-feedback-enabled-column-to-emails.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/email.js
  ghost/core/core/server/services/mega/mega.js
  ghost/core/test/e2e-api/admin/__snapshots__/activity-feed.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/emails.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#15616 Replaced Promise.map() with .all() in importer
  ghost/core/core/server/data/importer/handlers/image.js
  ghost/core/core/server/data/importer/importers/image.js
Labels: hacktoberfest-accepted

#15724 Added e2e tests for `page.published.edited` webhook
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/pages.test.js
Labels: hacktoberfest-accepted
