Repository TryGhost/Ghost, pull requests merged in 2022-07, with the labels that each got.

#15011 Added migrations for Ghost Explore integration and API key
  core/server/data/migrations/versions/5.3/2022-07-06-07-58-add-ghost-explore-integration-role.js
  core/server/data/migrations/versions/5.3/2022-07-06-09-17-add-ghost-explore-integration.js
  core/server/data/migrations/versions/5.3/2022-07-06-09-26-add-ghost-explore-integration-api-key.js
  core/server/data/schema/fixtures/fixtures.json
  test/e2e-api/admin/roles.test.js
  test/integration/migrations/migration.test.js
  test/unit/server/data/schema/integrity.test.js
  test/utils/fixtures/fixtures.json
Labels: migration

#15012 Added migration for Ghost Explore permissions
  core/server/data/migrations/versions/5.3/2022-07-06-09-13-add-ghost-explore-integration-role-permissions.js
  core/server/data/schema/fixtures/fixtures.json
  test/integration/migrations/migration.test.js
  test/unit/server/data/schema/fixtures/fixture-manager.test.js
  test/unit/server/data/schema/integrity.test.js
  test/utils/fixtures/fixtures.json
Labels: migration

#15009 Added GE endpoint
  core/server/api/endpoints/explore.js
  core/server/api/endpoints/index.js
  core/server/api/endpoints/utils/serializers/output/explore.js
  core/server/api/endpoints/utils/serializers/output/index.js
  core/server/services/explore/index.js
  core/server/services/explore/service.js
  core/server/services/posts/posts-service.js
  core/server/web/api/endpoints/admin/middleware.js
  core/server/web/api/endpoints/admin/routes.js
  test/e2e-api/admin/__snapshots__/explore.test.js.snap
  test/e2e-api/admin/explore.test.js
Labels: running-ci-checks

#15030 🐛 Fixed 'comped' flag behavior in Member API
  package.json
  test/e2e-api/admin/__snapshots__/members.test.js.snap
  test/e2e-api/admin/members.test.js
  yarn.lock
Labels: bug, api, p2 - major

#15059 Added jobs table creation migration
  ghost/core/core/server/data/exporter/table-lists.js
  ghost/core/core/server/data/migrations/versions/5.5/2022-07-21-08-56-add-jobs-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#15106 Updated vhost middleware upstream test
  ghost/mw-vhost/test/vhost.test.js
Labels: running-ci-checks
