Repository TryGhost/Ghost, pull requests merged in 2022-04, with the labels that each got.

#14434 Added the emails-newsletters relation
  core/server/data/migrations/versions/4.43/2022-04-06-14-56-add-email-newsletter-relation.js
  core/server/data/schema/schema.js
  test/e2e-api/admin/__snapshots__/emails.test.js.snap
  test/unit/server/data/schema/integrity.test.js
Labels: migration

#14437 Populated type column of existing events
  core/server/data/migrations/versions/4.44/2022-04-06-15-22-populate-type-column-for-paid-subscription-events.js
Labels: migration

#14438 Added migration to populate cancellation events
  core/server/data/migrations/versions/4.44/2022-04-08-11-54-add-cancelled-events.js
Labels: migration

#14448 Added mrr column to subscriptions
  core/server/data/migrations/versions/4.44/2022-04-11-10-54-add-mrr-to-subscriptions.js
  core/server/data/schema/schema.js
  core/server/models/stripe-customer-subscription.js
  test/e2e-api/admin/legacy-members.test.js
  test/unit/server/data/schema/integrity.test.js
  test/utils/fixtures/data-generator.js
Labels: migration

#14467 Bump members
  package.json
  test/e2e-api/admin/__snapshots__/members.test.js.snap
  test/e2e-api/admin/members.test.js
  test/e2e-api/members/webhooks.test.js
  yarn.lock
Labels: running-ci-checks

#14458 Fixed the newsletters api permissions
  core/server/data/migrations/versions/4.44/2022-04-11-08-24-add-newsletter-permissions.js
  core/server/data/schema/fixtures/fixtures.json
  test/unit/server/data/schema/integrity.test.js
Labels: migration

#14465 Added migration that fills the mrr column in members_stripe_customers_subscriptions
  core/server/data/migrations/versions/4.44/2022-04-12-07-33-fill-mrr.js
Labels: migration

#14476 Updated newsletter sender name column as nullable
  core/server/data/migrations/versions/4.44/2022-04-13-12-00-remove-newsletter-sender-name-not-null-constraint.js
  core/server/data/schema/schema.js
  test/unit/server/data/schema/integrity.test.js
  test/unit/server/models/newsletter.test.js
Labels: migration

#14487 Added offer_id column to members_stripe_customers_subscriptions
  core/server/data/migrations/versions/4.44/2022-04-15-07-53-add-offer-id-to-subscriptions.js
  core/server/data/schema/schema.js
  test/unit/server/data/schema/integrity.test.js
Labels: migration

#14512 Bumped Ghost-CLI test Node version to v14
  .github/workflows/test.yml
Labels: running-ci-checks

#14511 Added migration to backfill offer ids in subscriptions
  core/server/data/migrations/versions/4.45/2022-04-19-12-23-backfill-subscriptions-offers.js
Labels: migration

#14556 ℹ️ Fixed common build issues with SQLite
  package.json
  yarn.lock
Labels: running-ci-checks

#14491 Added newsletter from address verification
  core/server/api/canary/newsletters.js
  core/server/services/members/api.js
  core/server/services/newsletters/emails/verify-email.js
  core/server/services/newsletters/index.js
  core/server/services/newsletters/service.js
  core/server/web/api/canary/admin/routes.js
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/newsletters.test.js
  test/unit/server/services/newsletters/index.test.js
  test/unit/server/services/newsletters/service.test.js
Labels: feat:multiple-newsletters

#14468 Added the default newsletter
  core/server/data/migrations/versions/4.46/2022-04-13-13-00-add-default-newsletter.js
Labels: migration, feat:multiple-newsletters

#14553 Added `newsletter_id` column to subscribe events
  core/server/data/migrations/versions/4.46/2022-04-22-07-43-add-newsletter-id-to-subscribe-events.js
  core/server/data/schema/schema.js
  test/unit/server/data/schema/integrity.test.js
Labels: migration, feat:multiple-newsletters

#14485 Fixed the newsletter_id assignement in the post API
  core/server/models/post.js
  core/server/services/mega/mega.js
  core/server/services/posts/posts-service.js
  test/e2e-api/admin/posts.test.js
Labels: feat:multiple-newsletters

#14559 Added created_at/updated_at to newsletters
  core/server/data/migrations/versions/4.46/2022-04-13-12-00-add-created-at-newsletters.js
  core/server/data/migrations/versions/4.46/2022-04-13-12-01-add-updated-at-newsletters.js
  core/server/data/schema/schema.js
  test/e2e-api/admin/__snapshots__/members.test.js.snap
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/members.test.js
  test/e2e-api/admin/newsletters.test.js
  test/unit/server/data/schema/integrity.test.js
Labels: migration, feat:multiple-newsletters

#14560 Handled email unsubscribe with multiple newsletters
  core/server/services/mega/mega.js
  test/unit/server/services/mega/mega.test.js
Labels: feat:multiple-newsletters

#14518 Map subscribers to newsletter
  core/server/data/migrations/versions/4.46/2022-04-20-08-39-map-subscribers-to-default-newsletter.js
Labels: migration, feat:multiple-newsletters

#14525 Added the newsletter API `?include=count.posts` and `?include=count.members` query options
  core/server/api/canary/newsletters.js
  package.json
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/newsletters.test.js
  yarn.lock
Labels: feat:multiple-newsletters

#14489 Filter member email recipients based on the newsletter subscriptions
  core/server/models/email.js
  core/server/models/post.js
  core/server/services/mega/mega.js
  core/server/services/posts/posts-service.js
  test/e2e-api/admin/posts.test.js
  test/regression/api/admin/posts.test.js
  test/unit/server/services/mega/mega.test.js
Labels: feat:multiple-newsletters

#14575 Renamed `/email_preview` API endpoint to `/email_previews`
  core/server/web/api/canary/admin/routes.js
  test/e2e-api/admin/email-preview.test.js
Labels: running-ci-checks

#14571 Updated default newsletter model sort order
  core/server/models/newsletter.js
  core/server/services/newsletters/service.js
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/unit/server/services/newsletters/service.test.js
Labels: feat:multiple-newsletters

#14563 Remapped `member.subscribed` value using newsletter subscriptions
  .c8rc.json
  core/server/api/canary/utils/serializers/input/members.js
  core/server/api/canary/utils/serializers/output/members.js
  test/e2e-api/admin/__snapshots__/members-newsletters.test.js.snap
  test/e2e-api/admin/__snapshots__/members.test.js.snap
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/members-newsletters.test.js
  test/e2e-api/admin/members.test.js
  test/utils/fixtures/data-generator.js
Labels: feat:multiple-newsletters

#14567 Allow opt-in for existing members when creating a newsletter
  core/server/api/canary/newsletters.js
  core/server/models/member.js
  core/server/models/newsletter.js
  core/server/services/newsletters/index.js
  core/server/services/newsletters/service.js
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/newsletters.test.js
  test/unit/server/services/newsletters/service.test.js
Labels: feat:multiple-newsletters

#14568 Fixed created_at newsletter migration
  core/server/data/migrations/utils.js
  core/server/data/migrations/versions/4.46/2022-04-13-12-00-add-created-at-newsletters.js
  core/server/data/migrations/versions/4.46/2022-04-13-12-02-fill-created-at-newsletters.js
  core/server/data/migrations/versions/4.46/2022-04-13-12-03-drop-nullable-created-at-newsletters.js
  core/server/data/schema/commands.js
Labels: migration, feat:multiple-newsletters

#14562 Use newsletter design settings
  core/server/api/canary/utils/serializers/output/mappers/pages.js
  core/server/api/canary/utils/serializers/output/mappers/posts.js
  core/server/api/v2/utils/serializers/output/utils/mapper.js
  core/server/api/v3/utils/serializers/output/utils/mapper.js
  core/server/models/post.js
  core/server/services/mega/post-email-serializer.js
  test/e2e-api/admin/utils.js
  test/regression/api/admin/utils.js
  test/unit/server/services/mega/post-email-serializer.test.js
Labels: feat:multiple-newsletters

#14592 Updated `@tryghost` packages
  package.json
  yarn.lock
Labels: running-ci-checks

#14601 Removed backwards compatibility for `ghost_head` and `ghost_foot` settings
  core/server/api/canary/utils/serializers/input/settings.js
  core/server/api/canary/utils/serializers/output/mappers/settings.js
  core/server/api/canary/utils/serializers/output/utils/extra-attrs.js
  core/server/api/canary/utils/validators/input/settings.js
  core/server/data/importer/importers/data/settings.js
  test/integration/importer/v2.test.js
Labels: running-ci-checks

#14585 Added newsletter relation to subscribe events
  core/server/models/member-subscribe-event.js
  package.json
  test/e2e-api/admin/__snapshots__/members.test.js.snap
  test/e2e-api/admin/members.test.js
  yarn.lock
Labels: feat:multiple-newsletters

#14597 Added migration that backfills newsletter_id on all subscribe events
  core/server/data/migrations/versions/4.46/2022-04-27-07-59-set-newsletter-id-subscribe-events.js
Labels: migration, feat:multiple-newsletters

#14598 Dropped nullable from subscribe events' newsletter id
  core/server/data/migrations/versions/4.46/2022-04-27-08-16-drop-nullable-subscribe-event-newsletter-id.js
  core/server/data/schema/schema.js
  test/unit/server/data/schema/integrity.test.js
Labels: migration, feat:multiple-newsletters

#14602 Wired up LimitService to NewsletterService
  core/server/services/newsletters/index.js
  core/server/services/newsletters/service.js
  package.json
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/newsletters.test.js
  test/unit/server/services/newsletters/service.test.js
  yarn.lock
Labels: feat:multiple-newsletters

#14588 Use newsletter settings in emails
  core/server/models/newsletter.js
  core/server/services/mega/email-preview.js
  core/server/services/mega/mega.js
  core/server/services/mega/post-email-serializer.js
  core/server/services/mega/template.js
  test/unit/server/services/mega/mega.test.js
  test/unit/server/services/mega/post-email-serializer.test.js
  test/unit/server/services/mega/template.test.js
Labels: feat:multiple-newsletters

#14609 Promoted multiple newsletters flag (backend) to GA
  core/shared/labs.js
  test/e2e-api/admin/__snapshots__/settings.test.js.snap
  test/unit/server/services/mega/mega.test.js
  test/unit/server/services/members/middleware.test.js
Labels: feat:multiple-newsletters

#14610 Fixed bulk unsubscribe and updated member import tests
  core/server/models/member.js
  package.json
  test/e2e-api/admin/legacy-members.test.js
  test/e2e-api/admin/members-importer.test.js
  yarn.lock
Labels: running-ci-checks, feat:multiple-newsletters

#14626 Promoted multiple newsletters UI labs flag to private beta
  core/shared/labs.js
  test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: running-ci-checks

#14628 Update dependency knex-migrator to v4.2.8
  package.json
  yarn.lock
Labels: running-ci-checks

#14627 Fixed issue with creation of multiple newsletters
  core/server/models/newsletter.js
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/newsletters.test.js
Labels: running-ci-checks

#14629 Fixed issue with new members always subscribing to defaults
  package.json
  yarn.lock
Labels: bug

#14624 Added member endpoints for managing newsletter subscriptions
  core/server/services/members/middleware.js
  core/server/web/members/app.js
  test/e2e-frontend/members.test.js
Labels: feat:multiple-newsletters
