Repository TryGhost/Ghost, pull requests merged in 2022-05, with the labels that each got.

#14641 Switched gscan to validate against v5 set of rules
  core/server/services/themes/validate.js
  test/utils/fixtures/themes/test-theme/package.json
  test/utils/fixtures/themes/warnings.zip
Labels: running-ci-checks

#14655 Revert "Disabled version compatibility emails temporarily"
  core/server/services/api-version-compatibility/index.js
  test/e2e-api/shared/version.test.js
Labels: running-ci-checks

#14631 Added ValidationError for duplicate newsletter names
  core/server/services/newsletters/service.js
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/newsletters.test.js
Labels: bug, running-ci-checks

#14716 Dashboard 5.0 migrations
  core/server/data/migrations/versions/5.0/2022-03-14-12-33-delete-duplicate-offer-redemptions.js
  core/server/data/migrations/versions/5.0/2022-03-28-15-25-backfill-mrr-adjustments-for-offers.js
  core/server/data/migrations/versions/5.0/2022-04-25-10-32-backfill-mrr-for-discounted-subscriptions.js
  core/server/data/migrations/versions/5.0/2022-04-26-15-44-backfill-mrr-events-for-canceled-subscriptions.js
  core/server/data/migrations/versions/5.0/2022-04-27-11-26-backfill-mrr-for-canceled-subscriptions.js
Labels: migration, feat:5.0

#14695 Assigned existing email records and related posts to the default newsletter
  core/server/data/migrations/versions/5.0/2022-05-04-15-24-map-existing-emails-to-default-newsletter.js
Labels: migration, feat:5.0

#14707 Migrated old recipient filters to NQL string format
  core/server/data/migrations/versions/5.0/2022-05-05-13-13-migrate-legacy-recipient-filters.js
Labels: migration, feat:5.0

#14712 Dropped `oauth` table
  core/server/data/exporter/table-lists.js
  core/server/data/migrations/versions/5.0/2022-05-05-15-17-drop-oauth-table.js
  core/server/data/schema/schema.js
  test/integration/exporter/exporter.test.js
  test/unit/server/data/schema/integrity.test.js
Labels: migration, feat:5.0

#14710 Removed unused defaults from `text` columns in schema
  core/server/data/schema/schema.js
  test/unit/server/data/schema/integrity.test.js
Labels: migration, feat:5.0

#14732 [4.x] 🐛 Fixed wrong newsletter used when sending scheduled post
  core/server/services/mega/mega.js
  core/server/services/posts/posts-service.js
  test/e2e-api/admin/posts.test.js
Labels: bug, running-ci-checks

#14714 Enabled Admin integration for newsletters API
  core/server/data/migrations/versions/5.0/2022-05-05-13-29-add-newsletters-admin-integration-permission-roles.js
  core/server/data/schema/fixtures/fixtures.json
  test/integration/migrations/migration.test.js
  test/unit/server/data/schema/fixtures/fixture-manager.test.js
  test/unit/server/data/schema/integrity.test.js
  test/utils/fixtures/fixtures.json
Labels: migration, feat:5.0

#14711 Dropped `subscribed` column in `members` table
  core/server/data/migrations/versions/5.0/2022-05-09-10-00-drop-members-subscribed-column.js
  core/server/data/schema/schema.js
  core/server/models/member.js
  test/e2e-api/admin/__snapshots__/members.test.js.snap
  test/unit/server/data/schema/integrity.test.js
Labels: migration, feat:5.0

#14757 Dropped `temp_member_analytic_events` table
  core/server/data/migrations/versions/5.0/2022-05-10-08-33-drop-members-analytics-table.js
  core/server/data/schema/schema.js
  test/integration/exporter/exporter.test.js
  test/unit/server/data/schema/integrity.test.js
Labels: migration

#14758 Deleted `membersActivity` flag
  core/shared/labs.js
  test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: running-ci-checks

#14715 Fixed `last_seen` updated for suspended users
  core/server/services/auth/session/index.js
  test/regression/api/admin/update-user-last-seen.test.js
Labels: feat:5.0

#14761 Added migration utils for removing a permission
  core/server/data/migrations/utils/permissions.js
Labels: running-ci-checks

#14762 Removed `client` and `subscriber` permissions
  core/server/data/migrations/versions/5.0/2022-05-06-08-16-cleanup-client-subscriber-permissions.js
Labels: migration, feat:5.0

#14763 Regenerated HTML for posts containing a product or video card
  core/server/data/migrations/versions/5.0/2022-05-21-00-00-regenerate-posts-html.js
Labels: migration, feat:5.0

#14713 🏗 Dropped `webhooks.status` column
  core/server/data/migrations/versions/5.0/2022-05-11-12-08-drop-webhooks-status-column.js
  core/server/data/schema/schema.js
  test/e2e-api/admin/__snapshots__/webhooks.test.js.snap
  test/regression/api/admin/utils.js
  test/unit/server/data/schema/integrity.test.js
Labels: feat:5.0

#14756 Fixed email preview using wrong newsletter
  core/server/services/mega/email-preview.js
  test/e2e-api/admin/email-previews.test.js
Labels: bug

#14797 Relaxed validation rules + removed unknown properties
  package.json
  test/e2e-api/admin/posts.test.js
  yarn.lock
Labels: running-ci-checks

#14780 Improved newsletter limit checking for archived newsletters
  core/server/services/newsletters/service.js
  package.json
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/newsletters.test.js
  yarn.lock
Labels: feat:5.0

#14794 Added offer read endpoint to content API
  core/server/api/canary/index.js
  core/server/api/canary/offers-public.js
  core/server/api/canary/utils/serializers/output/offers.js
  core/server/web/api/canary/content/routes.js
  test/e2e-api/content/__snapshots__/offers.test.js.snap
  test/e2e-api/content/offers.test.js
  test/utils/fixtures/data-generator.js
Labels: feat:5.0

#14789 Updated theme card asset default setting
  core/frontend/services/theme-engine/config/defaults.json
  test/unit/frontend/services/card-assets.test.js
  test/unit/frontend/services/theme-engine/config.test.js
Labels: feat:5.0

#14799 Added newsletter permissions for Editors and Authors
  core/server/data/migrations/versions/5.0/2022-05-12-10-29-add-newsletter-permissions-for-editors-and-authors.js
  core/server/data/schema/fixtures/fixtures.json
  test/integration/migrations/migration.test.js
  test/unit/server/data/schema/fixtures/fixture-manager.test.js
  test/unit/server/data/schema/integrity.test.js
  test/utils/fixtures/fixtures.json
Labels: feat:5.0

#14801 Extended public settings to include portal settings
  core/server/api/canary/settings-public.js
  core/server/services/settings/settings-service.js
  core/shared/settings-cache/public.js
  test/e2e-api/admin/__snapshots__/settings.test.js.snap
  test/e2e-api/admin/settings.test.js
  test/e2e-api/content/__snapshots__/settings.test.js.snap
  test/e2e-api/content/settings.test.js
  test/e2e-api/shared/__snapshots__/version.test.js.snap
  test/e2e-api/shared/version.test.js
  test/regression/api/admin/settings.test.js
Labels: feat:5.0

#14805 Fixed tier monthly/yearly price admin api schema
  package.json
  yarn.lock
Labels: feat:5.0

#14817 Fixed error in newsletter editing limit checks
  core/server/services/newsletters/service.js
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/newsletters.test.js
Labels: bug, feat:5.0

#14802 Removed settings that are no longer in use
  core/server/api/shared/serializers/input/utils/settings-key-type-mapper.js
  core/server/data/migrations/versions/5.0/2022-05-11-16-36-remove-unused-settings.js
  core/server/data/schema/default-settings/default-settings.json
  test/e2e-api/admin/__snapshots__/settings.test.js.snap
  test/e2e-api/admin/settings.test.js
  test/regression/api/admin/settings.test.js
  test/regression/models/model_settings.test.js
  test/unit/server/data/exporter/index.test.js
  test/unit/server/data/schema/integrity.test.js
  test/unit/server/services/members/config.test.js
  test/unit/server/services/stripe/config.test.js
  test/utils/fixtures/default-settings.json
Labels: feat:5.0

#14824 Added gscan check for {{@member.products}} helper
  package.json
  yarn.lock
Labels: running-ci-checks

#14825 Removed redundant "strip" attribute
  package.json
  yarn.lock
Labels: running-ci-checks

#14798 Renamed newsletter_id and email_recipient_filter options
  core/server/api/canary/posts.js
  core/server/api/canary/utils/serializers/input/posts.js
  core/server/api/canary/utils/serializers/output/mappers/pages.js
  core/server/api/canary/utils/serializers/output/mappers/posts.js
  core/server/api/canary/utils/serializers/output/utils/clean.js
  core/server/data/importer/importers/data/posts.js
  core/server/data/migrations/versions/5.0/2022-05-13-11-38-drop-none-email-recipient-filter.js
  core/server/models/newsletter.js
  core/server/models/post.js
  core/server/services/mega/email-preview.js
  core/server/services/mega/mega.js
  core/server/services/posts/posts-service.js
  test/e2e-api/admin/__snapshots__/members-newsletters.test.js.snap
  test/e2e-api/admin/__snapshots__/members.test.js.snap
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/posts.test.js
  test/e2e-api/admin/utils.js
  test/e2e-api/content/__snapshots__/posts.test.js.snap
  test/e2e-api/content/posts.test.js
  test/e2e-api/content/utils.js
  test/regression/api/admin/posts.test.js
  test/regression/api/admin/utils.js
  test/regression/api/content/utils.js
  test/regression/models/model_posts.test.js
  test/unit/api/canary/utils/serializers/input/posts.test.js
  test/unit/server/data/importer/importers/data/posts.test.js
  test/unit/server/services/mega/mega.test.js
  test/utils/fixtures/data-generator.js
Labels: migration, feat:5.0

#14828 [4.x] 🐛 Fixed sending newsletters with header images
  core/server/services/mega/mega.js
  core/server/services/posts/posts-service.js
  test/e2e-api/admin/__snapshots__/members-newsletters.test.js.snap
  test/e2e-api/admin/__snapshots__/members.test.js.snap
  test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  test/e2e-api/admin/posts.test.js
  test/unit/server/services/mega/mega.test.js
  test/utils/fixtures/data-generator.js
Labels: bug

#14831 [4.x]🐛 Fixed fetching newsletter relation when sending newsletters
  core/server/services/mega/mega.js
Labels: bug

#14795 Updated Tiers API data structure
  core/server/api/canary/utils/serializers/input/tiers.js
  core/server/api/canary/utils/serializers/output/tiers.js
  package.json
  test/e2e-api/admin/__snapshots__/tiers.test.js.snap
  test/e2e-api/admin/tiers.test.js
  test/e2e-api/content/__snapshots__/tiers.test.js.snap
  test/e2e-api/content/tiers.test.js
  yarn.lock
Labels: feat:5.0

#14849 Added subscription.price.tier mapping
  core/server/api/canary/utils/serializers/output/members.js
  test/e2e-api/admin/__snapshots__/members-newsletters.test.js.snap
  test/e2e-api/admin/__snapshots__/members.test.js.snap
  test/e2e-api/admin/members.test.js
  test/e2e-api/members/webhooks.test.js
Labels: bug

#14855 Fixed failing checkout session creation for offers
  package.json
  test/e2e-frontend/members.test.js
  yarn.lock
Labels: bug, members, feat:5.0

#14867 Fixed missing products in members export
  core/server/api/canary/members.js
  package.json
  test/e2e-api/admin/members.test.js
  yarn.lock
Labels: bug, running-ci-checks

#14870 Added bulkDestroy column option
  core/server/models/base/plugins/bulk-operations.js
Labels: running-ci-checks

#14869 Add signin key attributes jwks
  core/server/web/well-known.js
  test/e2e-server/__snapshots__/well-known.test.js.snap
Labels: bug, api

#14917 Removed unused getNewsletterRelations method
  core/server/models/member.js
Labels: running-ci-checks

#14946 Fixed detection of Windows environment when connecting to SQLite temp DB
  core/server/data/db/connection.js
  core/shared/config/utils.js
Labels: running-ci-checks
