Repository TryGhost/Ghost, pull requests merged in 2022-09, with the labels that each got.

#15364 Fixed typo in CI workflow if-statement
  .github/workflows/test.yml
Labels: running-ci-checks

#15365 Added test that validates output HTML of email template
  ghost/admin/package.json
  ghost/core/core/server/services/mega/post-email-serializer.js
  ghost/core/core/server/services/mega/template.js
  ghost/core/package.json
  ghost/core/test/e2e-api/admin/__snapshots__/email-previews.test.js.snap
  ghost/core/test/unit/server/services/mega/post-email-serializer.test.js
  ghost/core/test/unit/server/services/mega/template.test.js
  ghost/offers/package.json
  ghost/security/package.json
  yarn.lock
Labels: running-ci-checks

#15378 🐛 Fix sidebar members number not updated after member create & delete
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/components/gh-nav-menu/main.js
  ghost/admin/app/controllers/members.js
  ghost/admin/app/services/members-stats.js
Labels: needs info

#15403 Added passthrough + saving of lexical property on posts/pages
  ghost/core/core/server/api/endpoints/utils/validators/input/pages.js
  ghost/core/core/server/api/endpoints/utils/validators/input/posts.js
  ghost/core/core/server/models/post.js
  ghost/core/package.json
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/admin/pages.test.js
  ghost/core/test/e2e-api/admin/posts.test.js
  yarn.lock
Labels: running-ci-checks

#15412 Altered CI to upload coverage in one step
  .github/workflows/test.yml
Labels: running-ci-checks

#15443 Removed search labs flag
  ghost/admin/app/services/feature.js
  ghost/admin/app/templates/settings/labs.hbs
  ghost/core/core/frontend/helpers/search.js
  ghost/core/test/unit/frontend/helpers/search.test.js
Labels: running-ci-checks

#15462 Added LinkClickTrackingService unit tests and renamed wrapper
  ghost/core/core/boot.js
  ghost/core/core/server/api/endpoints/links.js
  ghost/core/core/server/services/link-tracking/LinkClickRepository.js
  ghost/core/core/server/services/link-tracking/PostLinkRepository.js
  ghost/core/core/server/services/link-tracking/index.js
  ghost/core/core/server/services/mega/post-email-serializer.js
  ghost/link-tracking/lib/LinkClickTrackingService.js
  ghost/link-tracking/lib/link-tracking.js
  ghost/link-tracking/package.json
  ghost/link-tracking/test/LinkClickTrackingService.test.js
  ghost/link-tracking/test/LinkTrackingService.test.js
Labels: running-ci-checks

#15483 Disabled link replacement when link click tracking is disabled
  ghost/core/core/server/services/mega/post-email-serializer.js
  ghost/link-tracking/lib/LinkClickTrackingService.js
Labels: running-ci-checks

#15489 Increased Vary respnose header granularity
  ghost/core/core/server/services/api-version-compatibility/index.js
  ghost/core/test/e2e-api/admin/__snapshots__/email-previews.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/emails.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/explore.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/labels.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members-exporter.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members-newsletters.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members-stripe-connect.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/notifications.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/offers.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/rate-limiting.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/session.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/site.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/snippets.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/stats.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/webhooks.test.js.snap
  ghost/core/test/e2e-api/content/__snapshots__/newsletters.test.js.snap
  ghost/core/test/e2e-api/content/__snapshots__/offers.test.js.snap
  ghost/core/test/e2e-api/content/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-api/content/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/content/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/content/__snapshots__/tiers.test.js.snap
  ghost/core/test/e2e-api/members/__snapshots__/webhooks.test.js.snap
  ghost/core/test/e2e-api/shared/__snapshots__/version.test.js.snap
  ghost/core/test/regression/api/admin/__snapshots__/authentication.test.js.snap
  ghost/core/test/regression/api/content/posts.test.js
  ghost/core/test/unit/server/services/api-version-compatibility/mw-content-version.test.js
Labels: running-ci-checks

#15493 Added back button from editor to analytics
  ghost/admin/app/components/posts-list/list-item-clicks.js
  ghost/admin/app/controllers/editor.js
  ghost/admin/app/models/post.js
  ghost/admin/app/routes/editor.js
  ghost/admin/app/templates/editor.hbs
Labels: running-ci-checks

#15501 Added email track clicks column and cleaned up frontend checks
  ghost/admin/app/components/posts-list/list-item-clicks.hbs
  ghost/admin/app/components/posts-list/list-item-clicks.js
  ghost/admin/app/components/posts/analytics.hbs
  ghost/admin/app/components/posts/analytics.js
  ghost/admin/app/models/email.js
  ghost/admin/app/models/post.js
  ghost/core/core/server/data/migrations/versions/5.17/2022-09-29-12-39-add-track-clicks-column-to-emails.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/email.js
  ghost/core/core/server/services/mega/mega.js
  ghost/core/test/e2e-api/admin/__snapshots__/emails.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration
