Repository TryGhost/Ghost, pull requests merged in 2023-12, with the labels that each got.

#19220 Updated to refocus settings search field upon clearing it
  apps/admin-x-settings/src/components/Sidebar.tsx
Labels: affects:admin

#19224 Added "support email address" keywords
  apps/admin-x-settings/src/components/settings/membership/MembershipSettings.tsx
Labels: affects:admin

#19221 Updated currency field to prevent floating point issues
  apps/admin-x-design-system/src/global/form/CurrencyField.tsx
Labels: affects:admin

#19203 Added static modal for TK reminders
  ghost/admin/app/components/editor/modals/publish-flow.hbs
  ghost/admin/app/components/editor/modals/publish-flow.js
  ghost/admin/app/components/editor/modals/publish-flow/tk-reminder.hbs
  ghost/admin/app/components/editor/modals/tk-reminder.hbs
  ghost/admin/app/components/editor/publish-management.js
  ghost/admin/app/styles/layouts/editor.css
Labels: affects:admin

#19235 🐛 Fixed links in signup terms
  apps/portal/src/components/pages/OfferPage.js
  apps/portal/src/components/pages/SignupPage.js
  apps/portal/src/utils/links.js
Labels: affects:portal

#19236 Released Portal v2.36.5
  apps/portal/package.json
Labels: affects:portal

#19237 Fixed missing link on upgrade modals
  apps/admin-x-settings/src/components/settings/advanced/integrations/AddIntegrationModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/AddNewsletterModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/general/UserDetailModal.tsx
  apps/admin-x-settings/src/components/settings/site/ThemeModal.tsx
Labels: affects:admin

#19231 Added TK indicator support to post title
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/templates/lexical-editor.hbs
Labels: affects:admin

#19240 Added clipboard write permission to billing iframe
  ghost/admin/app/components/gh-billing-iframe.hbs
Labels: affects:admin

#19229 Updated logic to allow a different name for the free tier
  apps/admin-x-settings/src/components/settings/membership/portal/SignupOptions.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
  apps/portal/src/utils/helpers.js
Labels: affects:admin, affects:portal

#19215 Show Add offer button on settings screen if no offer is present
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
Labels: affects:admin

#19251 Remove validation error once user start typing
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
Labels: affects:admin

#19256 Validation fix
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
Labels: affects:admin

#19238 Added portal default plan setting
  apps/admin-x-framework/src/test/responses/settings.json
  apps/admin-x-settings/src/components/settings/membership/portal/SignupOptions.tsx
  apps/admin-x-settings/src/utils/getPortalPreviewUrl.ts
  apps/portal/src/App.js
  apps/portal/src/components/common/ProductsSection.js
  ghost/admin/mirage/fixtures/settings.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/migrations/versions/5.76/2023-12-05-11-00-add-portal-default-plan-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/core/shared/settings-cache/public.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/settings.test.js
  ghost/core/test/e2e-api/content/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/shared/__snapshots__/version.test.js.snap
  ghost/core/test/regression/models/model_settings.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings-browser.json
  ghost/core/test/utils/fixtures/default-settings.json
Labels: affects:admin, affects:portal, migration

#19247 Updated to support TKs in nested editors
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/package.json
  ghost/core/package.json
  ghost/email-service/package.json
  ghost/importer-revue/package.json
  yarn.lock
Labels: affects:admin

#19257 Fixed horizontal positioning of TK indicators on wider cards
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19260 Wired up checkbox to toggle tier visibility
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
Labels: affects:admin

#19261 Moved hint content to placeholders for consistency PROD-204, PROD-203
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#19262 Added tests for TK indicators within editor
  ghost/admin/tests/acceptance/editor-test.js
  ghost/admin/tests/unit/controllers/editor-test.js
Labels: affects:admin

#19284 Added error reporting when editor instances fail to load
  ghost/admin/app/components/koenig-lexical-editor-input.js
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin

#19289 Removed hardcoded title for single free tier in Portal
  apps/portal/src/utils/helpers.js
Labels: affects:portal

#19297 Add offer cancle button fix
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersContainerModal.tsx
Labels: affects:admin

#19302 🐛 Fixed video uploads hanging in editor when using iOS
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#19306 Flipped thumbs-down icon horizontally in email and Portal
  apps/admin-x-design-system/src/assets/icons/thumbs-down.svg
  apps/portal/src/images/icons/thumbs-down.svg
  apps/portal/src/images/icons/thumbs-up.svg
  ghost/admin/public/assets/icons/thumbs-down.svg
Labels: affects:admin, affects:portal

#19281 Fixed wrong credentials usage in AdminX previews
  apps/admin-x-settings/src/components/settings/site/announcementBar/AnnouncementBarPreview.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemePreview.tsx
Labels: affects:admin

#19307 Changed request type to fetching iframe content in previews
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-settings/src/components/settings/site/announcementBar/AnnouncementBarPreview.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemePreview.tsx
  apps/admin-x-settings/test/acceptance/site/announcementbar.test.ts
  apps/admin-x-settings/test/acceptance/site/design.test.ts
Labels: affects:admin

#19312 Updated AdminX routing to work with and without a leading slash
  apps/admin-x-framework/src/providers/RoutingProvider.tsx
  apps/admin-x-settings/src/components/settings/advanced/Integrations.tsx
  ghost/admin/app/components/admin-x/admin-x-component.js
Labels: affects:admin

#19314 Removed emoji picker feature flag
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/koenig-lexical-editor-input.js
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/feature.js
  ghost/admin/package.json
  ghost/core/core/shared/labs.js
  ghost/core/package.json
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: affects:admin

#19310 Fixed white icon bg's in tier list in dark mode
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
Labels: affects:admin

#19316 Fixed X logo colour in dark mode
  apps/admin-x-design-system/src/assets/images/x-logo.svg
Labels: affects:admin

#19322 Removed extra div when there's no offers to show in the settngs group
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
Labels: affects:admin

#19323 Updated copy of the add offer link in the settings group
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
Labels: affects:admin

#19324 Revert "Add offer cancle button fix"
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersContainerModal.tsx
Labels: affects:admin

#19276 Added yearly discount indicator to monthly/yearly toggle PROD-60 PROD-222 PROD 223
  apps/admin-x-design-system/src/global/form/Select.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/SignupOptions.tsx
  apps/portal/src/components/Global.styles.js
  apps/portal/src/components/common/ProductsSection.js
  apps/portal/src/components/pages/AccountEmailPage.js
  apps/portal/src/components/pages/AccountPlanPage.js
  apps/portal/src/components/pages/AccountPlanPage.test.js
  apps/portal/src/components/pages/SignupPage.js
  apps/portal/src/components/pages/UnsubscribePage.js
  apps/portal/src/utils/helpers.js
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/portal.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/en/portal.json
  ghost/i18n/locales/eo/portal.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/fi/portal.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/gd/portal.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/id/ghost.json
  ghost/i18n/locales/id/portal.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/no/portal.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/ro/portal.json
  ghost/i18n/locales/ru/portal.json
  ghost/i18n/locales/si/portal.json
  ghost/i18n/locales/sk/portal.json
  ghost/i18n/locales/sl/portal.json
  ghost/i18n/locales/sq/portal.json
  ghost/i18n/locales/sr/portal.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/tr/portal.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uz/portal.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh/portal.json
Labels: affects:admin, affects:portal, affects:i18n

#19327 🎨 Updated editor layout to be more mobile friendly
  ghost/admin/app/components/gh-editor-feature-image.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/styles/components/koenig.css
  ghost/admin/app/styles/components/publishmenu.css
  ghost/admin/app/styles/components/settings-menu.css
  ghost/admin/app/styles/layouts/content.css
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/core/test/e2e-browser/admin/publishing.spec.js
  ghost/core/test/e2e-browser/admin/site-settings.spec.js
Labels: affects:admin, browser-tests

#19328 Fixed theme template picker state syncing with AdminX
  ghost/admin/app/components/admin-x/admin-x-component.js
Labels: affects:admin

#19332 Removed linking when there's no redemptions
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19335 Hide copy link feature when there's no offer code
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
Labels: affects:admin

#19341 🐛 Fixed quote and aside formatting being lost in single-block snippets
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#19342 🐛 Fixed inability to drag-select text in caption alt inputs
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19325 Updated Missing Afrikaans Translations
  ghost/i18n/locales/af/comments.json
  ghost/i18n/locales/af/portal.json
Labels: affects:i18n

#19305 Added Thai translations
  ghost/i18n/locales/th/comments.json
  ghost/i18n/locales/th/ghost.json
  ghost/i18n/locales/th/portal.json
  ghost/i18n/locales/th/signup-form.json
Labels: affects:i18n

#19348 Add offer cancel button fix
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersContainerModal.tsx
Labels: affects:admin

#19349 Added design improvements to the Portal preview in offers
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/portal/src/components/Frame.styles.js
Labels: affects:admin, affects:portal

#19350 Edit cancle button fix
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19352 Dark mode improvements for offers
  apps/admin-x-design-system/src/global/SortMenu.tsx
  apps/admin-x-design-system/src/global/form/TextArea.tsx
  apps/admin-x-design-system/src/global/form/TextField.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19353 Reverted "Update Vite packages"
  apps/admin-x-design-system/package.json
  apps/admin-x-framework/package.json
  apps/admin-x-settings/package.json
  apps/announcement-bar/package.json
  apps/comments-ui/package.json
  apps/portal/package.json
  apps/signup-form/package.json
  apps/sodo-search/package.json
  yarn.lock
Labels: affects:admin, affects:portal

#19356 Dark mode improvements for offers success screen
  apps/admin-x-settings/src/components/settings/growth/offers/OfferSuccess.tsx
Labels: affects:admin

#19358 Removed validation onBlur
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
Labels: affects:admin

#19361 Fixed offers asc/desc sorting not updating in component
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19278 Update migration in settings
  apps/admin-x-design-system/src/assets/icons/download.svg
  apps/admin-x-design-system/src/assets/icons/export.svg
  apps/admin-x-design-system/src/assets/icons/import.svg
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-framework/src/test/render.tsx
  apps/admin-x-settings/src/assets/icons/mailchimp.svg
  apps/admin-x-settings/src/assets/icons/medium.svg
  apps/admin-x-settings/src/assets/icons/substack.svg
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/components/settings/advanced/AdvancedSettings.tsx
  apps/admin-x-settings/src/components/settings/advanced/DangerZone.tsx
  apps/admin-x-settings/src/components/settings/advanced/Labs.tsx
  apps/admin-x-settings/src/components/settings/advanced/MigrationTools.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/BetaFeatures.tsx
  apps/admin-x-settings/src/components/settings/advanced/migrationtools/MigrationToolsExport.tsx
  apps/admin-x-settings/src/components/settings/advanced/migrationtools/MigrationToolsImport.tsx
  apps/admin-x-settings/src/components/settings/advanced/migrationtools/UniversalImportModal.tsx
  apps/admin-x-settings/src/main.tsx
  apps/admin-x-settings/src/styles/demo.css
  apps/admin-x-settings/test/acceptance/advanced/dangerzone.test.ts
  apps/admin-x-settings/test/acceptance/advanced/labs.test.ts
  apps/admin-x-settings/test/acceptance/advanced/migrationTools.test.ts
  apps/admin-x-settings/test/utils/files/upload.zip
  ghost/admin/app/controllers/migrate.js
  ghost/admin/app/router.js
  ghost/admin/app/services/migrate.js
Labels: affects:admin

#19363 Fixed minor design issues in offers
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19365 Fixed number formatting of offer redemptions count
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
Labels: affects:admin

#19364 Enabled persistent filesystem caching for Ember builds
  ghost/admin/ember-cli-build.js
  package.json
Labels: affects:admin

#19367 🐛 Fixed hang in editor when back button is pressed whilst feature image caption is focused
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

#19369 Fixed error when deleting post
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

#19346 Added Missing German Translations
  ghost/i18n/locales/de/comments.json
  ghost/i18n/locales/de/portal.json
Labels: affects:i18n

#19373 Added performance adjustments to Portal iFrames
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19374 Fixed validation error: Corrected fields should revert back from erro…
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
Labels: affects:admin

#19376 Validation fix: Corrected fields should revert back from error-state
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
Labels: affects:admin

#19377 [WIP] Portal Iframe Improvements in Admin X
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19379 Removed onBlur error feedback in Newsletter General settings
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#19381 Removed onBlur error feedback on Tier detail modal
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
Labels: affects:admin

#19383 Removed onBlur error feedback in Custom Integration edit modal
  apps/admin-x-settings/src/components/settings/advanced/integrations/CustomIntegrationModal.tsx
Labels: affects:admin

#19382 Removed onBlur error feedback in Recommendation edit modal
  apps/admin-x-settings/src/components/settings/advanced/integrations/AddIntegrationModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/AddNewsletterModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/general/UserDetailModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/recommendations/AddRecommendationModal.tsx
  apps/admin-x-settings/src/components/settings/growth/recommendations/RecommendationDescriptionForm.tsx
  apps/admin-x-settings/test/acceptance/advanced/integrations/custom.test.ts
  apps/admin-x-settings/test/acceptance/email/newsletters.test.ts
  apps/admin-x-settings/test/acceptance/general/users/profile.test.ts
  apps/admin-x-settings/test/acceptance/membership/recommendations.test.ts
Labels: affects:admin

#19372 Update portal.json
  ghost/i18n/locales/tr/portal.json
Labels: affects:i18n

#19385 Updated files with mixed named/default exports to use only named exports
  apps/admin-x-demo/playwright.config.mjs
  apps/admin-x-framework/src/index.ts
  apps/admin-x-framework/src/playwright.ts
  apps/admin-x-framework/src/providers/FrameworkProvider.tsx
  apps/admin-x-framework/src/providers/RoutingProvider.tsx
  apps/admin-x-framework/src/routing.ts
  apps/admin-x-framework/test/unit/utils/api/fetchApi.test.tsx
  apps/admin-x-framework/test/unit/utils/api/hooks.test.tsx
  apps/admin-x-settings/playwright.config.mjs
Labels: affects:admin
