Repository TryGhost/Ghost, pull requests merged in 2023-06, with the labels that each got.

#16919 Updated Bahasa Indonesia translations
  ghost/i18n/locales/id/ghost.json
  ghost/i18n/locales/id/portal.json
Labels: i18n

#16909 Enabled and tracked retries in CI tests
  ghost/core/package.json
  ghost/core/test/utils/mocha-retry-reporter.js
  yarn.lock
Labels: running-ci-checks

#16920 Updated Spanish translations
  ghost/i18n/locales/es/portal.json
Labels: i18n

#16914 Added initial i18n implementation for Signup-form
  ghost/i18n/locales/af/signup-form.json
  ghost/i18n/locales/bg/signup-form.json
  ghost/i18n/locales/ca/signup-form.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/signup-form.json
  ghost/i18n/locales/da/signup-form.json
  ghost/i18n/locales/de/signup-form.json
  ghost/i18n/locales/en/signup-form.json
  ghost/i18n/locales/eo/signup-form.json
  ghost/i18n/locales/es/signup-form.json
  ghost/i18n/locales/fi/signup-form.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/fr/signup-form.json
  ghost/i18n/locales/hu/signup-form.json
  ghost/i18n/locales/id/signup-form.json
  ghost/i18n/locales/it/signup-form.json
  ghost/i18n/locales/ko/signup-form.json
  ghost/i18n/locales/mn/signup-form.json
  ghost/i18n/locales/nl/signup-form.json
  ghost/i18n/locales/no/signup-form.json
  ghost/i18n/locales/pl/signup-form.json
  ghost/i18n/locales/pt-BR/signup-form.json
  ghost/i18n/locales/pt/signup-form.json
  ghost/i18n/locales/ro/signup-form.json
  ghost/i18n/locales/ru/signup-form.json
  ghost/i18n/locales/si/signup-form.json
  ghost/i18n/locales/sl/signup-form.json
  ghost/i18n/locales/sq/signup-form.json
  ghost/i18n/locales/sr/signup-form.json
  ghost/i18n/locales/sv/signup-form.json
  ghost/i18n/locales/tr/signup-form.json
  ghost/i18n/locales/uk/signup-form.json
  ghost/i18n/locales/uz/signup-form.json
  ghost/i18n/locales/vi/signup-form.json
  ghost/i18n/locales/zh-Hant/signup-form.json
  ghost/i18n/locales/zh/signup-form.json
  ghost/i18n/package.json
  ghost/i18n/test/i18n.test.js
  ghost/i18n/tsconfig.json
  ghost/signup-form/package.json
  ghost/signup-form/src/App.tsx
  ghost/signup-form/src/AppContext.ts
  ghost/signup-form/src/Preview.stories.tsx
  ghost/signup-form/src/components/pages/FormPage.tsx
  ghost/signup-form/src/components/pages/SuccessView.tsx
  ghost/signup-form/tsconfig.json
  ghost/signup-form/vite.config.ts
  yarn.lock
Labels: i18n

#16926 Added traditional Chinese translatinos for signup-form
  ghost/i18n/locales/zh-Hant/signup-form.json
Labels: i18n

#16927 Updated Turkish translations for signup-form
  ghost/i18n/locales/tr/signup-form.json
Labels: i18n

#16930 Updated Spanish Portal translations
  ghost/i18n/locales/es/portal.json
Labels: i18n

#16931 Updated French translations for signup-form
  ghost/i18n/locales/fr/signup-form.json
Labels: i18n

#16928 Added Croatian translations
  ghost/i18n/locales/hr/ghost.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hr/signup-form.json
Labels: i18n

#16897 Updated default value for image editor integration
  ghost/core/core/server/data/migrations/versions/5.51/2023-05-30-19-03-update-pintura-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings.json
Labels: migration

#16940 Updated Spanish translations
  ghost/i18n/locales/es/ghost.json
  ghost/i18n/locales/es/signup-form.json
Labels: i18n

#16945 Wired up collections to posts endpoint
  ghost/collections/src/CollectionsRepositoryInMemory.ts
  ghost/collections/src/CollectionsService.ts
  ghost/collections/test/collections.test.ts
  ghost/core/core/server/api/endpoints/collections.js
  ghost/core/core/server/api/endpoints/posts.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/posts.js
  ghost/core/core/server/services/collections/index.js
  ghost/core/core/server/services/posts/posts-service.js
  ghost/core/test/unit/server/services/collections/CollectionsServiceWrapper.test.js
  ghost/posts-service/lib/PostsService.js
Labels: running-ci-checks

#16964 Updated Swedish translations
  ghost/i18n/locales/sv/ghost.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/sv/signup-form.json
Labels: i18n

#16966 Updated Italian translations
  ghost/i18n/locales/it/ghost.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/it/signup-form.json
Labels: i18n

#16976 Improved oversized batch correction logic
  ghost/email-service/lib/BatchSendingService.js
  ghost/email-service/test/batch-sending-service.test.js
  ghost/email-service/test/utils/index.js
Labels: bug, p0:critical

#16982 Updated Turkish translation
  ghost/i18n/locales/tr/signup-form.json
Labels: i18n

#16979 Updated Turkish translation
  ghost/i18n/locales/tr/signup-form.json
Labels: i18n

#16981 Updated Bahasa Indonesia translations
  ghost/i18n/locales/id/signup-form.json
Labels: i18n

#16995 Updated Chinese translations
  ghost/i18n/locales/zh/signup-form.json
Labels: i18n

#16992 Updated Catalan translations
  ghost/i18n/locales/ca/ghost.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/ca/signup-form.json
Labels: i18n

#17011 Updated traditional Chinese translatinos
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh-Hant/signup-form.json
Labels: i18n

#16942 Updated French translations
  ghost/i18n/locales/context.json
  ghost/i18n/locales/fr/ghost.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/fr/signup-form.json
Labels: i18n

#16765 Fixed post editor items getting cut off on iOS
  ghost/admin/app/components/gh-koenig-editor.hbs
  ghost/admin/app/styles/components/settings-menu.css
  ghost/admin/app/styles/layouts/editor.css
Labels: design

#16967 Updated Danish translations
  ghost/i18n/locales/da/ghost.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/da/signup-form.json
Labels: i18n

#17002 🐛 Fixed horizontal scrolling on signup form input field.
  ghost/signup-form/src/components/pages/FormView.tsx
Labels: design

#16952 Added Malay locale
  ghost/i18n/locales/ms/ghost.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/ms/signup-form.json
Labels: changes requested, i18n

#16968 Updated Brazilian Portuguese translations
  ghost/i18n/locales/pt-BR/ghost.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt-BR/signup-form.json
Labels: changes requested, i18n

#17010 Updated Brazilian Portuguese translations
  ghost/i18n/locales/pt-BR/ghost.json
  ghost/i18n/locales/pt-BR/portal.json
Labels: changes requested, i18n

#17027 Updated German translations
  ghost/i18n/locales/de/signup-form.json
Labels: i18n

#17039 Added fetching of posts by collection
  ghost/core/core/server/api/endpoints/posts.js
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/admin/posts.test.js
  ghost/posts-service/lib/PostsService.js
Labels: running-ci-checks

#17040 Optimized DB reset during tests
  ghost/core/test/utils/db-utils.js
Labels: running-ci-checks

#17045 Updated German translations
  ghost/i18n/locales/de/ghost.json
Labels: i18n

#17052 Updated Vietnamese translations
  ghost/i18n/locales/vi/signup-form.json
Labels: i18n

#17051 Updated Vietnamese translations
  ghost/i18n/locales/vi/ghost.json
Labels: i18n

#17057 Moved collections initialisation behind labs flag
  ghost/core/core/server/services/collections/built-in-collections.js
  ghost/core/core/server/services/collections/index.js
  ghost/core/test/e2e-api/admin/collections.test.js
Labels: running-ci-checks

#17062 Updated Sinhalese translations
  ghost/i18n/locales/si/signup-form.json
Labels: i18n

#17063 Updated Sinhalese translations
  ghost/i18n/locales/si/ghost.json
Labels: i18n

#17060 Updated Sinhalese translations
  ghost/i18n/locales/si/portal.json
Labels: i18n

#16991 Updated Bulgarian translations
  ghost/i18n/locales/bg/ghost.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/bg/signup-form.json
Labels: i18n

#16996 Updated Traditional Chinese translations
  ghost/i18n/locales/zh-Hant/ghost.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh-Hant/signup-form.json
Labels: changes requested, i18n

#17050 Added Japanese translations
  ghost/i18n/locales/ja/ghost.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ja/signup-form.json
Labels: i18n

#17098 Fixed hack to kill Ghost after boot in tests
  .github/workflows/test.yml
  ghost/core/core/boot.js
Labels: running-ci-checks

#17107 Updated Dutch translations
  ghost/i18n/locales/nl/ghost.json
  ghost/i18n/locales/nl/portal.json
Labels: i18n

#17096 Updated Sinhalese translations
  ghost/i18n/locales/si/portal.json
Labels: i18n

#16751 Updated Czech translations
  ghost/i18n/locales/cz/ghost.json
  ghost/i18n/locales/cz/portal.json
Labels: changes requested, i18n

#17110 Removed Bluebird from tests
  ghost/core/test/e2e-api/admin/actions.test.js
  ghost/core/test/e2e-api/admin/users.test.js
  ghost/core/test/integration/importer/v2.test.js
  ghost/core/test/integration/migrations/migration.test.js
  ghost/core/test/regression/models/base/listeners.test.js
  ghost/core/test/regression/models/model_posts.test.js
  ghost/core/test/regression/models/model_users.test.js
  ghost/core/test/unit/server/adapters/scheduling/post-scheduling/post-scheduler.test.js
  ghost/core/test/utils/e2e-utils.js
Labels: running-ci-checks

#16990 Add endpoint to record mail events
  .github/dev.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/templates/settings/labs.hbs
  ghost/core/core/boot.js
  ghost/core/core/server/api/endpoints/index.js
  ghost/core/core/server/api/endpoints/mail-events.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/index.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/mail-events.js
  ghost/core/core/server/api/endpoints/utils/validators/input/index.js
  ghost/core/core/server/api/endpoints/utils/validators/input/mail-events.js
  ghost/core/core/server/data/migrations/versions/5.53/2023-06-13-12-24-add-temp-mail-events-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/mail-event.js
  ghost/core/core/server/services/mail-events/BookshelfMailEventRepository.js
  ghost/core/core/server/services/mail-events/index.js
  ghost/core/core/server/web/api/endpoints/admin/routes.js
  ghost/core/core/shared/labs.js
  ghost/core/package.json
  ghost/core/test/e2e-api/admin/__snapshots__/mail-events.test.js.snap
  ghost/core/test/e2e-api/admin/mail-events.test.js
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/unit/server/services/mail-events/BookshelfMailEventRepository.test.js
  ghost/mail-events/.eslintrc.js
  ghost/mail-events/README.md
  ghost/mail-events/package.json
  ghost/mail-events/src/InMemoryMailEventRepository.ts
  ghost/mail-events/src/MailEvent.ts
  ghost/mail-events/src/MailEventRepository.ts
  ghost/mail-events/src/MailEventService.ts
  ghost/mail-events/src/index.ts
  ghost/mail-events/test/.eslintrc.js
  ghost/mail-events/test/MailEventService.test.ts
  ghost/mail-events/tsconfig.json
Labels: migration

#17108 Added tables to persist Collections
  ghost/core/core/server/data/exporter/table-lists.js
  ghost/core/core/server/data/migrations/versions/5.53/2023-06-20-10-18-add-collections-posts-table.js
  ghost/core/core/server/data/migrations/versions/5.53/2023-06-20-10-18-add-collections-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#17140 Fixed performance issue when checking theme name
  ghost/core/package.json
  yarn.lock
Labels: running-ci-checks
