Repository TryGhost/Ghost, pull requests merged in 2023-10, with the labels that each got.

#18510 Updated Brazilian Portuguese translations
  ghost/i18n/locales/pt-BR/comments.json
  ghost/i18n/locales/pt-BR/portal.json
Labels: i18n

#18485 Fixed typo in Turkish translations
  ghost/i18n/locales/tr/comments.json
Labels: i18n

#17189 Fixed post items getting cut off on iOS
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor.hbs
  ghost/admin/app/styles/components/koenig.css
  ghost/admin/app/styles/components/settings-menu.css
Labels: design

#18399 Updated Afrikaans Translations
  ghost/i18n/locales/af/portal.json
Labels: i18n

#18527 Renamed reason to description in recommendations table
  apps/admin-x-settings/src/api/recommendations.ts
  apps/admin-x-settings/src/components/settings/site/recommendations/AddRecommendationModal.tsx
  apps/admin-x-settings/src/components/settings/site/recommendations/AddRecommendationModalConfirm.tsx
  apps/admin-x-settings/src/components/settings/site/recommendations/EditRecommendationModal.tsx
  apps/admin-x-settings/src/components/settings/site/recommendations/RecommendationDescriptionForm.tsx
  apps/admin-x-settings/test/acceptance/site/recommendations.test.ts
  apps/admin-x-settings/test/utils/responses/recommendations.json
  apps/portal/src/components/pages/RecommendationsPage.js
  ghost/core/core/frontend/helpers/tpl/recommendations.hbs
  ghost/core/core/server/data/migrations/utils/schema.js
  ghost/core/core/server/data/migrations/versions/5.69/2023-10-06-15-06-00-rename-recommendations-reason-to-description.js
  ghost/core/core/server/data/schema/commands.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/e2e-api/admin/__snapshots__/recommendations.test.js.snap
  ghost/core/test/e2e-api/admin/recommendations.test.js
  ghost/core/test/e2e-api/content/__snapshots__/recommendations.test.js.snap
  ghost/core/test/e2e-api/content/recommendations.test.js
  ghost/core/test/e2e-api/members/recommendations.test.js
  ghost/core/test/e2e-server/services/__snapshots__/recommendation-emails.test.js.snap
  ghost/core/test/e2e-server/services/recommendation-emails.test.js
  ghost/core/test/unit/frontend/helpers/recommendations.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/recommendations/src/BookshelfRecommendationRepository.ts
  ghost/recommendations/src/Recommendation.ts
  ghost/recommendations/src/RecommendationController.ts
  ghost/recommendations/test/BookshelfRecommendationRepository.test.ts
  ghost/recommendations/test/Recommendation.test.ts
  ghost/recommendations/test/RecommendationController.test.ts
  ghost/recommendations/test/RecommendationService.test.ts
  ghost/recommendations/test/WellknownService.test.ts
Labels: migration

#18512 Updated Bahasa Indonesia translations for Portal
  ghost/i18n/locales/id/portal.json
Labels: i18n

#18400 Updated Turkish translations
  ghost/i18n/locales/tr/comments.json
Labels: i18n

#18516 Updated Catalan translations
  ghost/i18n/locales/ca/comments.json
  ghost/i18n/locales/ca/portal.json
Labels: i18n

#18576 Add missing context descriptions to i18n
  ghost/i18n/locales/context.json
Labels: i18n

#18565 Update comments.json
  ghost/i18n/locales/tr/comments.json
Labels: i18n

#18182 Update comments.json
  ghost/i18n/locales/vi/comments.json
Labels: i18n

#18394 Updated sinhala translations
  ghost/i18n/locales/si/portal.json
Labels: i18n

#18398 Update Sinhaleese Translations
  ghost/i18n/locales/si/comments.json
Labels: i18n

#18501 Added French translations for comments
  ghost/i18n/locales/fr/comments.json
Labels: i18n

#18625 Update comments.json - ko
  ghost/i18n/locales/ko/comments.json
Labels: i18n

#18641 Moved browser E2E tests into CI workflow
  .github/workflows/browser-tests.yml
  .github/workflows/ci.yml
Labels: browser-tests

#18623 Added theme version in design settings
  apps/admin-x-settings/src/components/settings/site/DesignModal.tsx
Labels: admin client

#18552 Updated simplified Chinese translations
  ghost/i18n/locales/zh/portal.json
Labels: i18n

#18662 Switch to 4-core runners for browser tests
  .github/workflows/ci.yml
Labels: browser-tests

#18024 Added missing and updated some strings for HR lang
  ghost/i18n/locales/hr/comments.json
  ghost/i18n/locales/hr/ghost.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hr/signup-form.json
Labels: i18n

#18677 Updated theme fixtures for casper and source
  ghost/core/test/e2e-api/admin/themes.test.js
  ghost/core/test/utils/fixtures/themes/README.md
  ghost/core/test/utils/fixtures/themes/casper.zip
  ghost/core/test/utils/fixtures/themes/casper/assets/built/casper.js
  ghost/core/test/utils/fixtures/themes/casper/assets/built/casper.js.map
  ghost/core/test/utils/fixtures/themes/casper/assets/built/global.css
  ghost/core/test/utils/fixtures/themes/casper/assets/built/global.css.map
  ghost/core/test/utils/fixtures/themes/casper/assets/built/screen.css
  ghost/core/test/utils/fixtures/themes/casper/assets/built/screen.css.map
  ghost/core/test/utils/fixtures/themes/casper/assets/images/default-skin.png
  ghost/core/test/utils/fixtures/themes/casper/assets/images/default-skin.svg
  ghost/core/test/utils/fixtures/themes/casper/assets/images/preloader.gif
  ghost/core/test/utils/fixtures/themes/casper/author.hbs
  ghost/core/test/utils/fixtures/themes/casper/default.hbs
  ghost/core/test/utils/fixtures/themes/casper/error-404.hbs
  ghost/core/test/utils/fixtures/themes/casper/error.hbs
  ghost/core/test/utils/fixtures/themes/casper/index.hbs
  ghost/core/test/utils/fixtures/themes/casper/package.json
  ghost/core/test/utils/fixtures/themes/casper/page.hbs
  ghost/core/test/utils/fixtures/themes/casper/partials/icons/facebook.hbs
  ghost/core/test/utils/fixtures/themes/casper/partials/icons/fire.hbs
  ghost/core/test/utils/fixtures/themes/casper/partials/icons/lock.hbs
  ghost/core/test/utils/fixtures/themes/casper/partials/icons/search.hbs
  ghost/core/test/utils/fixtures/themes/casper/partials/icons/twitter.hbs
  ghost/core/test/utils/fixtures/themes/casper/partials/lightbox.hbs
  ghost/core/test/utils/fixtures/themes/casper/partials/post-card.hbs
  ghost/core/test/utils/fixtures/themes/casper/post.hbs
  ghost/core/test/utils/fixtures/themes/casper/tag.hbs
  ghost/core/test/utils/fixtures/themes/source.zip
  ghost/core/test/utils/fixtures/themes/source/LICENSE
  ghost/core/test/utils/fixtures/themes/source/assets/built/screen.css
  ghost/core/test/utils/fixtures/themes/source/assets/built/screen.css.map
  ghost/core/test/utils/fixtures/themes/source/assets/built/source.js
  ghost/core/test/utils/fixtures/themes/source/assets/built/source.js.map
  ghost/core/test/utils/fixtures/themes/source/assets/fonts/jetbrains-mono-italic.woff2
  ghost/core/test/utils/fixtures/themes/source/assets/fonts/jetbrains-mono-roman.woff2
  ghost/core/test/utils/fixtures/themes/source/assets/fonts/roboto-slab-roman.woff2
  ghost/core/test/utils/fixtures/themes/source/author.hbs
  ghost/core/test/utils/fixtures/themes/source/default.hbs
  ghost/core/test/utils/fixtures/themes/source/home.hbs
  ghost/core/test/utils/fixtures/themes/source/index.hbs
  ghost/core/test/utils/fixtures/themes/source/package.json
  ghost/core/test/utils/fixtures/themes/source/partials/components/featured.hbs
  ghost/core/test/utils/fixtures/themes/source/partials/components/header-content.hbs
  ghost/core/test/utils/fixtures/themes/source/partials/components/header.hbs
  ghost/core/test/utils/fixtures/themes/source/partials/components/post-list.hbs
  ghost/core/test/utils/fixtures/themes/source/partials/feature-image.hbs
  ghost/core/test/utils/fixtures/themes/source/partials/post-card.hbs
  ghost/core/test/utils/fixtures/themes/source/post.hbs
  ghost/core/test/utils/fixtures/themes/source/tag.hbs
Labels: browser-tests

#18606 Fixed and restored new AdminX E2E tests
  ghost/admin/tests/acceptance/editor-test.js
  ghost/admin/tests/acceptance/editor/publish-flow-test.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: browser-tests

#18735 Updated ghost.json i18n NL lang
  ghost/i18n/locales/nl/ghost.json
Labels: i18n

#18189 Updated Spanish translations
  ghost/i18n/locales/es/portal.json
Labels: i18n

#18764 Updated Brazilian Portuguese translations
  ghost/i18n/locales/pt-BR/comments.json
Labels: i18n

#18786 Updated translations with latest changes
  ghost/i18n/locales/vi/comments.json
Labels: i18n

#18186 Updated Vietnamese translations
  ghost/i18n/locales/vi/portal.json
Labels: i18n

#18401 Added Slovak translations
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/sk/comments.json
  ghost/i18n/locales/sk/ghost.json
  ghost/i18n/locales/sk/portal.json
  ghost/i18n/locales/sk/signup-form.json
Labels: i18n

#18798 Updated Traditional Chinese translations
  ghost/i18n/locales/zh-Hant/comments.json
  ghost/i18n/locales/zh-Hant/portal.json
Labels: i18n

#18716 Updated Japanese translation
  ghost/i18n/locales/ja/ghost.json
Labels: i18n

#18732 Updated Turkish translation
  ghost/i18n/locales/tr/comments.json
Labels: i18n

#18805 Added indexes to `members_created_events` and `members_subscription_created_events`
  ghost/core/core/server/data/migrations/utils/schema.js
  ghost/core/core/server/data/migrations/versions/5.72/2023-10-31-11-06-00-members-created-attribution-id-index.js
  ghost/core/core/server/data/migrations/versions/5.72/2023-10-31-11-06-01-members-subscription-created-attribution-id-index.js
  ghost/core/core/server/data/schema/commands.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#18744 Updated Norwegian translations
  ghost/i18n/locales/no/ghost.json
  ghost/i18n/locales/no/portal.json
Labels: i18n

#18447 Updated Russian translations
  ghost/i18n/locales/ru/signup-form.json
Labels: i18n

#18768 Updated Russian translations
  ghost/i18n/locales/ru/comments.json
Labels: i18n
