Repository TryGhost/Ghost, pull requests merged in 2023-04, with the labels that each got.

#16545 Added Portal signup terms settings and migration
  ghost/admin/app/models/setting.js
  ghost/admin/mirage/fixtures/settings.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/migrations/versions/5.42/2023-04-04-07-03-add-portal-terms-settings.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/core/shared/settings-cache/public.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/settings.test.js
  ghost/core/test/e2e-api/content/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/shared/__snapshots__/version.test.js.snap
  ghost/core/test/regression/models/model_settings.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings-browser.json
  ghost/core/test/utils/fixtures/default-settings.json
Labels: migration

#16562 Added yarn resolution for `@tryghost/errors`
  ghost/api-framework/package.json
  ghost/audience-feedback/package.json
  ghost/core/package.json
  ghost/custom-theme-settings-service/package.json
  ghost/email-service/package.json
  ghost/job-manager/package.json
  ghost/link-tracking/package.json
  ghost/magic-link/package.json
  ghost/members-api/package.json
  ghost/members-events-service/package.json
  ghost/members-importer/package.json
  ghost/members-ssr/package.json
  ghost/milestones/package.json
  ghost/minifier/package.json
  ghost/mw-api-version-mismatch/package.json
  ghost/mw-error-handler/package.json
  ghost/mw-version-match/package.json
  ghost/oembed-service/package.json
  ghost/offers/package.json
  ghost/package-json/package.json
  ghost/payments/package.json
  ghost/posts-service/package.json
  ghost/settings-path-manager/package.json
  ghost/slack-notifications/package.json
  ghost/stripe/package.json
  ghost/tiers/package.json
  ghost/update-check-service/package.json
  ghost/verification-trigger/package.json
  ghost/webmentions/package.json
  package.json
  yarn.lock
Labels: running-ci-checks

#16567 Removed heavy dependency within `@tryghost/errors`
  ghost/api-framework/package.json
  ghost/audience-feedback/package.json
  ghost/core/package.json
  ghost/custom-theme-settings-service/package.json
  ghost/email-service/package.json
  ghost/job-manager/package.json
  ghost/link-tracking/package.json
  ghost/magic-link/package.json
  ghost/members-api/package.json
  ghost/members-events-service/package.json
  ghost/members-importer/package.json
  ghost/members-ssr/package.json
  ghost/milestones/package.json
  ghost/minifier/package.json
  ghost/mw-api-version-mismatch/package.json
  ghost/mw-error-handler/package.json
  ghost/mw-version-match/package.json
  ghost/oembed-service/package.json
  ghost/offers/package.json
  ghost/package-json/package.json
  ghost/payments/package.json
  ghost/posts-service/package.json
  ghost/settings-path-manager/package.json
  ghost/slack-notifications/package.json
  ghost/stripe/package.json
  ghost/tiers/package.json
  ghost/update-check-service/package.json
  ghost/verification-trigger/package.json
  ghost/webmentions/package.json
  package.json
  yarn.lock
Labels: running-ci-checks

#16568 Enabled `--prefer-offline` in CI to reduce network requests
  .github/workflows/test.yml
Labels: running-ci-checks

#16578 Update email mock receiver
  ghost/core/package.json
  ghost/core/test/regression/api/admin/__snapshots__/authentication.test.js.snap
  ghost/core/test/regression/api/admin/authentication.test.js
  ghost/core/test/unit/server/services/settings/__snapshots__/settings-bread-service.test.js.snap
  ghost/core/test/unit/server/services/settings/settings-bread-service.test.js
  yarn.lock
Labels: running-ci-checks

#16575 Added Italian locale for Portal
  ghost/i18n/locales/it/ghost.json
  ghost/i18n/locales/it/portal.json
Labels: i18n

#16541 Added Esperanto locale
  ghost/i18n/locales/eo/ghost.json
  ghost/i18n/locales/eo/portal.json
Labels: i18n

#16551 Added Swedish translations
  ghost/i18n/locales/sv/ghost.json
  ghost/i18n/locales/sv/portal.json
Labels: i18n

#16557 Added Brazilian Portuguese translations
  ghost/i18n/locales/pt-br/ghost.json
  ghost/i18n/locales/pt-br/portal.json
Labels: i18n

#16548 Added Vietnamese translations
  ghost/i18n/locales/vi/ghost.json
  ghost/i18n/locales/vi/portal.json
Labels: i18n

#16577 Added email content snapshots to version tests
  ghost/core/test/e2e-api/shared/__snapshots__/version.test.js.snap
  ghost/core/test/e2e-api/shared/version.test.js
  ghost/core/test/utils/e2e-framework.js
Labels: running-ci-checks

#16546 Fixed a few typos in the French translation
  ghost/i18n/locales/fr/ghost.json
  ghost/i18n/locales/fr/portal.json
Labels: i18n

#16586 Added email snapshot test to member suite
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/members.test.js
Labels: running-ci-checks

#16590 Added Bulgarian translations
  ghost/i18n/locales/bg/ghost.json
  ghost/i18n/locales/bg/portal.json
Labels: i18n

#16596 Added Turkish locale
  ghost/i18n/locales/tr/ghost.json
  ghost/i18n/locales/tr/portal.json
Labels: i18n

#16594 Added Slovenian locale
  ghost/i18n/locales/sl/ghost.json
  ghost/i18n/locales/sl/portal.json
Labels: i18n

#16593 Proposed a more formal French translation
  ghost/i18n/locales/fr/ghost.json
  ghost/i18n/locales/fr/portal.json
Labels: i18n

#16623 Added Chinese local translation (zh) for portal.json&ghost.json
  ghost/i18n/locales/zh/ghost.json
  ghost/i18n/locales/zh/portal.json
Labels: i18n

#16622 Correction of terms in pt-br
  ghost/i18n/locales/pt-br/ghost.json
  ghost/i18n/locales/pt-br/portal.json
Labels: i18n

#16595 Added Sinhalese locale for Portal
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/si/ghost.json
  ghost/i18n/locales/si/portal.json
Labels: i18n

#16627 Added Danish translation
  ghost/i18n/locales/da/ghost.json
  ghost/i18n/locales/da/portal.json
Labels: i18n

#16621 Updated Slovenian locale
  ghost/i18n/locales/sl/ghost.json
  ghost/i18n/locales/sl/portal.json
Labels: i18n

#16649 Added author & title to post revisions
  ghost/core/core/server/data/migrations/versions/5.45/2023-04-17-11-05-add-post-revision-author.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#16664 Renamed foreign key constraint in migration v5.45
  ghost/core/core/server/data/migrations/versions/5.45/2023-04-17-11-05-add-post-revision-author.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#16668 Fixed maxlength for author_id in migration v5.45
  ghost/core/core/server/data/migrations/versions/5.45/2023-04-17-11-05-add-post-revision-author.js
Labels: migration

#16654 Added announcement data to settings
  ghost/core/core/server/data/migrations/versions/5.45/2023-04-18-12-56-add-announcement-settings.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/settings.test.js
  ghost/core/test/regression/models/model_settings.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings.json
Labels: migration

#16682 Added new settings for pintura editor integration
  ghost/core/core/server/data/migrations/versions/5.45/2023-04-19-13-45-add-pintura-settings.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#16687 Corrected announcement_visibility setting type
  ghost/core/core/server/api/endpoints/utils/validators/input/settings.js
  ghost/core/core/server/data/migrations/versions/5.45/2023-04-18-12-56-add-announcement-settings.js
  ghost/core/core/server/data/migrations/versions/5.45/2023-04-20-14-19-add-announcement-visibility-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/settings.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings.json
Labels: migration

#16695 Added feature_image to post_revisions
  ghost/core/core/server/data/migrations/versions/5.45/2023-04-21-10-30-add-feature-image-to-revisions.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/post.js
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/post-revisions/lib/post-revisions.js
Labels: migration

#16693 Added `post-status` and `reason` col to `post_revisions`
  ghost/core/core/server/data/migrations/versions/5.45/2023-04-21-08-54-add-post-revision-status.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#16637 Added 🇺🇦 Ukrainian locale for Portal
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/uk/ghost.json
  ghost/i18n/locales/uk/portal.json
Labels: i18n
