Repository TryGhost/Ghost, pull requests merged in 2023-07, with the labels that each got.

#17183 Added CI step to allow PR automerge
  .github/workflows/test.yml
Labels: running-ci-checks

#17172 Added missing Sinhalese translations
  ghost/i18n/locales/si/ghost.json
Labels: i18n

#17164 Updated Swedish translations for signup-form
  ghost/i18n/locales/sv/signup-form.json
Labels: i18n

#17187 Added migration and schema change for `posts_meta.hide_title_and_feature_image`
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/pages.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/utils/clean.js
  ghost/core/core/server/data/migrations/versions/5.54/2023-07-03-15-22-add-hide-title-and-feature-image-column-to-posts-meta.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/posts-meta.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#17239 Moved `posts_meta.hide_title_and_feature_image` to `posts.show_title_and_feature_image`
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/gh-post-settings-menu.js
  ghost/admin/app/models/post.js
  ghost/admin/app/serializers/post.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/posts.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/utils/clean.js
  ghost/core/core/server/data/migrations/versions/5.54/2023-07-03-15-22-add-hide-title-and-feature-image-column-to-posts-meta.js
  ghost/core/core/server/data/migrations/versions/5.54/2023-07-07-11-57-add-show-title-and-feature-image-column-to-posts.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/post.js
  ghost/core/core/server/models/posts-meta.js
  ghost/core/package.json
  ghost/core/test/e2e-api/admin/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-api/admin/pages.test.js
  ghost/core/test/e2e-api/admin/utils.js
  ghost/core/test/e2e-api/content/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  yarn.lock
Labels: migration

#17255 Allowed for index collection to have empty filter
  ghost/collections/src/Collection.ts
  ghost/collections/test/Collection.test.ts
Labels: running-ci-checks

#17153 Added Nynorsk Norwegian translations
  ghost/i18n/locales/nn/ghost.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/nn/signup-form.json
Labels: i18n

#17123 Updated Sinhalese translations
  ghost/i18n/locales/si/portal.json
Labels: i18n

#17257 Updated German translations
  ghost/i18n/locales/de/portal.json
Labels: i18n

#17336 Updated Portuguese translations
  ghost/i18n/locales/pt/ghost.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/pt/signup-form.json
Labels: i18n

#17420 Updated Spanish translations
  ghost/i18n/locales/es/portal.json
Labels: i18n

#17414 Updated German translations
  ghost/i18n/locales/de/ghost.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/de/signup-form.json
Labels: i18n

#17437 Updated Norwegian Nynorsk translation
  ghost/i18n/locales/no/ghost.json
Labels: i18n

#17424 Updated Spanish translations
  ghost/i18n/locales/es/portal.json
Labels: i18n

#17373 Retain newsletter subscriptions on suppression
  ghost/admin/app/components/editor/publish-options/email-recipients.hbs
  ghost/admin/app/components/members/filters/subscribed.js
  ghost/admin/app/components/modals/newsletters/edit.js
  ghost/admin/app/components/modals/newsletters/new.hbs
  ghost/admin/app/components/modals/newsletters/new.js
  ghost/admin/app/components/settings/newsletters/newsletter-management.hbs
  ghost/admin/app/components/settings/newsletters/newsletter-management.js
  ghost/admin/app/models/newsletter.js
  ghost/admin/app/utils/publish-options.js
  ghost/admin/tests/acceptance/editor/publish-flow-test.js
  ghost/core/core/server/api/endpoints/newsletters.js
  ghost/core/core/server/data/migrations/versions/5.56/2023-07-14-10-11-12-add-email-disabled-field-to-members.js
  ghost/core/core/server/data/migrations/versions/5.56/2023-07-15-10-11-12-update-members-email-disabled-field.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/member.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/core/server/services/members/middleware.js
  ghost/core/test/e2e-api/admin/__snapshots__/activity-feed.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/e2e-api/admin/members-exporter.test.js
  ghost/core/test/e2e-api/admin/newsletters.test.js
  ghost/core/test/e2e-api/members/__snapshots__/webhooks.test.js.snap
  ghost/core/test/e2e-api/members/middleware.test.js
  ghost/core/test/integration/services/email-service/batch-sending.test.js
  ghost/core/test/regression/models/model_member_stripe_customer.test.js
  ghost/core/test/regression/models/model_members.test.js
  ghost/core/test/regression/models/model_stripe_customer_subscription.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/data-generator.js
  ghost/email-service/lib/EmailSegmenter.js
  ghost/email-service/test/email-segmenter.test.js
  ghost/members-api/lib/members-api.js
  ghost/members-api/lib/repositories/MemberRepository.js
Labels: migration

#17536 Added migrations for donations API
  ghost/core/core/server/data/exporter/table-lists.js
  ghost/core/core/server/data/migrations/versions/5.57/2023-07-26-12-44-stripe-products-nullable-product.js
  ghost/core/core/server/data/migrations/versions/5.57/2023-07-27-11-47-49-create-donation-events.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration
