Repository TryGhost/Ghost, pull requests merged in 2023-11, with the labels that each got.

#18821 Updated Romanian translations
  ghost/i18n/locales/ro/portal.json
Labels: i18n

#18823 Updated Slovak translations
  ghost/i18n/locales/sk/portal.json
Labels: i18n

#18873 Updated publishing spec to use a more consistent timezone
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: browser-tests

#18860 Updated Romanian translations
  ghost/i18n/locales/ro/comments.json
  ghost/i18n/locales/ro/ghost.json
  ghost/i18n/locales/ro/signup-form.json
Labels: i18n

#18886 🐛 Fixed email rendering bug in Gmail for Android
  ghost/email-service/lib/EmailRenderer.js
  ghost/email-service/lib/email-templates/partials/styles-old.hbs
  ghost/email-service/lib/email-templates/partials/styles.hbs
Labels: p1:priority

#18946 Updated Bahasa Indonesia translations
  ghost/i18n/locales/id/comments.json
Labels: i18n

#18876 russian translation comments.json
  ghost/i18n/locales/ru/comments.json
Labels: i18n

#18822 Update comments.json
  ghost/i18n/locales/sk/comments.json
Labels: i18n

#18865 🎨 Better Polish translation, fixed grammar and typos
  ghost/i18n/locales/pl/comments.json
  ghost/i18n/locales/pl/ghost.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pl/signup-form.json
Labels: i18n

#18717 Update comments.json
  ghost/i18n/locales/tr/comments.json
Labels: i18n

#18957 Updated Italian translations
  ghost/i18n/locales/it/comments.json
  ghost/i18n/locales/it/portal.json
Labels: i18n

#18935 🔒 Added support for logging out members on all devices
  apps/portal/src/utils/api.js
  ghost/admin/app/components/members/modals/logout-member.hbs
  ghost/admin/app/components/members/modals/logout-member.js
  ghost/admin/app/controllers/member.js
  ghost/admin/app/models/member.js
  ghost/admin/app/templates/member.hbs
  ghost/core/core/server/api/endpoints/members.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/activity-feed-events.js
  ghost/core/core/server/data/migrations/versions/5.74/2023-11-14-11-15-00-add-transient-id-column-nullable.js
  ghost/core/core/server/data/migrations/versions/5.74/2023-11-14-11-16-00-fill-transient-id-column.js
  ghost/core/core/server/data/migrations/versions/5.74/2023-11-14-11-17-00-drop-nullable-transient-id-column.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/member.js
  ghost/core/core/server/web/api/endpoints/admin/routes.js
  ghost/core/core/server/web/api/endpoints/content/routes.js
  ghost/core/core/server/web/members/app.js
  ghost/core/test/e2e-api/admin/__snapshots__/activity-feed.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/members.test.js
  ghost/core/test/e2e-api/members/__snapshots__/webhooks.test.js.snap
  ghost/core/test/e2e-api/members/donation-checkout-session.test.js
  ghost/core/test/e2e-frontend/members.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/data-generator/lib/importers/MembersImporter.js
  ghost/members-api/lib/members-api.js
  ghost/members-api/lib/repositories/MemberRepository.js
  ghost/members-api/lib/services/MemberBREADService.js
  ghost/members-api/package.json
  ghost/members-ssr/lib/members-ssr.js
Labels: migration

#18939 Fixed Romanian grammar
  ghost/i18n/locales/ro/comments.json
Labels: affects:i18n

#18719 Updated French translations
  ghost/i18n/locales/fr/portal.json
Labels: affects:i18n

#18749 Updated Swedish translations
  ghost/i18n/locales/sv/comments.json
  ghost/i18n/locales/sv/portal.json
Labels: affects:i18n

#19031 Removed usage of unquoted ids in filter strings
  apps/admin-x-settings/src/components/settings/advanced/HistoryModal.tsx
  apps/comments-ui/src/utils/api.ts
  ghost/admin/app/services/dashboard-stats.js
  ghost/collections/src/CollectionsService.ts
  ghost/core/core/server/models/base/plugins/events.js
  ghost/core/test/e2e-api/admin/actions.test.js
  ghost/core/test/e2e-api/admin/activity-feed.test.js
  ghost/core/test/e2e-api/admin/integrations.test.js
  ghost/core/test/e2e-api/admin/links.test.js
  ghost/core/test/e2e-api/admin/members-exporter.test.js
  ghost/core/test/e2e-api/admin/members.test.js
  ghost/core/test/e2e-api/members-comments/comments.test.js
  ghost/core/test/e2e-api/members/recommendations.test.js
  ghost/core/test/e2e-server/click-tracking.test.js
  ghost/core/test/integration/services/email-service/batch-sending.test.js
  ghost/core/test/integration/services/email-service/email-event-storage.test.js
  ghost/core/test/regression/models/model_posts.test.js
  ghost/core/test/utils/fixtures/data-generator.js
  ghost/email-service/lib/BatchSendingService.js
  ghost/email-service/lib/EmailRenderer.js
  ghost/email-service/test/batch-sending-service.test.js
  ghost/webmentions/test/InMemoryMentionRepository.test.js
Labels: affects:admin

#19057 Added TK reminders labs feature
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/core/core/shared/labs.js
Labels: affects:admin

#19045 Added SortMenu component to the design system
  apps/admin-x-design-system/src/global/SortMenu.stories.tsx
  apps/admin-x-design-system/src/global/SortMenu.tsx
  apps/admin-x-design-system/src/index.ts
Labels: affects:admin

#19060 Hide SVG icon titles globally
  apps/admin-x-design-system/src/global/Icon.tsx
Labels: affects:admin

#19061 Added static design of sorting to offers in AdminX
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19062 Added a type for the sorting direction of SortMenu component
  apps/admin-x-design-system/src/global/SortMenu.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19037 Fundamental design system page components
  apps/admin-x-design-system/.storybook/preview.tsx
  apps/admin-x-design-system/src/Boilerplate.stories.tsx
  apps/admin-x-design-system/src/assets/icons/cardview.svg
  apps/admin-x-design-system/src/assets/icons/listview.svg
  apps/admin-x-design-system/src/global/Breadcrumbs.tsx
  apps/admin-x-design-system/src/global/Button.tsx
  apps/admin-x-design-system/src/global/Heading.tsx
  apps/admin-x-design-system/src/global/Pagination.stories.tsx
  apps/admin-x-design-system/src/global/TabView.tsx
  apps/admin-x-design-system/src/global/Table.stories.tsx
  apps/admin-x-design-system/src/global/Table.tsx
  apps/admin-x-design-system/src/global/TableCell.tsx
  apps/admin-x-design-system/src/global/TableHead.tsx
  apps/admin-x-design-system/src/global/TableRow.tsx
  apps/admin-x-design-system/src/global/layout/GlobalActions.tsx
  apps/admin-x-design-system/src/global/layout/Page.stories.tsx
  apps/admin-x-design-system/src/global/layout/Page.tsx
  apps/admin-x-design-system/src/global/layout/PageMenu.tsx
  apps/admin-x-design-system/src/global/layout/ViewContainer.stories.tsx
  apps/admin-x-design-system/src/global/layout/ViewContainer.tsx
  apps/admin-x-design-system/src/global/table/DynamicTable.stories.tsx
  apps/admin-x-design-system/src/global/table/DynamicTable.tsx
Labels: affects:admin

#19067 Fixed offer amount select width issue
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
Labels: affects:admin

#19069 Added last redeemed UI
  apps/admin-x-framework/src/api/offers.ts
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19070 Removed usage of unquoted ids in filter strings
  apps/admin-x-settings/src/components/settings/advanced/HistoryModal.tsx
  apps/comments-ui/src/utils/api.ts
  ghost/admin/app/services/dashboard-stats.js
  ghost/collections/src/CollectionsService.ts
  ghost/core/core/server/models/base/plugins/events.js
  ghost/core/test/e2e-api/admin/actions.test.js
  ghost/core/test/e2e-api/admin/activity-feed.test.js
  ghost/core/test/e2e-api/admin/integrations.test.js
  ghost/core/test/e2e-api/admin/links.test.js
  ghost/core/test/e2e-api/admin/members-exporter.test.js
  ghost/core/test/e2e-api/admin/members.test.js
  ghost/core/test/e2e-api/members-comments/comments.test.js
  ghost/core/test/e2e-api/members/recommendations.test.js
  ghost/core/test/e2e-server/click-tracking.test.js
  ghost/core/test/integration/services/email-service/batch-sending.test.js
  ghost/core/test/integration/services/email-service/email-event-storage.test.js
  ghost/core/test/regression/models/model_posts.test.js
  ghost/email-service/lib/BatchSendingService.js
  ghost/email-service/lib/EmailRenderer.js
  ghost/email-service/test/batch-sending-service.test.js
  ghost/webmentions/test/InMemoryMentionRepository.test.js
Labels: affects:admin

#19072 Fixed AdminX loading failure screen layout
  ghost/admin/app/components/admin-x/admin-x-component.js
  ghost/admin/app/styles/layouts/main.css
Labels: affects:admin

#19074 Wired up tkReminders flag in Admin+editor
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/feature.js
Labels: affects:admin

#19077 Fixed Offers not saving fixed amount discount
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
Labels: affects:admin

#19080 🐛 Fixed re-ordering within galleries sometimes getting stuck on disabled
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19087 🐛 Fixed about modal dev experiments info
  apps/admin-x-settings/src/components/settings/general/About.tsx
Labels: affects:admin

#19089 Fixed provider ordering to prevent bugs loading modals on refresh
  apps/admin-x-demo/src/App.tsx
  apps/admin-x-framework/src/providers/FrameworkProvider.tsx
  apps/admin-x-framework/src/providers/RoutingProvider.tsx
  apps/admin-x-framework/src/routing.ts
  apps/admin-x-settings/src/App.tsx
  apps/admin-x-settings/test/acceptance/routing.test.ts
Labels: affects:admin

#19088 [WIP] Wiring up sorting to offers in AdminX
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19090 Added latest offer cards to the Offers setting group
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19091 Added no offers view to the offers list screen in AdminX
  apps/admin-x-design-system/src/assets/icons/ai-tagging-spark.svg
  apps/admin-x-settings/src/components/settings/growth/offers/OfferSuccess.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19092 Added fix for no offer screen
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19079 Admin X demo app content
  apps/admin-x-demo/src/MainContent.tsx
  apps/admin-x-demo/src/components/DemoModal.tsx
  apps/admin-x-design-system/.storybook/storybook.css
  apps/admin-x-design-system/preflight.css
  apps/admin-x-design-system/src/global/Button.tsx
  apps/admin-x-design-system/src/global/ButtonGroup.stories.tsx
  apps/admin-x-design-system/src/global/ButtonGroup.tsx
  apps/admin-x-design-system/src/global/Tooltip.stories.tsx
  apps/admin-x-design-system/src/global/layout/AppMenu.tsx
  apps/admin-x-design-system/src/global/layout/Page.stories.tsx
  apps/admin-x-design-system/src/global/layout/Page.tsx
  apps/admin-x-design-system/src/global/layout/PageHeader.tsx
  apps/admin-x-design-system/src/global/layout/ViewContainer.stories.tsx
  apps/admin-x-design-system/src/global/layout/ViewContainer.tsx
  apps/admin-x-design-system/src/global/table/DynamicTable.stories.tsx
  apps/admin-x-design-system/src/global/table/DynamicTable.tsx
  apps/admin-x-design-system/src/index.ts
  apps/admin-x-design-system/tailwind.config.cjs
  ghost/admin/app/styles/layouts/main.css
Labels: affects:admin

#19095 Wired latest offer cards to Offers settings group in Admin.
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19098 🐛 Fixed creating posts with an empty root
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#19100 Updated TK Reminders plugin use
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin

#19049 Added static TK reminder step to publishing flow
  ghost/admin/app/components/editor/modals/publish-flow/tk-reminder.hbs
  ghost/admin/app/styles/components/publishmenu.css
Labels: affects:admin

#19101 Added detail page routing to AdminX demo app
  apps/admin-x-demo/src/DetailPage.tsx
  apps/admin-x-demo/src/ListPage.tsx
  apps/admin-x-demo/src/MainContent.tsx
Labels: affects:admin

#19103 🎨 Updated editor layout to be more mobile friendly
  ghost/admin/app/components/gh-editor-feature-image.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/styles/components/koenig.css
  ghost/admin/app/styles/components/publishmenu.css
  ghost/admin/app/styles/components/settings-menu.css
  ghost/admin/app/styles/layouts/content.css
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/templates/lexical-editor.hbs
Labels: affects:admin

#19104 Wired up TK reminder step in publish flow
  ghost/admin/app/components/editor/modals/publish-flow.hbs
  ghost/admin/app/components/editor/modals/publish-flow.js
  ghost/admin/app/components/editor/modals/publish-flow/tk-reminder.hbs
  ghost/admin/app/components/editor/publish-management.js
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/templates/lexical-editor.hbs
Labels: affects:admin

#19106 Offers for archive tiers
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19107 Wired up TK count to confirmation flow
  ghost/admin/app/components/editor/modals/publish-flow/tk-reminder.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19108 Revert "🎨 Updated editor layout to be more mobile friendly (#19103)"
  ghost/admin/app/components/gh-editor-feature-image.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/styles/components/koenig.css
  ghost/admin/app/styles/components/publishmenu.css
  ghost/admin/app/styles/components/settings-menu.css
  ghost/admin/app/styles/layouts/content.css
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/templates/lexical-editor.hbs
Labels: affects:admin

#19082 Updated newsletter settings UI for managed email
  apps/admin-x-framework/src/api/config.ts
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  apps/admin-x-settings/test/acceptance/email/newsletters.test.ts
Labels: affects:admin

#19109 Added error handling to Sentry's beforeSend
  ghost/admin/app/routes/application.js
  ghost/admin/app/utils/sentry.js
  ghost/admin/tests/unit/utils/sentry-test.js
  ghost/core/core/shared/sentry.js
  ghost/core/test/unit/shared/sentry.test.js
Labels: affects:admin

#19112 Fixed no offer screen and tab view
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19105 Admin X demo details
  apps/admin-x-demo/src/DetailPage.tsx
  apps/admin-x-demo/src/ListPage.tsx
  apps/admin-x-demo/src/components/DemoModal.tsx
  apps/admin-x-design-system/src/global/Avatar.tsx
  apps/admin-x-design-system/src/global/List.tsx
  apps/admin-x-design-system/src/global/SortMenu.tsx
  apps/admin-x-design-system/src/global/layout/Page.tsx
  apps/admin-x-design-system/src/global/layout/PageHeader.tsx
  apps/admin-x-design-system/src/global/layout/ViewContainer.tsx
  apps/admin-x-design-system/tailwind.config.cjs
Labels: affects:admin

#19113 Various design fixes for offers in Adminx
  apps/admin-x-design-system/src/global/form/TextField.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19116 Added test examples to AdminX demo
  apps/admin-x-demo/.gitignore
  apps/admin-x-demo/index.html
  apps/admin-x-demo/package.json
  apps/admin-x-demo/playwright.config.mjs
  apps/admin-x-demo/src/standalone.tsx
  apps/admin-x-demo/test/.eslintrc.cjs
  apps/admin-x-demo/test/acceptance/example.test.ts
  apps/admin-x-demo/test/unit/example.test.tsx
  apps/admin-x-demo/tsconfig.json
  apps/admin-x-design-system/package.json
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-framework/src/test/render.tsx
  apps/admin-x-framework/test/unit/utils/api/hooks.test.tsx
  apps/admin-x-settings/package.json
  apps/admin-x-settings/test/acceptance/advanced/codeInjection.test.ts
  apps/admin-x-settings/test/acceptance/advanced/history.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/amp.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/custom.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/firstPromoter.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/pintura.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/slack.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/unsplash.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/zapier.test.ts
  apps/admin-x-settings/test/acceptance/advanced/labs.test.ts
  apps/admin-x-settings/test/acceptance/email/defaultRecipients.test.ts
  apps/admin-x-settings/test/acceptance/email/mailgun.test.ts
  apps/admin-x-settings/test/acceptance/email/newsletters.test.ts
  apps/admin-x-settings/test/acceptance/general/facebook.test.ts
  apps/admin-x-settings/test/acceptance/general/lockSite.test.ts
  apps/admin-x-settings/test/acceptance/general/metadata.test.ts
  apps/admin-x-settings/test/acceptance/general/publicationLanguage.test.ts
  apps/admin-x-settings/test/acceptance/general/socialAccounts.test.ts
  apps/admin-x-settings/test/acceptance/general/timeZone.test.ts
  apps/admin-x-settings/test/acceptance/general/titleAndDescription.test.ts
  apps/admin-x-settings/test/acceptance/general/twitter.test.ts
  apps/admin-x-settings/test/acceptance/general/users/actions.test.ts
  apps/admin-x-settings/test/acceptance/general/users/invite.test.ts
  apps/admin-x-settings/test/acceptance/general/users/password.test.ts
  apps/admin-x-settings/test/acceptance/general/users/profile.test.ts
  apps/admin-x-settings/test/acceptance/general/users/roles.test.ts
  apps/admin-x-settings/test/acceptance/layout.test.ts
  apps/admin-x-settings/test/acceptance/membership/access.test.ts
  apps/admin-x-settings/test/acceptance/membership/analytics.test.ts
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
  apps/admin-x-settings/test/acceptance/membership/portal.test.ts
  apps/admin-x-settings/test/acceptance/membership/recommendations.test.ts
  apps/admin-x-settings/test/acceptance/membership/signupEmbed.test.ts
  apps/admin-x-settings/test/acceptance/membership/stripe.test.ts
  apps/admin-x-settings/test/acceptance/membership/tiers.test.ts
  apps/admin-x-settings/test/acceptance/permissions.test.ts
  apps/admin-x-settings/test/acceptance/routing.test.ts
  apps/admin-x-settings/test/acceptance/search.test.ts
  apps/admin-x-settings/test/acceptance/site/announcementbar.test.ts
  apps/admin-x-settings/test/acceptance/site/design.test.ts
  apps/admin-x-settings/test/acceptance/site/navigation.test.ts
  apps/admin-x-settings/test/acceptance/site/theme.test.ts
  apps/admin-x-settings/test/utils/acceptance.ts
  package.json
Labels: affects:admin

#19115 Added calculated email address settings
  apps/admin-x-framework/src/api/config.ts
  apps/admin-x-framework/src/api/site.ts
  apps/admin-x-framework/src/test/responses/settings.json
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/AccountPage.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/PortalModal.tsx
  apps/admin-x-settings/test/acceptance/email/newsletters.test.ts
  ghost/core/core/server/services/settings-helpers/SettingsHelpers.js
  ghost/core/core/server/services/settings/settings-service.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/settings.test.js
  ghost/email-addresses/src/EmailAddressService.ts
Labels: affects:admin

#19120 Admin X Design System docs
  apps/admin-x-design-system/.storybook/preview.tsx
  apps/admin-x-design-system/src/docs/Layout.mdx
  apps/admin-x-design-system/src/docs/assets/page-viewcontainer.png
  apps/admin-x-design-system/src/global/Toast.stories.tsx
  apps/admin-x-design-system/src/global/Toast.tsx
Labels: affects:admin

#19121 Fixed validation and edge cases for managed email UI
  apps/admin-x-settings/src/components/settings/email/Newsletters.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#19124 Fixed Offers portal preview edge cases
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/utils/getOffersPortalPreviewUrl.ts
Labels: affects:admin

#19125 Fixed offers index pricing decimals
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19126 Fixed exit route on offers modal
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
Labels: affects:admin

#19127 🐛 Fixed error when loading editor in Safari versions earlier than 16.4
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19135 Improved mobile styles for the offers in AdminX
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19136 Added frontend validation to the offers add/edit modals in AdminX
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
Labels: affects:admin

#19137 Fixed portal iframe not loading on deep linking to Add new Offer
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
Labels: affects:admin

#19138 Better no offers handling in offers list screen
  apps/admin-x-design-system/src/assets/icons/tags-block.svg
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19148 Updated newsletter email verification to render the verified address
  apps/admin-x-framework/src/api/newsletters.ts
  apps/admin-x-settings/src/components/settings/email/Newsletters.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  ghost/core/core/server/services/newsletters/NewslettersService.js
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
Labels: affects:admin

#19151 Updated editor packages
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#19154 Added sorting direction option to individual sort option
  apps/admin-x-design-system/src/global/SortMenu.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19156 Indexed over members_newsletters(newsletter_id, member_id)
  ghost/core/core/server/data/migrations/versions/5.75/2023-11-27-15-55-add-members-newsletters-index.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#19110 Update comments.json
  ghost/i18n/locales/tr/comments.json
Labels: affects:i18n

#19161 Bumped editor packages
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19166 Added v-param to portal base URL
  apps/admin-x-settings/src/utils/getOffersPortalPreviewUrl.ts
Labels: affects:admin

#19155 Updated newsletter settings GRO-76 GRO-90
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
Labels: affects:admin

#19167 Updated Acceptance Tests for Offers in Admin X
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OfferSuccess.tsx
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
Labels: affects:admin

#19170 Fixed flaky Offers tests
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
Labels: affects:admin

#19171 Added a label to the SortMenu component to make it more explicit
  apps/admin-x-design-system/src/global/SortMenu.tsx
Labels: affects:admin

#19163 Updated Portal to use calculated support and default email addresses
  apps/portal/src/utils/helpers.js
  apps/portal/src/utils/helpers.test.js
  ghost/core/core/shared/settings-cache/public.js
  ghost/core/test/e2e-api/content/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/shared/__snapshots__/version.test.js.snap
Labels: affects:portal

#19174 Set negative pricing in Offers index to 0
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19176 Fixed amount off dropdown selector position during validation error
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
Labels: affects:admin

#19184 Put newsletter preview header changes behind `newEmailAddresses` flag GRO-102
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
Labels: affects:admin

#19185 Moved helpers for newsletter emails into a separate util
  apps/admin-x-settings/src/components/settings/email/Newsletters.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  apps/admin-x-settings/src/utils/newsletterEmails.ts
Labels: affects:admin

#19186 Fixed default sender address when email is managed
  ghost/admin/app/components/editor/modals/preview/email.hbs
  ghost/admin/app/components/modals/email-preview.hbs
  ghost/admin/app/models/setting.js
Labels: affects:admin

#19188 Reorganized add and edit forms of offers in AdminX
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OfferSuccess.tsx
Labels: affects:admin

#19189 Settings overview improvements for offers in AdminX
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
Labels: affects:admin

#19190 Simplified offers list screen in AdminX
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19191 Fixed preview visibility in PreviewModal
  apps/admin-x-design-system/src/global/modal/PreviewModal.tsx
Labels: affects:admin

#19192 Offers modal and preview improvements
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OfferSuccess.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
  apps/portal/src/components/Frame.styles.js
Labels: affects:admin, affects:portal

#19195 Moved the action buttons to top on offers list screen
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19197 Fixed reply-to dropdown when custom address was set
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#19198 🐛 Fixed slash not working in Koenig link editor
  apps/admin-x-settings/src/components/Sidebar.tsx
Labels: affects:admin

#19206 Renamed offer stat label
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
Labels: affects:admin

#19187 Updated wording in the support email verification process
  apps/admin-x-settings/src/components/settings/membership/portal/AccountPage.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/PortalModal.tsx
Labels: affects:admin

#19200 Allow custom reply-to addresses for self-hosters and allow empty values
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/utils/newsletterEmails.ts
Labels: affects:admin

#19209 Added hint to Reply-To field in newsletter detail modal
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#19210 Updated AdminX error handling to display validation errors correctly
  apps/admin-x-framework/src/hooks/useHandleError.ts
  apps/admin-x-settings/src/components/settings/site/ThemeModal.tsx
  apps/admin-x-settings/src/components/settings/site/theme/InvalidThemeModal.tsx
Labels: affects:admin

#19211 Fixed sender email in the post preview for email
  ghost/admin/app/components/editor/modals/preview/email.hbs
  ghost/admin/app/components/modals/email-preview.hbs
  ghost/admin/app/helpers/sender-email-address.js
Labels: affects:admin
