Repository TryGhost/Ghost, pull requests merged in 2023-01, with the labels that each got.

#15895 Bumped GHA Runners to larger machines
  .github/workflows/test.yml
Labels: running-ci-checks

#16066 Fixed browser tests
  ghost/core/test/e2e-browser/admin/tiers.spec.js
Labels: running-ci-checks

#16145 Added i18n package
  ghost/i18n/.eslintrc.js
  ghost/i18n/README.md
  ghost/i18n/index.js
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/en.js
  ghost/i18n/locales/nl.js
  ghost/i18n/package.json
  ghost/i18n/test/.eslintrc.js
  ghost/i18n/test/i18n.test.js
  yarn.lock
Labels: running-ci-checks

#15661 remove hardcoded values from Portal
  ghost/portal/src/components/Frame.styles.js
  ghost/portal/src/components/Global.styles.js
  ghost/portal/src/components/Notification.styles.js
  ghost/portal/src/components/TriggerButton.styles.js
  ghost/portal/src/components/common/ActionButton.js
  ghost/portal/src/components/common/PopupNotification.js
  ghost/portal/src/components/common/ProductsSection.js
  ghost/portal/src/components/common/Switch.js
Labels: hacktoberfest-accepted

#16200 Added mentions permissions
  ghost/core/core/server/api/endpoints/mentions.js
  ghost/core/core/server/data/migrations/versions/5.34/2023-01-30-07-27-add-mentions-permission.js
  ghost/core/core/server/data/schema/fixtures/fixtures.json
  ghost/core/test/integration/migrations/migration.test.js
  ghost/core/test/unit/server/data/schema/fixtures/fixture-manager.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration

#16210 🐛 Fixed email header image width not set
  ghost/core/core/server/services/email-service/wrapper.js
Labels: bug
