Repository TryGhost/Ghost, pull requests merged in 2023-02, with the labels that each got.

#15722 Added e2e tests for page.unscheduled webhook
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/pages.test.js
Labels: hacktoberfest-accepted

#16242 Added `mention_notifications` column
  ghost/core/core/server/api/endpoints/utils/serializers/output/utils/clean.js
  ghost/core/core/server/data/migrations/versions/5.34/2023-02-08-03-08-add-mentions-notifications-column.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/user.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/session.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/posts.test.js.snap
  ghost/core/test/regression/api/admin/__snapshots__/authentication.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration

#16245 Added Mentions email notification settings
  ghost/admin/app/controllers/settings/staff/user.js
  ghost/admin/app/models/user.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/templates/settings/labs.hbs
  ghost/admin/app/templates/settings/staff/user.hbs
  ghost/admin/mirage/factories/user.js
  ghost/admin/tests/acceptance/staff-test.js
  ghost/core/core/server/models/user.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/webmentions/webmentions.test.js
  ghost/staff-service/lib/emails.js
  ghost/staff-service/lib/staff-service.js
  ghost/staff-service/test/staff-service.test.js
Labels: migration

#16251 added mentions deleted column
  ghost/core/core/server/data/migrations/versions/5.34/2023-02-08-22-32-add-mentions-delete-column.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/mention.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#16264 Added verified mention column
  ghost/core/core/server/data/migrations/versions/5.35/2023-02-13-06-24-add-mentions-verified-column.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/mention.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#16201 Added outbound link tagging for web posts
  ghost/admin/app/templates/settings/labs.hbs
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/posts.js
  ghost/core/core/server/services/email-service/wrapper.js
  ghost/core/core/server/services/mega/post-email-serializer.js
  ghost/core/core/server/services/member-attribution/index.js
  ghost/core/test/e2e-api/content/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-api/content/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/content/posts.test.js
  ghost/email-service/lib/email-renderer.js
  ghost/email-service/test/email-renderer.test.js
  ghost/link-replacer/lib/LinkReplacer.js
  ghost/member-attribution/index.js
  ghost/member-attribution/lib/outbound-link-tagger.js
  ghost/member-attribution/lib/service.js
  ghost/member-attribution/test/outbound-link-tagger.test.js
  ghost/member-attribution/test/service.test.js
Labels: running-ci-checks

#16297 Fixed timers in ttl cache tests
  ghost/adapter-cache-memory-ttl/test/adapter-cache-memory-ttl.test.js
Labels: running-ci-checks

#16300 Added milestones database table
  ghost/core/core/server/data/exporter/table-lists.js
  ghost/core/core/server/data/migrations/versions/5.36/2023-02-20-12-22-add-milestones-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#16306 Added `milestone_notifications` column
  ghost/core/core/server/api/endpoints/utils/serializers/output/utils/clean.js
  ghost/core/core/server/data/migrations/versions/5.36/2023-02-21-12-29-add-milestone-notifications-column.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/user.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/session.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/posts.test.js.snap
  ghost/core/test/regression/api/admin/__snapshots__/authentication.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration

#16322 Updated outbound_link_tagging setting to be based on members_track_sources
  ghost/admin/app/services/settings.js
  ghost/core/core/server/data/migrations/versions/5.36/2023-02-23-10-40-set-outbound-link-tagging-based-on-source-tracking.js
Labels: migration

#16339 Removed Bluebird from DB backup file
  ghost/core/core/server/data/db/backup.js
Labels: running-ci-checks
