Repository TryGhost/Ghost, pull requests merged in 2023-09, with the labels that each got.

#17921 Updated Bahasa Indonesia translations for Portal
  ghost/i18n/locales/id/portal.json
Labels: i18n

#17939 Updated Sinhalese translations
  ghost/i18n/locales/si/comments.json
Labels: i18n

#18053 Updated Chinese translations
  ghost/i18n/locales/zh/comments.json
Labels: i18n

#18036 Updated Bahasa Indonesia translations
  ghost/i18n/locales/id/portal.json
Labels: i18n

#18009 Updated Italian translations
  ghost/i18n/locales/it/comments.json
  ghost/i18n/locales/it/portal.json
Labels: i18n

#18087 Updated i18n translations
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/portal.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/en/portal.json
  ghost/i18n/locales/eo/portal.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/fi/portal.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/id/portal.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/no/portal.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/ro/portal.json
  ghost/i18n/locales/ru/portal.json
  ghost/i18n/locales/si/portal.json
  ghost/i18n/locales/sl/portal.json
  ghost/i18n/locales/sq/portal.json
  ghost/i18n/locales/sr/portal.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/tr/portal.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uz/portal.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh/portal.json
Labels: i18n

#18084 Added recommendation events tables
  ghost/core/core/server/data/exporter/table-lists.js
  ghost/core/core/server/data/migrations/versions/5.63/2023-09-12-11-22-10-add-recommendation-click-events-table.js
  ghost/core/core/server/data/migrations/versions/5.63/2023-09-12-11-22-11-add-recommendation-subscribe-events-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/recommendation-click-event.js
  ghost/core/core/server/models/recommendation-subscribe-event.js
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#18114 Added core content API integration fixture
  ghost/core/core/server/data/migrations/versions/5.63/2023-09-13-13-03-10-add-ghost-core-content-integration.js
  ghost/core/core/server/data/migrations/versions/5.63/2023-09-13-13-34-11-add-ghost-core-content-integration-key.js
  ghost/core/core/server/data/schema/fixtures/fixtures.json
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#18155 Updated i18n translations
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/portal.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/en/portal.json
  ghost/i18n/locales/eo/portal.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/fi/portal.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/id/portal.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/no/portal.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/ro/portal.json
  ghost/i18n/locales/ru/portal.json
  ghost/i18n/locales/si/portal.json
  ghost/i18n/locales/sl/portal.json
  ghost/i18n/locales/sq/portal.json
  ghost/i18n/locales/sr/portal.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/tr/portal.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uz/portal.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh/portal.json
Labels: i18n

#18157 Hungarian translation updates
  ghost/i18n/locales/hu/comments.json
  ghost/i18n/locales/hu/ghost.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/hu/signup-form.json
Labels: i18n

#18162 Updated Bahasa Indonesia translations for Portal
  ghost/i18n/locales/id/portal.json
Labels: i18n

#18226 Updated Bulgarian translations
  ghost/i18n/locales/bg/ghost.json
Labels: i18n

#18191 Updated Italian translations
  ghost/i18n/locales/it/portal.json
Labels: i18n

#18304 Added recommendation_notifications column to users table
  apps/admin-x-settings/src/api/users.ts
  apps/admin-x-settings/src/components/settings/general/UserDetailModal.tsx
  apps/admin-x-settings/test/utils/responses/me.json
  apps/admin-x-settings/test/utils/responses/users.json
  ghost/core/core/server/api/endpoints/utils/serializers/output/utils/clean.js
  ghost/core/core/server/data/migrations/versions/5.66/2023-09-22-14-15-add-recommendation-notifications-column.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/user.js
  ghost/core/test/e2e-api/admin/__snapshots__/collections.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/session.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/posts.test.js.snap
  ghost/core/test/regression/api/admin/__snapshots__/authentication.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration

#17836 Add line-height for descenders getting cut off in Post settings Tag names
  ghost/admin/app/styles/components/power-select.css
Labels: design
