Repository TryGhost/Ghost, pull requests merged in 2023-08, with the labels that each got.

#17576 Added migrations for Tips & Donations' settings
  ghost/core/core/server/data/migrations/versions/5.58/2023-08-02-09-42-add-donation-settings.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/settings.test.js
  ghost/core/test/regression/models/model_settings.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings.json
Labels: migration

#17607 Added donation notifications column
  ghost/core/core/server/api/endpoints/utils/serializers/output/utils/clean.js
  ghost/core/core/server/data/migrations/versions/5.59/2023-08-07-10-42-add-donation-notifications-column.js
  ghost/core/core/server/data/schema/fixtures/fixtures.json
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/user.js
  ghost/core/test/e2e-api/admin/__snapshots__/collections.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/session.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/pages.test.js.snap
  ghost/core/test/e2e-webhooks/__snapshots__/posts.test.js.snap
  ghost/core/test/regression/api/admin/__snapshots__/authentication.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration

#17581 Updated Afrikaans translations in signup-form.json
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/af/signup-form.json
Labels: i18n

#16398 [WIP] Redis Cache Adapter Upgrades
  ghost/adapter-cache-redis/lib/AdapterCacheRedis.js
  ghost/adapter-cache-redis/test/adapter-cache-redis.test.js
Labels: server / core, self hosting

#17533 Updated Bulgarian translations
  ghost/i18n/locales/bg/ghost.json
  ghost/i18n/locales/bg/portal.json
Labels: i18n

#17563 Updated Korean translations
  ghost/i18n/locales/ko/ghost.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/ko/signup-form.json
Labels: i18n

#17688 Added Icelandic translations
  ghost/i18n/locales/is/ghost.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/is/signup-form.json
Labels: i18n

#17478 Updated Italian translations
  ghost/i18n/locales/it/signup-form.json
Labels: i18n

#17622 Updated Dutch translations
  ghost/i18n/locales/nl/ghost.json
  ghost/i18n/locales/nl/portal.json
Labels: i18n

#17797 Added support for i18n in comments-ui
  apps/comments-ui/package.json
  apps/comments-ui/src/App.tsx
  apps/comments-ui/src/AppContext.ts
  apps/comments-ui/src/components/content/Pagination.tsx
  apps/comments-ui/src/components/content/buttons/ReplyButton.tsx
  apps/comments-ui/src/utils/options.ts
  apps/signup-form/package.json
  ghost/core/core/frontend/helpers/comments.js
  ghost/core/core/frontend/utils/frontend-apps.js
  ghost/i18n/locales/af/comments.json
  ghost/i18n/locales/bg/comments.json
  ghost/i18n/locales/ca/comments.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/comments.json
  ghost/i18n/locales/da/comments.json
  ghost/i18n/locales/de/comments.json
  ghost/i18n/locales/en/comments.json
  ghost/i18n/locales/eo/comments.json
  ghost/i18n/locales/es/comments.json
  ghost/i18n/locales/fi/comments.json
  ghost/i18n/locales/fr/comments.json
  ghost/i18n/locales/hr/comments.json
  ghost/i18n/locales/hu/comments.json
  ghost/i18n/locales/id/comments.json
  ghost/i18n/locales/it/comments.json
  ghost/i18n/locales/ja/comments.json
  ghost/i18n/locales/ko/comments.json
  ghost/i18n/locales/mn/comments.json
  ghost/i18n/locales/ms/comments.json
  ghost/i18n/locales/nl/comments.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/comments.json
  ghost/i18n/locales/no/comments.json
  ghost/i18n/locales/pl/comments.json
  ghost/i18n/locales/pt-BR/comments.json
  ghost/i18n/locales/pt/comments.json
  ghost/i18n/locales/ro/comments.json
  ghost/i18n/locales/ru/comments.json
  ghost/i18n/locales/si/comments.json
  ghost/i18n/locales/sl/comments.json
  ghost/i18n/locales/sq/comments.json
  ghost/i18n/locales/sr/comments.json
  ghost/i18n/locales/sv/comments.json
  ghost/i18n/locales/tr/comments.json
  ghost/i18n/locales/uk/comments.json
  ghost/i18n/locales/uz/comments.json
  ghost/i18n/locales/vi/comments.json
  ghost/i18n/locales/zh-Hant/comments.json
  ghost/i18n/locales/zh/comments.json
  yarn.lock
Labels: i18n

#17829 Added Vietnamese locale for comments
  ghost/i18n/locales/vi/comments.json
Labels: i18n

#17832 Updated Turkish translations
  ghost/i18n/locales/tr/comments.json
Labels: i18n

#17818 Updated Afrikaans translations
  ghost/i18n/locales/af/comments.json
  ghost/i18n/locales/af/portal.json
Labels: i18n

#17812 Updated Bahasa Indonesia translations
  ghost/i18n/locales/id/comments.json
  ghost/i18n/locales/id/portal.json
Labels: i18n

#17862 Added Recommendations table
  ghost/core/core/server/data/exporter/table-lists.js
  ghost/core/core/server/data/migrations/versions/5.61/2023-08-29-11-39-10-add-recommendations-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#17856 Added new setting to enable Recommendations
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/migrations/versions/5.61/2023-08-30-07-37-04-add-recommendations-enabled-settings.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/core/shared/settings-cache/public.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/settings.test.js
  ghost/core/test/e2e-api/content/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/shared/__snapshots__/version.test.js.snap
  ghost/core/test/regression/models/model_settings.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings-browser.json
  ghost/core/test/utils/fixtures/default-settings.json
Labels: migration

#17840 Updated German translations
  ghost/i18n/locales/de/comments.json
  ghost/i18n/locales/de/ghost.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/de/signup-form.json
Labels: i18n

#17869 Added max padding limit to Signup and Header cards
  ghost/core/core/frontend/src/cards/css/header_v2.css
  ghost/core/core/frontend/src/cards/css/signup.css
Labels: design

#17887 Updated i18n keys
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/portal.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/en/portal.json
  ghost/i18n/locales/eo/portal.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/fi/portal.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/id/portal.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/no/portal.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/ro/portal.json
  ghost/i18n/locales/ru/portal.json
  ghost/i18n/locales/si/portal.json
  ghost/i18n/locales/sl/portal.json
  ghost/i18n/locales/sq/portal.json
  ghost/i18n/locales/sr/portal.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/tr/portal.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uz/portal.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh/portal.json
Labels: i18n

#17816 Updated Spanish translations
  ghost/i18n/locales/es/comments.json
Labels: i18n
