Repository TryGhost/Ghost, pull requests merged in 2024-03, with the labels that each got.

#19790 Added try/catch to iFrame buffering in Settings
  apps/admin-x-settings/src/utils/IframeBuffering.tsx
Labels: affects:admin

#19792 🐛 Fixed emojis not updating in Announcement Bar
  apps/admin-x-settings/src/components/settings/site/AnnouncementBarModal.tsx
Labels: affects:admin

#19791 Portal signup page spacing fixes
  apps/portal/src/components/common/ProductsSection.js
  apps/portal/src/components/pages/SignupPage.js
Labels: affects:portal

#19798 Reorganized and improved meta data settings so it's easier to parse DES-159
  apps/admin-x-settings/src/components/settings/general/Metadata.tsx
Labels: affects:admin

#19802 Added Portal tests for newsletter subscriptions
  apps/portal/src/components/common/CloseButton.js
  apps/portal/src/components/common/NewsletterManagement.js
  apps/portal/src/components/pages/UnsubscribePage.js
  apps/portal/src/tests/EmailSubscriptionsFlow.test.js
  apps/portal/src/utils/fixtures-generator.js
  apps/portal/src/utils/helpers.test.js
  apps/portal/src/utils/test-fixtures.js
Labels: affects:portal

#19804 Fixed TZ dependency in Portal helpers test
  apps/portal/src/utils/helpers.test.js
Labels: affects:portal

#19806 Fixed various Unsplash design bugs
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashButton.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashImage.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashSelector.tsx
Labels: affects:admin

#19812 Released Portal v2.37.5
  apps/portal/package.json
Labels: affects:portal

#19815 Fixed button spacing in Portal unsubscribe popup footer
  apps/portal/src/components/pages/EmailSuppressedPage.css
Labels: affects:portal

#19814 Updated test to check for Unsplash button in Admin
  apps/admin-x-design-system/src/global/form/ImageUpload.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  apps/admin-x-settings/test/acceptance/site/design.test.ts
Labels: affects:admin

#19803 Fix a French translation error in portal.json
  ghost/i18n/locales/fr/portal.json
Labels: affects:i18n

#19817 Fixed tiers paywall selecting all paid tiers
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/posts.js
Labels: browser-tests

#19822 Fixed udpated banner z-index
  apps/admin-x-settings/src/MainContent.tsx
  apps/admin-x-settings/src/components/ExitSettingsButton.tsx
  apps/admin-x-settings/src/styles/index.css
  ghost/admin/app/styles/components/notifications.css
Labels: affects:admin

#19689 Added escape key handler to select elements
  apps/admin-x-design-system/src/global/form/Select.tsx
Labels: affects:admin

#19829 Updated Bahasa Indonesia translations
  ghost/i18n/locales/id/portal.json
Labels: affects:i18n

#19825 Edited few phrases in Slovak (sk) translation to make it sound better
  ghost/i18n/locales/sk/ghost.json
  ghost/i18n/locales/sk/signup-form.json
Labels: affects:i18n

#19838 Extracted Unsplash Selector from AdminX
  apps/admin-x-settings/package.json
  apps/admin-x-settings/src/components/selectors/UnsplashSelector.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  apps/admin-x-settings/src/unsplash/UnsplashSearchModal.tsx
  apps/admin-x-settings/src/unsplash/UnsplashService.ts
  apps/admin-x-settings/src/unsplash/UnsplashTypes.ts
  apps/admin-x-settings/src/unsplash/api/InMemoryUnsplashProvider.ts
  apps/admin-x-settings/src/unsplash/api/UnsplashProvider.ts
  apps/admin-x-settings/src/unsplash/api/unsplashFixtures.ts
  apps/admin-x-settings/src/unsplash/assets/kg-card-type-unsplash.svg
  apps/admin-x-settings/src/unsplash/assets/kg-close.svg
  apps/admin-x-settings/src/unsplash/assets/kg-download.svg
  apps/admin-x-settings/src/unsplash/assets/kg-search.svg
  apps/admin-x-settings/src/unsplash/assets/kg-unsplash-heart.svg
  apps/admin-x-settings/src/unsplash/masonry/MasonryService.ts
  apps/admin-x-settings/src/unsplash/photo/PhotoUseCase.ts
  apps/admin-x-settings/src/unsplash/ui/UnsplashButton.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashGallery.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashImage.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashSelector.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashZoomed.tsx
  apps/admin-x-settings/src/utils/portal.tsx
  apps/admin-x-settings/test/unit/unsplash/Masonry.test.ts
  apps/admin-x-settings/test/unit/unsplash/UnsplashService.test.ts
  apps/admin-x-settings/vite.config.mjs
  yarn.lock
Labels: affects:admin

#19844 Revert "Extracted Unsplash Selector from AdminX (#19838)"
  apps/admin-x-settings/package.json
  apps/admin-x-settings/src/components/selectors/UnsplashSelector.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  apps/admin-x-settings/src/unsplash/UnsplashSearchModal.tsx
  apps/admin-x-settings/src/unsplash/UnsplashService.ts
  apps/admin-x-settings/src/unsplash/UnsplashTypes.ts
  apps/admin-x-settings/src/unsplash/api/InMemoryUnsplashProvider.ts
  apps/admin-x-settings/src/unsplash/api/UnsplashProvider.ts
  apps/admin-x-settings/src/unsplash/api/unsplashFixtures.ts
  apps/admin-x-settings/src/unsplash/assets/kg-card-type-unsplash.svg
  apps/admin-x-settings/src/unsplash/assets/kg-close.svg
  apps/admin-x-settings/src/unsplash/assets/kg-download.svg
  apps/admin-x-settings/src/unsplash/assets/kg-search.svg
  apps/admin-x-settings/src/unsplash/assets/kg-unsplash-heart.svg
  apps/admin-x-settings/src/unsplash/masonry/MasonryService.ts
  apps/admin-x-settings/src/unsplash/photo/PhotoUseCase.ts
  apps/admin-x-settings/src/unsplash/portal.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashButton.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashGallery.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashImage.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashSelector.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashZoomed.tsx
  apps/admin-x-settings/test/unit/unsplash/Masonry.test.ts
  apps/admin-x-settings/test/unit/unsplash/UnsplashService.test.ts
  apps/admin-x-settings/vite.config.mjs
  yarn.lock
Labels: affects:admin

#19849 Extracted Unsplash Selector from AdminX
  apps/admin-x-settings/package.json
  apps/admin-x-settings/src/components/selectors/UnsplashSelector.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  apps/admin-x-settings/src/unsplash/UnsplashSearchModal.tsx
  apps/admin-x-settings/src/unsplash/UnsplashService.ts
  apps/admin-x-settings/src/unsplash/UnsplashTypes.ts
  apps/admin-x-settings/src/unsplash/api/InMemoryUnsplashProvider.ts
  apps/admin-x-settings/src/unsplash/api/UnsplashProvider.ts
  apps/admin-x-settings/src/unsplash/api/unsplashFixtures.ts
  apps/admin-x-settings/src/unsplash/assets/kg-card-type-unsplash.svg
  apps/admin-x-settings/src/unsplash/assets/kg-close.svg
  apps/admin-x-settings/src/unsplash/assets/kg-download.svg
  apps/admin-x-settings/src/unsplash/assets/kg-search.svg
  apps/admin-x-settings/src/unsplash/assets/kg-unsplash-heart.svg
  apps/admin-x-settings/src/unsplash/masonry/MasonryService.ts
  apps/admin-x-settings/src/unsplash/photo/PhotoUseCase.ts
  apps/admin-x-settings/src/unsplash/ui/UnsplashButton.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashGallery.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashImage.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashSelector.tsx
  apps/admin-x-settings/src/unsplash/ui/UnsplashZoomed.tsx
  apps/admin-x-settings/src/utils/portal.tsx
  apps/admin-x-settings/test/unit/unsplash/Masonry.test.ts
  apps/admin-x-settings/test/unit/unsplash/UnsplashService.test.ts
  apps/admin-x-settings/vite.config.mjs
  yarn.lock
Labels: affects:admin

#19836 Settings keyboard shortcuts
  apps/admin-x-design-system/src/global/form/Select.tsx
  apps/admin-x-design-system/src/global/modal/Modal.tsx
  apps/admin-x-settings/src/MainContent.tsx
  apps/admin-x-settings/src/components/ExitSettingsButton.tsx
  apps/admin-x-settings/src/components/Settings.tsx
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/styles/index.css
  ghost/admin/app/components/gh-nav-menu/footer.hbs
  ghost/admin/app/components/gh-nav-menu/main.js
Labels: affects:admin

#19852 Fixed browser tests (WIP)
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: browser-tests

#19850 Added referral tracking to the powered-by-ghost newsletter badge
  ghost/core/test/e2e-api/admin/__snapshots__/email-previews.test.js.snap
  ghost/core/test/integration/services/email-service/__snapshots__/batch-sending.test.js.snap
  ghost/email-service/lib/email-templates/template-old.hbs
  ghost/email-service/lib/email-templates/template.hbs
  ghost/email-service/test/email-renderer.test.js
Labels: browser-tests

#19862 Fixed Portal preview flashing issue in Offers
  apps/admin-x-design-system/src/global/modal/PreviewModal.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19863 Fixed empty state flashing issue on offers list
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19873 Added date based cache buster to client script
  ghost/admin/app/controllers/application.js
  ghost/admin/app/templates/application.hbs
Labels: affects:admin

#19801 Onboarding checklist IPC-66
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/components/dashboard/onboarding-checklist.js
  ghost/admin/app/components/modal-share.hbs
  ghost/admin/app/components/modal-share.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/styles/layouts/dashboard.css
  ghost/admin/app/templates/dashboard.hbs
  ghost/admin/public/assets/icons/brush.svg
  ghost/admin/public/assets/icons/megaphone.svg
  ghost/admin/public/assets/icons/rocket.svg
  ghost/admin/public/assets/icons/social-linkedin.svg
  ghost/admin/public/assets/icons/writing.svg
  ghost/core/core/shared/labs.js
Labels: affects:admin

#19879 Fix free tier benefit not showing up
  apps/portal/src/components/common/ProductsSection.js
  apps/portal/src/components/pages/SignupPage.js
  apps/portal/src/tests/SignupFlow.test.js
  apps/portal/src/utils/fixtures-generator.js
  apps/portal/src/utils/test-fixtures.js
Labels: affects:portal, browser-tests

#19877 Updated email error button text in case of partial email errors
  ghost/admin/app/components/editor/modals/publish-flow/complete-with-email-error.hbs
  ghost/admin/app/components/editor/modals/publish-flow/complete-with-email-error.js
  ghost/email-service/test/batch-sending-service.test.js
Labels: affects:admin

#19883 Released Portal v2.37.6
  apps/portal/package.json
Labels: affects:portal

#19888 Added a fullscreen onboarding checklist to the dashboard
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/styles/layouts/dashboard.css
  ghost/admin/app/templates/dashboard.hbs
  ghost/admin/public/assets/icons/check-circle-simple.svg
Labels: affects:admin

#19881 Added missing permissions to Contributor & Editor
  ghost/core/core/server/data/migrations/versions/5.81/2024-03-18-16-20-add-missing-post-permissions.js
  ghost/core/core/server/data/schema/fixtures/fixtures.json
  ghost/core/test/integration/migrations/migration.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/unit/server/models/post.test.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration

#19891 Added social share modal to onboarding checklist
  ghost/admin/app/components/dashboard/onboarding-checklist.js
  ghost/admin/app/components/modal-share.hbs
  ghost/admin/app/styles/layouts/dashboard.css
  ghost/admin/public/assets/icons/copy.svg
Labels: affects:admin

#19899 Revert "Added referral tracking to the powered-by-ghost newsletter badge"
  ghost/core/test/e2e-api/admin/__snapshots__/email-previews.test.js.snap
  ghost/core/test/integration/services/email-service/__snapshots__/batch-sending.test.js.snap
  ghost/email-service/lib/email-templates/template-old.hbs
  ghost/email-service/lib/email-templates/template.hbs
  ghost/email-service/test/email-renderer.test.js
Labels: browser-tests

#19900 ENG-767 Offers cannot be created if there are no active paid tiers
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
Labels: affects:admin

#19906 i18n: Korean Improvements
  ghost/i18n/locales/ko/comments.json
  ghost/i18n/locales/ko/ghost.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/ko/signup-form.json
Labels: affects:i18n

#19911 Fixed alignment of main title in Admin
  ghost/admin/app/styles/layouts/content.css
  ghost/admin/app/styles/layouts/dashboard.css
  ghost/admin/app/styles/layouts/main.css
Labels: affects:admin

#19909 Bumped Koenig-Lexical to new minor
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19927 ENG-794 Fixed validation for offer percentage amount
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
Labels: affects:admin

#19925 Updated social share modal layout
  ghost/admin/app/components/modal-share.hbs
  ghost/admin/app/components/modal-share.js
  ghost/admin/app/styles/layouts/dashboard.css
  ghost/admin/public/assets/icons/picture.svg
  ghost/admin/public/assets/icons/social-facebook.svg
  ghost/admin/public/assets/icons/social-linkedin.svg
  ghost/admin/public/assets/icons/social-x.svg
Labels: affects:admin

#19920 Added Macedonian language (mk)
  ghost/i18n/locales/mk/comments.json
  ghost/i18n/locales/mk/ghost.json
  ghost/i18n/locales/mk/portal.json
  ghost/i18n/locales/mk/signup-form.json
Labels: affects:i18n

#19924 Updated time formatting for drafts and scheduled posts
  ghost/admin/app/components/editor/modals/publish-flow/options.hbs
  ghost/admin/app/components/posts-list/list-item.hbs
  ghost/admin/app/helpers/gh-format-post-time.js
  ghost/admin/tests/integration/helpers/gh-format-post-time-test.js
Labels: affects:admin

#19919 Made changes in Turkish local for Comments, Ghost and Portal
  ghost/i18n/locales/tr/comments.json
  ghost/i18n/locales/tr/ghost.json
  ghost/i18n/locales/tr/portal.json
Labels: affects:i18n

#19938 Moved onboarding display check into new onboarding service
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/controllers/dashboard.js
  ghost/admin/app/helpers/feature.js
  ghost/admin/app/services/onboarding.js
  ghost/admin/app/templates/dashboard.hbs
  ghost/admin/mirage/config/stats.js
  ghost/admin/mirage/config/themes.js
  ghost/admin/tests/acceptance/onboarding-test.js
Labels: affects:admin

#19940 Wired up in-memory onboarding step completion
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/components/dashboard/onboarding-checklist.js
  ghost/admin/app/components/dashboard/onboarding/step.hbs
  ghost/admin/app/helpers/is-onboarding-step-completed.js
  ghost/admin/app/helpers/onboarding-step-class.js
  ghost/admin/app/services/onboarding.js
Labels: affects:admin

#19929 🐛 Fixed flaky offers browser test util
  ghost/core/playwright.config.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
  ghost/core/test/e2e-browser/portal/donations.spec.js
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: browser-tests

#19946 Added gradient background to onboarding checklist
  ghost/admin/app/styles/app-dark.css
  ghost/admin/app/styles/layouts/dashboard.css
  ghost/admin/public/assets/img/gradient-bg.png
Labels: affects:admin

#19947 Removed margin from checkmark
  ghost/admin/app/styles/layouts/dashboard.css
Labels: affects:admin

#19945 🐛 Fixed keeping existing attribution in recommendations
  apps/admin-x-settings/src/components/settings/growth/recommendations/AddRecommendationModal.tsx
  ghost/recommendations/src/BookshelfRecommendationRepository.ts
  ghost/recommendations/src/InMemoryRecommendationRepository.ts
  ghost/recommendations/src/Recommendation.ts
  ghost/recommendations/test/BookshelfRecommendationRepository.test.ts
  ghost/recommendations/test/Recommendation.test.ts
Labels: affects:admin, browser-tests

#19948 Wired onboarding checklist to saved user settings
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/services/onboarding.js
Labels: affects:admin

#19950 Migrated dashboard share modal to modern pattern
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/components/dashboard/onboarding-checklist.js
  ghost/admin/app/components/dashboard/onboarding/share-modal.hbs
  ghost/admin/app/components/dashboard/onboarding/share-modal.js
  ghost/admin/app/components/modal-share.hbs
  ghost/admin/app/components/modal-share.js
Labels: affects:admin

#19952 Replaced setup/done screen with onboarding checklist
  ghost/admin/app/routes/setup/done.js
  ghost/admin/app/services/onboarding.js
  ghost/admin/tests/acceptance/onboarding-test.js
Labels: affects:admin

#19953 Improved hover states for Onboarding Checklist
  ghost/admin/app/styles/layouts/dashboard.css
Labels: affects:admin

#19955 Updated checklist hovers in dark mode
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/styles/app-dark.css
Labels: affects:admin

#19956 Added confirmation modal to onboarding skip button
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/components/dashboard/onboarding-checklist.js
  ghost/admin/app/components/dashboard/onboarding/dismiss-modal.hbs
Labels: affects:admin

#19960 Update copy for onboarding checklist.
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/components/dashboard/onboarding/share-modal.hbs
Labels: affects:admin

#19961 Fix punctuation in onboarding checklist help message
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
Labels: affects:admin
