Repository TryGhost/Ghost, pull requests merged in 2024-05, with the labels that each got.

#20105 Added `customer_update` param to StripeAPI
  ghost/stripe/lib/StripeAPI.js
Labels: browser-tests

#20097 Fixed error rendering for theme uploads
  apps/admin-x-settings/src/components/settings/site/theme/InvalidThemeModal.tsx
Labels: affects:admin, browser-tests

#20116 Bumped koenig-lexical
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20126 Added initial implementation of internal linking for standard links
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20128 Revert "Added initial implementation of internal linking for standard links (#20126)"
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20130 Revert "Added new member signup flow behind labs flag (#19986)"
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/services/feature.js
  ghost/core/core/frontend/services/routing/RouterManager.js
  ghost/core/core/frontend/services/routing/SubscribeRouter.js
  ghost/core/core/frontend/services/routing/controllers/index.js
  ghost/core/core/frontend/services/routing/controllers/subscribe.js
  ghost/core/core/frontend/views/subscribe.hbs
  ghost/core/core/server/services/members/MembersConfigProvider.js
  ghost/core/core/server/web/members/app.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/members.test.js
  ghost/core/test/e2e-api/members/send-magic-link.test.js
  ghost/core/test/e2e-api/members/signin.test.js
  ghost/core/test/e2e-frontend/subscribe_routes.test.js
  ghost/members-api/lib/controllers/RouterController.js
  ghost/members-api/lib/members-api.js
Labels: affects:admin

#20139 Added initial implementation of internal linking for standard links
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20142 Fixed empty groups in internal link searches
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin

#20143 🐛 Fixed Admin search sometimes stalling on first query
  ghost/admin/app/services/search.js
  ghost/admin/mirage/config/posts.js
  ghost/admin/tests/acceptance/search-test.js
Labels: affects:admin

#20118 Added `latest_event_timestamp` to emails table
  ghost/core/core/server/data/migrations/versions/5.83/2024-05-02-06-01-13-add-latest-event-timestamp-to-email.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/email.js
  ghost/core/test/e2e-api/admin/__snapshots__/activity-feed.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/emails.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#20149 Revert "Added `latest_event_timestamp` to `email` table (#20118)"
  ghost/core/core/server/data/migrations/versions/5.83/2024-05-02-06-01-13-add-latest-event-timestamp-to-email.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/email.js
  ghost/core/test/e2e-api/admin/__snapshots__/activity-feed.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/emails.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#20152 Updated lock icon from hardcoded black to using currentColor
  ghost/admin/public/assets/icons/lock-filled.svg
Labels: affects:admin

#20154 Reduced Admin search re-indexes
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/models/post.js
  ghost/admin/app/models/tag.js
  ghost/admin/app/models/user.js
  ghost/admin/app/routes/lexical-editor/edit.js
  ghost/admin/app/serializers/tag.js
  ghost/admin/app/serializers/user.js
  ghost/admin/app/services/search.js
  ghost/admin/mirage/config/tags.js
  ghost/admin/mirage/serializers/post.js
  ghost/admin/mirage/serializers/tag.js
  ghost/admin/mirage/serializers/user.js
  ghost/admin/tests/acceptance/editor/publish-flow-test.js
  ghost/admin/tests/integration/models/post-test.js
  ghost/admin/tests/integration/models/tag-test.js
  ghost/admin/tests/integration/models/user-test.js
Labels: affects:admin

#20156 🐛 Fixed error rendering when using a duplicate offer code
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
Labels: affects:admin

#20166 Re-ordered Admin search results
  ghost/admin/app/services/search.js
  ghost/admin/tests/acceptance/search-test.js
Labels: affects:admin

#20168 Added access and publish date display to internal link list on hover
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/search.js
  ghost/admin/package.json
  ghost/admin/tests/integration/services/search-test.js
  ghost/admin/tests/unit/components/koenig-lexical-editor-test.js
  yarn.lock
Labels: affects:admin

#20171 🐛 Fixed updating payment method when beta flag is on
  ghost/members-api/lib/controllers/RouterController.js
  ghost/stripe/lib/StripeAPI.js
  ghost/stripe/test/unit/lib/StripeAPI.test.js
Labels: browser-tests

#20185 Released Portal v2.37.7
  apps/portal/package.json
Labels: affects:portal

#20198 Improved performance for filter strings with multiple neq statements
  apps/admin-x-settings/package.json
  ghost/admin/package.json
  ghost/bookshelf-repository/package.json
  ghost/collections/package.json
  ghost/core/package.json
  ghost/custom-theme-settings-service/package.json
  ghost/in-memory-repository/package.json
  ghost/link-tracking/package.json
  ghost/members-api/package.json
  ghost/posts-service/package.json
  yarn.lock
Labels: affects:admin

#20191 Improved internal linking copy and added query highlighting
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20204 Updated metadata shown on hover in internal link lists
  apps/admin-x-settings/package.json
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/package.json
  ghost/admin/tests/unit/components/koenig-lexical-editor-test.js
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#20208 Updated signup and private page forms for consistency
  ghost/admin/app/styles/layouts/auth.css
  ghost/core/core/frontend/public/ghost.css
Labels: affects:admin

#20213 Fix copy in newsletter preview content
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
Labels: affects:admin

#20221 Fixed error message of the date-time-picker not breaking onto next line
  ghost/admin/app/components/gh-date-time-picker.hbs
  ghost/admin/app/components/members/filter-value.hbs
  ghost/admin/app/styles/components/publishmenu.css
  ghost/admin/app/validators/post.js
  ghost/admin/tests/acceptance/editor-test.js
  ghost/admin/tests/integration/components/gh-date-picker-test.js
Labels: affects:admin

#20112 What's new popup
  ghost/admin/.lint-todo
  ghost/admin/app/components/dashboard/resources/whats-new.hbs
  ghost/admin/app/components/gh-nav-menu/footer-banner.hbs
  ghost/admin/app/components/gh-nav-menu/footer-banner.js
  ghost/admin/app/components/gh-nav-menu/footer.hbs
  ghost/admin/app/components/gh-nav-menu/footer.js
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/components/gh-nav-menu/main.js
  ghost/admin/app/components/modals/whats-new.hbs
  ghost/admin/app/components/modals/whats-new.js
  ghost/admin/app/services/whats-new.js
  ghost/admin/app/styles/app-dark.css
  ghost/admin/app/styles/app.css
  ghost/admin/app/styles/layouts/main.css
  ghost/admin/app/styles/layouts/whatsnew-modal.css
  ghost/admin/app/styles/layouts/whatsnew.css
  ghost/admin/public/assets/icons/sparkle-fill.svg
  ghost/admin/public/assets/icons/warning-fill.svg
Labels: affects:admin

#20228 Added table for `activitypub`
  ghost/core/core/server/data/exporter/table-lists.js
  ghost/core/core/server/data/migrations/versions/5.83/2024-05-16-17-57-13-add-activitypub-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/unit/server/data/schema/schema.test.js
Labels: migration

#20234 Update twitter.com to x.com
  apps/admin-x-settings/src/components/settings/general/SocialAccounts.tsx
  apps/admin-x-settings/src/utils/socialUrls.ts
  apps/admin-x-settings/test/acceptance/general/socialAccounts.test.ts
  apps/admin-x-settings/test/acceptance/general/users/profile.test.ts
Labels: affects:admin

#20236 Fixed schedule date formatting
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

#20237 Fixed tooltip for scheduled posts in postlist
  ghost/admin/app/components/posts-list/list-item.hbs
Labels: affects:admin

#20238 Fixed static copy in newsletter preview
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
Labels: affects:admin

#20153 Improve discoverability of unsaved settings
  apps/admin-x-design-system/src/global/Button.tsx
  apps/admin-x-design-system/src/global/ButtonGroup.stories.tsx
  apps/admin-x-design-system/src/global/ButtonGroup.tsx
  apps/admin-x-design-system/src/settings/SettingGroup.tsx
  apps/admin-x-design-system/src/settings/SettingGroupHeader.tsx
  apps/admin-x-settings/src/components/settings/advanced/CodeInjection.tsx
  apps/admin-x-settings/src/components/settings/advanced/History.tsx
  apps/admin-x-settings/src/components/settings/advanced/Integrations.tsx
  apps/admin-x-settings/src/components/settings/advanced/Labs.tsx
  apps/admin-x-settings/src/components/settings/email/Newsletters.tsx
  apps/admin-x-settings/src/components/settings/general/Users.tsx
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/Recommendations.tsx
  apps/admin-x-settings/src/components/settings/growth/embedSignup/EmbedSignupForm.tsx
  apps/admin-x-settings/src/components/settings/membership/Portal.tsx
  apps/admin-x-settings/src/components/settings/site/AnnouncementBar.tsx
  apps/admin-x-settings/src/components/settings/site/DesignSetting.tsx
  apps/admin-x-settings/src/components/settings/site/Navigation.tsx
Labels: affects:admin

#20246 Fixed Settings not working in offline dev locally
  apps/admin-x-framework/src/utils/queryClient.ts
Labels: affects:admin

#20219 Adding Persian/Farsi to supported languages
  ghost/i18n/lib/i18n.js
Labels: affects:i18n

#20254 Cleaned up jsdom dependency usage
  apps/admin-x-design-system/package.json
  apps/admin-x-framework/package.json
  apps/announcement-bar/package.json
  apps/signup-form/package.json
  apps/sodo-search/package.json
  ghost/core/package.json
Labels: affects:admin

#20255 Added Sentry Session Replay in Ghost Admin
  ghost/admin/app/routes/application.js
Labels: affects:admin

#20268 Added `show_subhead` column to newsletters table
  ghost/core/core/server/data/migrations/versions/5.83/2024-05-28-02-20-55-add-show-subhead-column-newsletters.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#20241 Corrected typos and wrong translations in SK language
  ghost/i18n/locales/sk/portal.json
Labels: affects:i18n

#20273 Updated email newsletter spacing and font sizes
  apps/admin-x-design-system/tailwind.config.cjs
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/email-service/lib/email-templates/partials/styles-old.hbs
  ghost/email-service/lib/email-templates/template-old.hbs
Labels: affects:admin

#20263 Added Sentry Session Replay in Ghost Admin (2/2)
  ghost/admin/app/routes/application.js
  ghost/admin/package.json
Labels: affects:admin

#20275 Fixed label name not showing as title
  ghost/admin/app/components/gh-token-input/label-token.js
Labels: affects:admin

#20265 Added Subheads behind a flag
  apps/admin-x-framework/src/api/newsletters.ts
  apps/admin-x-framework/src/test/responses/newsletters.json
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/models/newsletter.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/styles/layouts/post-history.css
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/core/core/shared/labs.js
Labels: affects:admin

#20276 Added subhead to newsletter template
  ghost/email-service/lib/EmailRenderer.js
  ghost/email-service/lib/email-templates/partials/styles-old.hbs
  ghost/email-service/lib/email-templates/template-old.hbs
  ghost/email-service/test/email-renderer.test.js
Labels: migration

#20279 Split subhead feature into two feature flags
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/services/feature.js
  ghost/admin/app/styles/layouts/editor.css
  ghost/core/core/shared/labs.js
  ghost/email-service/lib/EmailRenderer.js
  ghost/email-service/lib/email-templates/partials/styles-old.hbs
  ghost/email-service/lib/email-templates/template-old.hbs
  ghost/email-service/test/email-renderer.test.js
Labels: affects:admin

#20272 Added '@' internal link shortcut to editor
  apps/admin-x-settings/package.json
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/feature.js
  ghost/admin/package.json
  ghost/core/core/shared/labs.js
  ghost/core/package.json
  ghost/core/test/integration/services/email-service/cards.test.js
  yarn.lock
Labels: affects:admin

#20286 Fixed flaky Portal test
  apps/portal/src/utils/fixtures-generator.js
Labels: affects:portal

#20287 Fixed broken post-title background color in dark mode
  ghost/admin/app/styles/app-dark.css
Labels: affects:admin

#20288 Updated excerpt placeholder text from "subtitle" to "post excerpt" in…
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
Labels: affects:admin

#20289 Updated newsletter subtitle settings
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
Labels: affects:admin

#20290 Synced newsletter preview in settings with newsletter template
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/email-service/lib/email-templates/partials/styles-old.hbs
  ghost/email-service/lib/email-templates/template-old.hbs
Labels: affects:admin

#20292 Removed staff with 404 URLs from internal link searches
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin

#20294 ✨ Added internal linking beta
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/BetaFeatures.tsx
Labels: affects:admin

#20295 Added `name` attribute to feature flag checkboxes
  apps/admin-x-design-system/src/global/form/Toggle.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/FeatureToggle.tsx
Labels: affects:admin

#20297 Fixed "no results" state flashing in @-linking
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20299 🐛 Fixed admin error when trying to overwrite a default theme
  apps/admin-x-settings/src/components/settings/site/ThemeModal.tsx
  apps/admin-x-settings/test/acceptance/site/theme.test.ts
  apps/admin-x-settings/test/utils/responses/source.zip
Labels: affects:admin

#20301 Updated error message shown when trying to overwrite a default theme
  apps/admin-x-settings/src/components/settings/site/ThemeModal.tsx
  apps/admin-x-settings/test/acceptance/site/theme.test.ts
Labels: affects:admin
