Repository TryGhost/Ghost, pull requests merged in 2024-10, with the labels that each got.

#21169 🐛 Fixed errors creating new posts after a post access change via context menu
  ghost/admin/app/components/posts-list/modals/edit-posts-access.js
  ghost/admin/tests/acceptance/content-test.js
Labels: browser-tests

#21173 Fixed bugs in post's change-access context menu flow
  ghost/admin/app/components/posts-list/context-menu.hbs
  ghost/admin/app/components/posts-list/context-menu.js
  ghost/admin/app/components/posts-list/modals/edit-posts-access.js
  ghost/admin/mirage/config/posts.js
  ghost/admin/mirage/models/post.js
  ghost/admin/mirage/serializers/post.js
  ghost/admin/tests/acceptance/content-test.js
Labels: browser-tests

#21190 🌐 Portal translations - make additional errors translatable.
  apps/portal/src/AppContext.js
  apps/portal/src/actions.js
  apps/portal/src/components/pages/FeedbackPage.js
  apps/portal/src/data-attributes.js
  apps/portal/src/tests/errors.test.js
  apps/portal/src/utils/errors.js
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/ar/portal.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/bs/portal.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/portal.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/de-CH/portal.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/el/portal.json
  ghost/i18n/locales/en/portal.json
  ghost/i18n/locales/eo/portal.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/et/portal.json
  ghost/i18n/locales/fa/portal.json
  ghost/i18n/locales/fi/portal.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/gd/portal.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/id/portal.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/kz/portal.json
  ghost/i18n/locales/lt/portal.json
  ghost/i18n/locales/mk/portal.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/no/portal.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/ro/portal.json
  ghost/i18n/locales/ru/portal.json
  ghost/i18n/locales/si/portal.json
  ghost/i18n/locales/sk/portal.json
  ghost/i18n/locales/sl/portal.json
  ghost/i18n/locales/sq/portal.json
  ghost/i18n/locales/sr-Cyrl/portal.json
  ghost/i18n/locales/sr/portal.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/th/portal.json
  ghost/i18n/locales/tr/portal.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uz/portal.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh/portal.json
Labels: affects:i18n

#20917 Updated Norwegian translation
  ghost/i18n/locales/no/portal.json
Labels: affects:i18n

#20935 Fixed flaky publishing browser tests
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: browser-tests

#20449 Added a few missing strings for Croatian i18n
  ghost/i18n/locales/hr/comments.json
  ghost/i18n/locales/hr/portal.json
Labels: affects:i18n

#20485 Added locales for swahili language(sw)
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/sw/comments.json
  ghost/i18n/locales/sw/ghost.json
  ghost/i18n/locales/sw/portal.json
  ghost/i18n/locales/sw/search.json
  ghost/i18n/locales/sw/signup-form.json
Labels: affects:i18n

#21223 Added new German translations to portal
  ghost/i18n/locales/de/portal.json
Labels: affects:i18n

#21224 🌐 Added Bahasa Indonesia translation for Portal error messages
  ghost/i18n/locales/id/portal.json
Labels: affects:i18n

#21227 feat(i18n): updated vi translation
  ghost/i18n/locales/vi/comments.json
Labels: affects:i18n

#20432 Added locale for Bengali Language (bn) Just modified signup form for …
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/bn/comments.json
  ghost/i18n/locales/bn/ghost.json
  ghost/i18n/locales/bn/portal.json
  ghost/i18n/locales/bn/search.json
  ghost/i18n/locales/bn/signup-form.json
Labels: affects:i18n

#21232 Update comments.json
  ghost/i18n/locales/es/comments.json
Labels: affects:i18n

#21167 Translation from English to Spanish. Proof reading, and checking against official Spanish dictionary called Real Academia Española.
  ghost/i18n/locales/es/comments.json
  ghost/i18n/locales/es/ghost.json
  ghost/i18n/locales/es/search.json
  ghost/i18n/locales/es/signup-form.json
Labels: affects:i18n

#21230 🌐 Updated Vietnamese translation
  ghost/i18n/locales/vi/ghost.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/vi/search.json
  ghost/i18n/locales/vi/signup-form.json
Labels: affects:i18n

#21231 Update portal.json
  ghost/i18n/locales/es/portal.json
Labels: affects:i18n

#21239 Added ta ( Indian-Tamil ) Translation
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/ta/comments.json
  ghost/i18n/locales/ta/ghost.json
  ghost/i18n/locales/ta/portal.json
  ghost/i18n/locales/ta/search.json
  ghost/i18n/locales/ta/signup-form.json
Labels: affects:i18n

#21281 Added flag to skip gscan checks during boot
  ghost/core/core/server/services/themes/activate.js
  ghost/core/core/server/services/themes/index.js
  ghost/core/core/server/services/themes/validate.js
  ghost/core/core/shared/config/defaults.json
  ghost/core/package.json
  ghost/core/test/unit/server/services/themes/validate.test.js
  yarn.lock
Labels: browser-tests

#21140 feat(i18n): add zh-Hant translation
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh-Hant/search.json
Labels: affects:i18n

#21284 Fixed members/signin_urls endpoint to take admin api key
  ghost/core/core/server/data/migrations/versions/5.97/2024-10-10-01-02-03-add-signin-urls-permissions.js
  ghost/core/core/server/data/schema/fixtures/fixtures.json
  ghost/core/test/integration/migrations/migration.test.js
  ghost/core/test/regression/api/admin/members-signin-url.test.js
  ghost/core/test/unit/server/data/schema/fixtures/fixture-manager.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration

#21336 Added migration for new settings keys
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/migrations/versions/5.97/2024-10-08-14-25-27-added-body-font-settings.js
  ghost/core/core/server/data/migrations/versions/5.97/2024-10-08-14-36-58-added-heading-font-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#21339 Added Dutch (nl) locale for search.json
  ghost/i18n/locales/nl/search.json
Labels: affects:i18n

#21374 Added Best Comment to top of API output
  ghost/core/core/server/models/comment.js
  ghost/core/test/e2e-api/members-comments/__snapshots__/comments.test.js.snap
  ghost/core/test/e2e-api/members-comments/comments.test.js
Labels: browser-tests

#21368 Updated code for fetching location
  ghost/session-service/lib/session-service.js
Labels: deploy-to-staging

#21279 Added Dev Container setup
  .devcontainer/.docker/Dockerfile
  .devcontainer/.docker/base-devcontainer.compose.yml
  .devcontainer/.docker/base.compose.yml
  .devcontainer/.docker/development.compose.yml
  .devcontainer/.docker/development.entrypoint.sh
  .devcontainer/.docker/full-devcontainer.compose.yml
  .devcontainer/README.md
  .devcontainer/createLocalConfig.js
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
  .dockerignore
  .github/scripts/clean.sh
  .github/scripts/setup.js
  .gitignore
  apps/announcement-bar/vite.config.js
  apps/comments-ui/vite.config.ts
  apps/portal/vite.config.js
  apps/signup-form/vite.config.ts
  apps/sodo-search/vite.config.js
  ghost/core/nodemon.json
  ghost/core/package.json
  ghost/core/playwright.config.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
  package.json
  yarn.lock
Labels: browser-tests

#21401 Fixed browser tests yielding a false passing result in CI
  .github/scripts/dev.js
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/controllers/signin-verify.js
Labels: browser-tests

#21404 Fixed "specific tiers" flaky publishing test
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: browser-tests

#21246 Review of all translation fixed, missed some things here.
  ghost/i18n/locales/es/search.json
Labels: affects:i18n

#21238 🌐 RTL support for Portal
  apps/portal/src/App.js
  apps/portal/src/AppContext.js
  apps/portal/src/components/Frame.js
  apps/portal/src/components/Frame.styles.js
  apps/portal/src/components/Global.styles.js
  apps/portal/src/components/Notification.styles.js
  apps/portal/src/components/PopupModal.js
  apps/portal/src/components/TriggerButton.styles.js
  apps/portal/src/components/common/ActionButton.js
  apps/portal/src/components/common/BackButton.js
  apps/portal/src/components/common/NewsletterManagement.js
  apps/portal/src/components/common/PopupNotification.js
  apps/portal/src/components/common/ProductsSection.js
  apps/portal/src/components/common/Switch.js
  apps/portal/src/components/pages/AccountEmailPage.test.js
  apps/portal/src/components/pages/AccountHomePage/AccountHomePage.css
  apps/portal/src/components/pages/EmailSuppressedPage.css
  apps/portal/src/components/pages/FeedbackPage.js
  apps/portal/src/components/pages/OfferPage.js
  apps/portal/src/components/pages/RecommendationsPage.js
  apps/portal/src/components/pages/SignupPage.js
Labels: affects:i18n

#21416 Fixed 2fa re-send browser test
  ghost/core/test/e2e-browser/admin/2fa.spec.js
Labels: browser-tests

#21462 Cleaned up browser test output in CI
  .github/scripts/dev.js
Labels: browser-tests

#21477 Made the tabs sticky in design and newsletter settings
  apps/admin-x-design-system/src/global/TabView.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/site/DesignModal.tsx
  apps/admin-x-settings/test/acceptance/site/design.test.ts
Labels: browser-tests
