Repository TryGhost/Ghost, pull requests merged in 2024-12, with the labels that each got.

#21706 Fixed email error flash on the publish flow
  ghost/admin/app/components/editor/modals/publish-flow.hbs
  ghost/admin/app/components/editor/modals/publish-flow.js
  ghost/admin/app/components/editor/modals/publish-flow/confirm.js
Labels: browser-tests

#21772 Added config doc to verify screen
  ghost/admin/app/components/editor/modals/re-verify.hbs
  ghost/admin/app/templates/signin-verify.hbs
Labels: browser-tests

#21773 Added undefined check for user
  ghost/core/core/server/api/endpoints/session.js
Labels: browser-tests

#21774 Added test for re authentication flow
  ghost/admin/tests/unit/components/editor/modals/re-authenticate-test.js
Labels: browser-tests

#21783 Added index for redirects lookup
  ghost/core/core/server/data/migrations/versions/5.102/2024-12-02-17-32-40-alter-length-redirects-from.js
  ghost/core/core/server/data/migrations/versions/5.102/2024-12-02-17-48-40-add-index-redirects-from.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#21738 Added custom fonts feature check
  apps/admin-x-framework/src/api/themes.ts
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemeSettings.tsx
  apps/admin-x-settings/src/components/settings/site/theme/AdvancedThemeSettings.tsx
  apps/admin-x-settings/src/components/settings/site/theme/ThemeInstalledModal.tsx
  apps/admin-x-settings/src/hooks/useCustomFonts.tsx
  apps/admin-x-settings/test/acceptance/site/design.test.ts
  apps/admin-x-settings/test/acceptance/site/theme.test.ts
Labels: browser-tests

#21799 Removed unnecessary forUpdate
  ghost/members-api/lib/repositories/MemberRepository.js
Labels: browser-tests

#21836 Fixed flash of reply button when publishing a post
  ghost/admin/app/components/editor/modals/publish-flow.js
Labels: browser-tests

#21841 🔒 Limited permissions for uploaded files to 0644
  ghost/core/core/server/data/importer/import-manager.js
  ghost/core/test/unit/server/data/importer/import-manager.test.js
  ghost/core/test/unit/server/data/importer/test.zip
Labels: browser-tests

#21846 🐛 Fixed missing subscription attribution on free to paid upgrade
  ghost/core/test/e2e-api/members/__snapshots__/webhooks.test.js.snap
  ghost/core/test/e2e-api/members/webhooks.test.js
  ghost/stripe/lib/services/webhook/SubscriptionEventService.js
  ghost/stripe/test/unit/lib/services/webhooks/SubscriptionEventService.test.js
Labels: browser-tests

#21867 Create verified session for reset password
  ghost/admin/app/authenticators/cookie.js
  ghost/admin/app/controllers/reset.js
  ghost/admin/tests/unit/authenticators/cookie-test.js
  ghost/admin/tests/unit/controllers/reset-test.js
  ghost/core/core/server/api/endpoints/session.js
Labels: browser-tests

#21784 Update portal.json
  ghost/i18n/locales/tr/portal.json
Labels: affects:i18n

#21827 Update comments.json
  ghost/i18n/locales/ca/comments.json
Labels: affects:i18n

#21889 Cleaned up the customFonts feature flag
  apps/admin-x-settings/src/components/settings/site/designAndBranding/GlobalSettings.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemeSettings.tsx
  apps/admin-x-settings/test/acceptance/site/design.test.ts
  ghost/core/core/frontend/helpers/body_class.js
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/test/unit/frontend/helpers/__snapshots__/ghost_head.test.js.snap
  ghost/core/test/unit/frontend/helpers/body_class.test.js
  ghost/core/test/unit/frontend/helpers/ghost_head.test.js
Labels: browser-tests

#20538 Updated Portal notification styles
  apps/portal/src/components/Frame.styles.js
  apps/portal/src/components/Global.styles.js
  apps/portal/src/components/Notification.js
  apps/portal/src/components/Notification.styles.js
  apps/portal/src/components/PopupModal.js
  apps/portal/src/components/common/PopupNotification.js
Labels: affects:portal

#21771 🌐 Updated Vietnamese translations
  ghost/i18n/locales/vi/comments.json
  ghost/i18n/locales/vi/portal.json
Labels: affects:i18n

#21852 Latvian language
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/context.json
  ghost/i18n/locales/lv/comments.json
  ghost/i18n/locales/lv/ghost.json
  ghost/i18n/locales/lv/newsletter.json
  ghost/i18n/locales/lv/portal.json
  ghost/i18n/locales/lv/search.json
  ghost/i18n/locales/lv/signup-form.json
  ghost/i18n/locales/tr/portal.json
Labels: affects:i18n

#21919 Revert "🎨 Improved Access card layout in Settings (#21913)"
  apps/admin-x-design-system/src/settings/SettingGroupContent.tsx
  apps/admin-x-settings/src/components/settings/membership/Access.tsx
  apps/admin-x-settings/test/acceptance/membership/access.test.ts
Labels: browser-tests

#21920 🎨 Improved Access card layout in Settings
  apps/admin-x-design-system/src/settings/SettingGroupContent.tsx
  apps/admin-x-settings/src/components/settings/membership/Access.tsx
  apps/admin-x-settings/test/acceptance/membership/access.test.ts
  ghost/core/test/e2e-browser/admin/site-settings.spec.js
Labels: browser-tests

#21931 Revert "Removed i18n toggle from labs UI (#21927)"
  apps/admin-x-settings/src/components/settings/advanced/labs/BetaFeatures.tsx
  ghost/core/test/e2e-browser/admin/i18n.spec.js
Labels: browser-tests

#21935 Updated Portal browser test to be less dependent on exact copy
  ghost/core/test/e2e-browser/admin/site-settings.spec.js
Labels: browser-tests

#21905 Fixes some typos and generally improves the Italian Portal translation
  ghost/i18n/locales/it/comments.json
  ghost/i18n/locales/it/ghost.json
  ghost/i18n/locales/it/newsletter.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/it/signup-form.json
Labels: affects:i18n
