Repository TryGhost/Ghost, pull requests merged in 2024-01, with the labels that each got.

#19423 Disabled Codemirror searchKeymap in Admin X
  apps/admin-x-design-system/src/global/form/CodeEditorView.tsx
Labels: affects:admin

#19427 Fixed dashed border width issue for offers preview in Portal
  apps/portal/src/components/pages/OfferPage.js
Labels: affects:portal

#19428 Moved learn more link to a separate line in Offers setting group
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
Labels: affects:admin

#19437 Close offer modal after archiving/reactivating
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
Labels: affects:admin

#19439 Simplified offers table UI
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19440 Added ResizeObserver loop error to Sentry ignore list
  ghost/admin/app/routes/application.js
Labels: affects:admin

#19424 Fixed background click exiting CodeInjection modal
  apps/admin-x-settings/src/components/settings/advanced/code/CodeModal.tsx
Labels: affects:admin

#19389 Updated Italian translations
  ghost/i18n/locales/it/portal.json
Labels: affects:i18n

#19473 Removed duplicate member count queries in admin
  ghost/admin/app/services/dashboard-stats.js
  ghost/admin/app/services/members-stats.js
Labels: affects:admin

#19475 Improved API speed of members count cache queries
  ghost/admin/app/services/members-count-cache.js
Labels: affects:admin, affects:perf

#19474 Reduced amount of member count queries when opening the editor
  ghost/admin/app/components/gh-members-segment-count.js
  ghost/admin/app/helpers/publish-options.js
  ghost/admin/app/services/limit.js
  ghost/admin/app/utils/publish-options.js
Labels: affects:admin, affects:perf

#19476 Replaced menu members count stats API with members count cache
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/components/gh-nav-menu/main.js
Labels: affects:admin, affects:perf

#19478 Fixed dashboard stats member count
  ghost/admin/app/services/dashboard-stats.js
Labels: affects:admin

#19287 Removed usage of `yg` when using NQL
  apps/admin-x-settings/package.json
  ghost/admin/app/components/members/filter.js
  ghost/admin/app/components/members/filters/subscribed.js
  ghost/admin/package.json
  ghost/bookshelf-repository/package.json
  ghost/collections/package.json
  ghost/core/package.json
  ghost/custom-theme-settings-service/package.json
  ghost/link-tracking/package.json
  ghost/members-api/package.json
  ghost/posts-service/lib/PostsExporter.js
  ghost/posts-service/package.json
  yarn.lock
Labels: affects:admin

#19494 Send Ghost version to migrator tool
  ghost/admin/app/components/gh-migrate-iframe.js
  ghost/admin/app/services/migrate.js
Labels: affects:admin

#19495 Fixed generating offers in data generator
  ghost/admin/app/controllers/offers.js
  ghost/data-generator/lib/importers/OffersImporter.js
Labels: affects:admin

#19491 ✨ Added TK Reminders feature
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/tests/acceptance/editor-test.js
  ghost/core/core/shared/labs.js
Labels: affects:admin

#19249 [fix-#19246] --Fix darkmode is not working properly in Settings/Recommendations tab
  apps/admin-x-design-system/src/global/Table.tsx
Labels: affects:admin, design

#19504 Fixed type error when logging editor error
  ghost/admin/app/components/koenig-lexical-editor-input.js
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin

#19507 Updated Portal settings to render paid plans options only when relevant
  apps/admin-x-settings/src/components/settings/membership/portal/SignupOptions.tsx
Labels: affects:admin

#19505 🐛 Fixed searching posts in member filters
  ghost/admin/app/components/gh-resource-select.js
Labels: affects:admin

#19510 Added static design for banners PROD-215 PROD-322
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#19513 Design details on Offers cards and list
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
Labels: affects:admin

#19514 Added default string to href to Offers Portal iFrame
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
Labels: affects:admin

#19493 🎨 Added Offers to the new Settings
  apps/admin-x-design-system/src/global/Button.tsx
  apps/admin-x-design-system/src/global/modal/Modal.tsx
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/growth/GrowthSettings.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OfferSuccess.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
  apps/admin-x-settings/test/acceptance/membership/tiers.test.ts
  apps/comments-ui/test/e2e/actions.test.ts
  ghost/admin/.lint-todo
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/router.js
  ghost/admin/app/routes/offer.js
  ghost/admin/app/routes/offer/new.js
  ghost/admin/app/routes/offers.js
  ghost/admin/tests/acceptance/offers-test.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-browser/admin/tiers.spec.js
  ghost/core/test/e2e-browser/portal/offers.spec.js
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: affects:admin

#19515 Updated design of the reply-to field for custom sending domains
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/utils/newsletterEmails.ts
  apps/admin-x-settings/test/acceptance/email/newsletters.test.ts
Labels: affects:admin

#19519 Reverted "🎨 Added Offers to the new Settings (#19493)"
  apps/admin-x-design-system/src/global/Button.tsx
  apps/admin-x-design-system/src/global/modal/Modal.tsx
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/growth/GrowthSettings.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OfferSuccess.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
  apps/admin-x-settings/test/acceptance/membership/tiers.test.ts
  apps/comments-ui/test/e2e/actions.test.ts
  ghost/admin/.lint-todo
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/router.js
  ghost/admin/app/routes/offer.js
  ghost/admin/app/routes/offer/new.js
  ghost/admin/app/routes/offers.js
  ghost/admin/tests/acceptance/offers-test.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-browser/admin/tiers.spec.js
  ghost/core/test/e2e-browser/portal/offers.spec.js
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: affects:admin

#19522 Removed onLoad from iFrame element
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19517 Added toast notifications for successful email change PROD-215
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/test/acceptance/email/newsletters.test.ts
  ghost/core/core/server/services/newsletters/emails/verify-email.js
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
Labels: affects:admin

#19523 🐛 Fixed wording when a canceled subscription has not ended yet
  ghost/admin/app/components/gh-member-settings-form.hbs
  ghost/admin/app/components/gh-member-settings-form.js
Labels: affects:admin

#19524 Added hasLoaded state in Portal Frame
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19526 Fixed logic for displaying toast notifications when updating email address PROD-215
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/test/acceptance/email/newsletters.test.ts
Labels: affects:admin

#19527 🐛 Fixed externally hosted images overflowing in Outlook
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#19496 Update ghost.json
  ghost/i18n/locales/ru/comments.json
  ghost/i18n/locales/ru/ghost.json
  ghost/i18n/locales/ru/signup-form.json
Labels: affects:i18n

#19451 Added Lithuanian locale for Portal
  ghost/i18n/locales/lt/comments.json
  ghost/i18n/locales/lt/ghost.json
  ghost/i18n/locales/lt/portal.json
  ghost/i18n/locales/lt/signup-form.json
Labels: affects:i18n

#19406 Update portal.json
  ghost/i18n/locales/tr/portal.json
Labels: affects:i18n

#19405 Update comments.json
  ghost/i18n/locales/tr/comments.json
Labels: affects:i18n

#19536 Added loader for preview
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19540 Updated copy PROD-299
  apps/portal/src/components/common/ProductsSection.js
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/portal.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/en/portal.json
  ghost/i18n/locales/eo/portal.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/fi/portal.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/gd/portal.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/id/portal.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/no/portal.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/ro/portal.json
  ghost/i18n/locales/ru/portal.json
  ghost/i18n/locales/si/portal.json
  ghost/i18n/locales/sk/portal.json
  ghost/i18n/locales/sl/portal.json
  ghost/i18n/locales/sq/portal.json
  ghost/i18n/locales/sr/portal.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/tr/portal.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uz/portal.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh/portal.json
Labels: affects:portal, affects:i18n

#19541 Fixed Offers redemptions preselection
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
  ghost/admin/app/templates/offers.hbs
Labels: affects:admin

#19548 Added delay to avoid preview flashing
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19550 🐛Fixed primary_name crashing Settings history
  apps/admin-x-settings/src/components/settings/advanced/HistoryModal.tsx
Labels: affects:admin

#19551 🐛 Fixed links in History
  apps/admin-x-framework/src/api/actions.ts
  apps/admin-x-settings/src/components/settings/advanced/HistoryModal.tsx
Labels: affects:admin

#19553 Added a `Table` prop for enabling horizontal scroll PROD-332
  apps/admin-x-design-system/src/global/Table.tsx
Labels: affects:admin

#19549 Added Portal Frame conditions
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
  apps/portal/src/components/PopupModal.js
Labels: affects:admin, affects:portal

#19554 Bumped portal to 2.37.1
  apps/portal/package.json
Labels: affects:portal

#19556 Revert "Changed request type to fetching iframe content in previews (…
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-settings/src/components/settings/site/announcementBar/AnnouncementBarPreview.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemePreview.tsx
  apps/admin-x-settings/test/acceptance/site/announcementbar.test.ts
  apps/admin-x-settings/test/acceptance/site/design.test.ts
Labels: affects:admin

#19558 🐛 Fixed in-editor style regressions
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19564 Changed delay to 300ms
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19530 Fixed member subscription status when multiple subs
  ghost/admin/app/components/gh-member-settings-form.hbs
  ghost/admin/app/components/members/filters/next-billing-date.js
  ghost/admin/app/components/members/filters/plan-interval.js
  ghost/admin/app/components/members/filters/subscription-start-date.js
  ghost/admin/app/components/members/filters/subscription-status.js
  ghost/admin/app/helpers/most-relevant-subscription.js
  ghost/admin/tests/unit/helpers/most-relevant-subscription-test.js
Labels: affects:admin

#19565 Offeri frame flash fix
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19566 Offer iFrame flash fix attempt 1003
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19567 Optimised iframe for offers
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19568 Optimised iframe for offer
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19571 Optimised offer iframe
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19572 Revert "Optimised offer iframe"
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19573 Optimised for iframe
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19574 Offer flash fix5
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19575 Trying to fix browser tests
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
Labels: affects:admin

#19520 🎨 Admin X - Offers
  apps/admin-x-design-system/src/global/Button.tsx
  apps/admin-x-design-system/src/global/modal/Modal.tsx
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/growth/GrowthSettings.tsx
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OfferSuccess.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
  apps/admin-x-settings/test/acceptance/membership/tiers.test.ts
  apps/comments-ui/test/e2e/actions.test.ts
  ghost/admin/.lint-todo
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/router.js
  ghost/admin/app/routes/offer.js
  ghost/admin/app/routes/offer/new.js
  ghost/admin/app/routes/offers.js
  ghost/admin/tests/acceptance/offers-test.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-browser/admin/tiers.spec.js
  ghost/core/test/e2e-browser/portal/offers.spec.js
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: affects:admin, browser-tests

#19580 Portal feedback fixes ENG-554 ENG-555 ENG-557 ENG-592
  apps/admin-x-settings/src/components/settings/membership/portal/SignupOptions.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailPreview.tsx
Labels: affects:admin

#19582 Fixed default amounts in tier previews
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailPreview.tsx
Labels: affects:admin

#19585 Updated placeholder ENG-556
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailPreview.tsx
Labels: affects:admin

#19586 Fixed default prices in tier previews
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailPreview.tsx
Labels: affects:admin

#19584 🎨 Improved Portal and Portal settings
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: affects:admin

#19594 Revert Portal changes
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/portal/src/utils/helpers.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: affects:admin, affects:portal

#19595 Released Portal 2.37.2
  apps/portal/package.json
Labels: affects:portal

#19596 Fixed flaky portal tests
  ghost/core/test/e2e-browser/portal/offers.spec.js
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: browser-tests

#19598 Update comments.json for finnish translations
  ghost/i18n/locales/fi/comments.json
Labels: affects:i18n

#19597 Updated Danish Translations
  ghost/i18n/locales/da/comments.json
  ghost/i18n/locales/da/ghost.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/da/signup-form.json
Labels: affects:i18n

#19599 Update portal.json
  ghost/i18n/locales/fr/portal.json
Labels: affects:i18n

#19600 Update comments.json
  ghost/i18n/locales/fr/comments.json
Labels: affects:i18n

#19601 Update ghost.json
  ghost/i18n/locales/fr/ghost.json
Labels: affects:i18n

#19602 Update signup-form.json
  ghost/i18n/locales/fr/signup-form.json
Labels: affects:i18n

#19612 Added refresh to publishing test
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: browser-tests

#19618 🐛 Fixed error when converting or pasting HTML content with headings+text nested inside lists
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#19621 Add Lithuanian language support
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/lt/portal.json
Labels: affects:i18n

#19623 Cleared member count cache on manual member add/delete
  ghost/admin/app/components/gh-members-no-members.js
  ghost/admin/app/controllers/member.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: affects:admin

#19633 Added check for Stripe Pass in Stripe Connect test utils
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: browser-tests

#19634 🐛 Fixed embed card "Paste URL as link" button
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19637 Update grammar and fix missing word in Email receiving FAQ
  apps/portal/src/components/pages/EmailReceivingFAQ.js
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/portal.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/de-CH/portal.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/en/portal.json
  ghost/i18n/locales/eo/portal.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/fi/portal.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/gd/portal.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/id/portal.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/lt/portal.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/no/portal.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/ro/portal.json
  ghost/i18n/locales/ru/portal.json
  ghost/i18n/locales/si/portal.json
  ghost/i18n/locales/sk/portal.json
  ghost/i18n/locales/sl/portal.json
  ghost/i18n/locales/sq/portal.json
  ghost/i18n/locales/sr/portal.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/th/portal.json
  ghost/i18n/locales/tr/portal.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uz/portal.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh/portal.json
Labels: affects:portal, affects:i18n
