Repository TryGhost/Ghost, pull requests merged in 2024-04, with the labels that each got.

#19966 Updated class names for Share modal
  ghost/admin/app/components/dashboard/onboarding/share-modal.hbs
  ghost/admin/app/styles/app-dark.css
  ghost/admin/app/styles/layouts/dashboard.css
Labels: affects:admin

#19967 Fixed onboarding checklist video logo autoplay
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/modifiers/autoplay.js
Labels: affects:admin

#19970 Added subheading to onboarding checklist
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/styles/layouts/dashboard.css
Labels: affects:admin

#19971 Update LinkedIn share URL in share-modal.hbs
  ghost/admin/app/components/dashboard/onboarding/share-modal.hbs
Labels: affects:admin

#19973 Fixed setup/done screen showing 500 when not authenticated
  ghost/admin/app/routes/setup/done.js
  ghost/admin/tests/acceptance/onboarding-test.js
Labels: affects:admin

#19974 🐛 Fixed jerky scrolling in Site Design for Safari
  apps/admin-x-settings/src/utils/IframeBuffering.tsx
Labels: affects:admin

#19975 Updated onboarding copy and line-height
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/styles/layouts/dashboard.css
Labels: affects:admin

#19969 Added background blur to onboarding modals
  ghost/admin/app/components/dashboard/onboarding-checklist.js
  ghost/admin/app/components/dashboard/onboarding/share-modal.js
Labels: affects:admin

#19976 Updated icon positions in onboarding checklist
  ghost/admin/app/styles/layouts/dashboard.css
Labels: affects:admin

#19978 Removed leftover alpha lab
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
Labels: affects:admin

#19979 Removed confirmation modal when dismissing onboarding
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/components/dashboard/onboarding-checklist.js
  ghost/admin/app/components/dashboard/onboarding/dismiss-modal.hbs
Labels: affects:admin

#19918 Fixed email_recipients indexes to match query usage
  ghost/core/core/server/data/migrations/versions/5.82/2024-03-25-16-46-10-add-email-recipients-email-id-indexes.js
  ghost/core/core/server/data/migrations/versions/5.82/2024-03-25-16-51-29-drop-email-recipients-non-email-id-indexes.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#19980 Removed a word from an onboarding step
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
Labels: affects:admin

#19981 Add IDs for metrics
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/components/dashboard/onboarding/share-modal.hbs
Labels: affects:admin

#19932 Added: Persian Locale
  ghost/i18n/locales/fa/comments.json
  ghost/i18n/locales/fa/ghost.json
  ghost/i18n/locales/fa/portal.json
  ghost/i18n/locales/fa/signup-form.json
Labels: affects:i18n

#19941 Add Japanese translation of comment resources
  ghost/i18n/locales/ja/comments.json
  ghost/i18n/locales/ja/portal.json
Labels: affects:i18n

#19964 feat(spanish): Update spanish support comments.json
  ghost/i18n/locales/es/comments.json
Labels: affects:i18n

#19988 Made Ghost logo background in dark mode match the admin background
  ghost/admin/app/components/dashboard/onboarding-checklist.hbs
  ghost/admin/app/styles/app-dark.css
  ghost/admin/app/styles/layouts/dashboard.css
Labels: affects:admin

#19990 Moved additional payment methods into beta
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/BetaFeatures.tsx
  ghost/core/core/shared/labs.js
Labels: affects:admin

#19986 Added new member signup flow behind labs flag
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/services/feature.js
  ghost/core/core/frontend/services/routing/RouterManager.js
  ghost/core/core/frontend/services/routing/SubscribeRouter.js
  ghost/core/core/frontend/services/routing/controllers/index.js
  ghost/core/core/frontend/services/routing/controllers/subscribe.js
  ghost/core/core/frontend/views/subscribe.hbs
  ghost/core/core/server/services/members/MembersConfigProvider.js
  ghost/core/core/server/web/members/app.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/members.test.js
  ghost/core/test/e2e-api/members/send-magic-link.test.js
  ghost/core/test/e2e-api/members/signin.test.js
  ghost/core/test/e2e-frontend/subscribe_routes.test.js
  ghost/members-api/lib/controllers/RouterController.js
  ghost/members-api/lib/members-api.js
Labels: affects:admin

#19994 🐛 Fixed Gscan type error crashing settings
  apps/admin-x-settings/src/components/settings/site/theme/ThemeInstalledModal.tsx
Labels: affects:admin

#19995 Fixed "skip onboarding" button position on smaller screens
  ghost/admin/app/styles/layouts/dashboard.css
Labels: affects:admin

#19999 Fixed portal links in dark mode
  apps/admin-x-design-system/src/global/modal/PreviewModal.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/PortalLinks.tsx
Labels: affects:admin

#20006 Added `internalLinking` labs flag
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/services/feature.js
  ghost/core/core/shared/labs.js
Labels: affects:admin

#20008 Extracted Admin's search behaviour from component to service
  ghost/admin/app/components/gh-search-input.hbs
  ghost/admin/app/components/gh-search-input.js
  ghost/admin/app/services/search.js
Labels: affects:admin

#20010 🐛 Fixed First Promoter always showing Active
  apps/admin-x-settings/src/components/settings/advanced/Integrations.tsx
  apps/admin-x-settings/test/acceptance/advanced/integrations/integrationsList.test.ts
Labels: affects:admin

#20011 Generalised Admin search for use in editor
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/components/gh-search-input.js
  ghost/admin/app/components/modals/search.hbs
  ghost/admin/app/services/search.js
  ghost/admin/mirage/config/pages.js
  ghost/admin/tests/acceptance/search-test.js
Labels: affects:admin

#20014 Fixed esc handler support on preview modals
  apps/admin-x-design-system/src/global/modal/PreviewModal.tsx
  apps/admin-x-settings/src/components/settings/site/ThemeModal.tsx
Labels: affects:admin

#20024 🎨 Changed TK reminders to be case-insensitive
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20029 Improved long label handling
  ghost/admin/app/components/gh-member-label-input.hbs
  ghost/admin/app/components/gh-token-input/label-token.js
Labels: affects:admin

#20044 Wired up bookmark card internal linking proof of concept
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20047 Bumped Koenig packages
  ghost/admin/package.json
  ghost/core/package.json
  ghost/email-service/package.json
  ghost/importer-revue/package.json
  yarn.lock
Labels: affects:admin

#20049 Updated `@doist/react-interpolate` to v1.0.0
  apps/portal/package.json
  yarn.lock
Labels: affects:portal

#20053 🐛 Fixed admin error when deleting an unsaved or imported post
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/modals/delete-post.hbs
  ghost/admin/app/controllers/lexical-editor.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: affects:admin, browser-tests

#20054 Fixed internal linking not correctly filtering to published-only
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/search.js
Labels: affects:admin

#20058 Updated editor link search to group results
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20064 Updated 'Users' to 'Staff' in search dropdown component
  ghost/admin/app/components/gh-search-input.js
  ghost/admin/app/services/search.js
  ghost/admin/tests/acceptance/search-test.js
Labels: affects:admin

#20046 Improve technical errors
  apps/admin-x-design-system/src/global/form/TextArea.stories.tsx
  apps/admin-x-design-system/src/global/form/TextArea.tsx
  apps/admin-x-settings/src/components/settings/advanced/integrations/AddIntegrationModal.tsx
  apps/admin-x-settings/src/components/settings/advanced/integrations/CustomIntegrationModal.tsx
  apps/admin-x-settings/src/components/settings/advanced/integrations/WebhookModal.tsx
  apps/admin-x-settings/src/components/settings/email/Newsletters.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/AddNewsletterModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/general/Facebook.tsx
  apps/admin-x-settings/src/components/settings/general/LockSite.tsx
  apps/admin-x-settings/src/components/settings/general/Metadata.tsx
  apps/admin-x-settings/src/components/settings/general/TitleAndDescription.tsx
  apps/admin-x-settings/src/components/settings/general/Twitter.tsx
  apps/admin-x-settings/src/components/settings/general/UserDetailModal.tsx
  apps/admin-x-settings/src/components/settings/general/users/ProfileBasics.tsx
  apps/admin-x-settings/src/components/settings/general/users/ProfileDetails.tsx
  apps/admin-x-settings/src/components/settings/growth/recommendations/AddRecommendationModal.tsx
  apps/admin-x-settings/src/components/settings/growth/recommendations/RecommendationDescriptionForm.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/LookAndFeel.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/PortalModal.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  apps/admin-x-settings/test/acceptance/general/users/profile.test.ts
  apps/admin-x-settings/test/acceptance/membership/tiers.test.ts
Labels: affects:admin

#20082 Fixed portal spacing bug
  apps/portal/src/components/pages/EmailSuppressedPage.css
Labels: affects:portal

#20084 Made subscription link in newsletter preview use brand color
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
Labels: affects:admin

#20081 ActivityPub playground
  .github/scripts/dev.js
  apps/admin-x-activitypub/.eslintignore
  apps/admin-x-activitypub/.eslintrc.cjs
  apps/admin-x-activitypub/.gitignore
  apps/admin-x-activitypub/index.html
  apps/admin-x-activitypub/package.json
  apps/admin-x-activitypub/playwright.config.mjs
  apps/admin-x-activitypub/postcss.config.cjs
  apps/admin-x-activitypub/src/App.tsx
  apps/admin-x-activitypub/src/components/ListIndex.tsx
  apps/admin-x-activitypub/src/index.tsx
  apps/admin-x-activitypub/src/standalone.tsx
  apps/admin-x-activitypub/src/styles/index.css
  apps/admin-x-activitypub/tailwind.config.cjs
  apps/admin-x-activitypub/test/.eslintrc.cjs
  apps/admin-x-activitypub/test/acceptance/app.test.ts
  apps/admin-x-activitypub/test/unit/ListIndex.test.tsx
  apps/admin-x-activitypub/tsconfig.json
  apps/admin-x-activitypub/vite.config.mjs
  ghost/admin/app/components/admin-x/activitypub.hbs
  ghost/admin/app/components/admin-x/activitypub.js
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/controllers/activitypub-x.js
  ghost/admin/app/router.js
  ghost/admin/app/routes/activitypub-x.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/templates/activitypub-x.hbs
  ghost/admin/lib/asset-delivery/index.js
  ghost/admin/package.json
  ghost/core/core/shared/labs.js
Labels: affects:admin

#20088 Moved `internalLinking` and `stripeAutomaticTax` flags to beta
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/core/core/shared/labs.js
Labels: affects:admin

#19922 Fixed various design issues in Offers
  apps/admin-x-design-system/src/global/TabView.stories.tsx
  apps/admin-x-design-system/src/global/TabView.tsx
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
Labels: affects:admin

#20086 Updated sign in form to make it consistent with the new signup design
  ghost/admin/app/styles/layouts/auth.css
Labels: affects:admin

#20098 Improved sign in form error typography
  ghost/admin/app/styles/layouts/flow.css
Labels: affects:admin

#20045 🎨 update i18n for better fit (pt-br)
  ghost/i18n/locales/pt-BR/portal.json
Labels: affects:i18n

#20101 Fixed intermittent click issues with internal links dropdown
  ghost/admin/app/components/gh-koenig-editor-lexical.js
Labels: affects:admin

#20104 Fixed overly verbose DatabaseInfo require
  ghost/core/core/server/data/migrations/versions/5.0/2022-03-14-12-33-delete-duplicate-offer-redemptions.js
Labels: migration
