Repository TryGhost/Ghost, pull requests merged in 2024-07, with the labels that each got.

#20490 Changed "commented" link in member feed to post
  ghost/admin/app/helpers/parse-member-event.js
Labels: affects:admin

#20491 Center aligned feature image in email template
  ghost/admin/app/components/gh-editor-feature-image.hbs
  ghost/admin/app/styles/layouts/editor.css
  ghost/core/test/e2e-api/admin/__snapshots__/email-previews.test.js.snap
  ghost/core/test/integration/services/email-service/__snapshots__/batch-sending.test.js.snap
  ghost/email-service/lib/email-templates/partials/styles-old.hbs
  ghost/email-service/lib/email-templates/partials/styles.hbs
  ghost/email-service/lib/email-templates/template-old.hbs
  ghost/email-service/lib/email-templates/template.hbs
Labels: affects:admin

#20430 Unify "Save" and "Close" buttons in Settings
  apps/admin-x-settings/src/components/settings/general/UserDetailModal.tsx
  apps/admin-x-settings/src/components/settings/growth/recommendations/EditRecommendationModal.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
  apps/admin-x-settings/test/acceptance/general/users/profile.test.ts
  apps/admin-x-settings/test/acceptance/general/users/roles.test.ts
  apps/admin-x-settings/test/acceptance/membership/tiers.test.ts
Labels: affects:admin

#20496 Updated copy for default recipients hint
  apps/admin-x-settings/src/components/settings/email/DefaultRecipients.tsx
Labels: affects:admin

#20497 Switched `faker` to `@faker-js/faker`
  ghost/admin/mirage/config/members.js
  ghost/admin/mirage/factories/member-activity-event.js
  ghost/admin/mirage/factories/member.js
  ghost/admin/mirage/factories/offer.js
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20502 Updated integration modals buttons
  apps/admin-x-design-system/src/global/modal/Modal.tsx
  apps/admin-x-settings/src/components/settings/advanced/integrations/AmpModal.tsx
  apps/admin-x-settings/src/components/settings/advanced/integrations/CustomIntegrationModal.tsx
  apps/admin-x-settings/src/components/settings/advanced/integrations/FirstPromoterModal.tsx
  apps/admin-x-settings/src/components/settings/advanced/integrations/PinturaModal.tsx
  apps/admin-x-settings/src/components/settings/advanced/integrations/SlackModal.tsx
  apps/admin-x-settings/src/components/settings/advanced/integrations/UnsplashModal.tsx
  apps/admin-x-settings/test/acceptance/advanced/integrations/amp.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/custom.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/firstPromoter.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/slack.test.ts
  apps/admin-x-settings/test/acceptance/advanced/integrations/unsplash.test.ts
Labels: affects:admin

#20493 🎨 Added 'Changed email address' event to Member Activity
  ghost/admin/app/components/members-activity/event-type-filter.js
  ghost/admin/app/helpers/parse-member-event.js
  ghost/admin/public/assets/icons/event-email-changed.svg
  ghost/admin/public/assets/icons/filter-dropdown-email-address-changed.svg
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/members.test.js
  ghost/members-api/lib/members-api.js
  ghost/members-api/lib/repositories/EventRepository.js
Labels: affects:admin

#20505 🐛 Fixed unwanted extra blank paragraphs when copy/pasting from Google Docs
  apps/admin-x-settings/package.json
  ghost/admin/package.json
  ghost/core/package.json
  ghost/core/test/integration/services/email-service/__snapshots__/cards.test.js.snap
  yarn.lock
Labels: affects:admin

#20499 🐛 Fixed unexpected leave confirmation after Cmd+S on member profile
  ghost/admin/app/controllers/member.js
  ghost/admin/app/routes/member.js
Labels: affects:admin

#20506 ENG-925 Fixed analytics sources to not be case sensitive
  ghost/admin/app/services/dashboard-stats.js
Labels: affects:admin

#20508 Fixed analytics sources to not be case sensitive
  ghost/admin/app/services/dashboard-stats.js
Labels: affects:admin

#20509 Display more useful error messages upon theme activation
  apps/admin-x-settings/src/components/settings/site/theme/AdvancedThemeSettings.tsx
Labels: affects:admin

#20511 Optimized aggregating member attribution statistics
  ghost/admin/app/services/dashboard-stats.js
Labels: affects:admin

#20510 Updated password reset notification
  ghost/admin/app/components/gh-alert.js
  ghost/admin/app/controllers/reset.js
  ghost/admin/app/controllers/signin.js
  ghost/admin/app/styles/components/notifications.css
  ghost/admin/app/styles/layouts/flow.css
  ghost/admin/app/styles/patterns/forms.css
  ghost/admin/app/templates/signin.hbs
  ghost/admin/tests/acceptance/password-reset-test.js
  ghost/admin/tests/integration/components/gh-alert-test.js
Labels: affects:admin

#20476 🐛 Fixed incorrect member subscription details in Admin
  ghost/admin/app/components/gh-member-settings-form.hbs
  ghost/admin/app/components/gh-member-settings-form.js
  ghost/admin/app/utils/subscription-data.js
  ghost/admin/tests/unit/utils/subscription-data-test.js
Labels: affects:admin

#20513 Removed leftover .only on Admin unit tests
  ghost/admin/tests/unit/utils/subscription-data-test.js
Labels: affects:admin

#20514 Revert "Improved performance in Admin Posts view (#20503)"
  ghost/admin/app/components/posts-list/list.hbs
  ghost/admin/app/routes/posts.js
  ghost/admin/app/templates/posts.hbs
  ghost/admin/tests/acceptance/content-test.js
Labels: affects:admin

#20516 Fix scroll on settings page for editor users
  apps/admin-x-settings/src/MainContent.tsx
Labels: affects:admin

#20521 Revert "🐛 Fixed unexpected leave confirmation after Cmd+S on member p…
  ghost/admin/app/controllers/member.js
  ghost/admin/app/routes/member.js
Labels: affects:admin

#20531 Added test assertion to verify limit modal redirects to `/pro` route
  apps/admin-x-settings/test/acceptance/site/theme.test.ts
Labels: affects:admin

#20532 Cleaned up newsletterExcerpt flag
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/admin/app/services/feature.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/email-service/lib/email-templates/template.hbs
  ghost/email-service/test/email-renderer.test.js
Labels: affects:admin

#20543 🐛 Fixed image editing not saving changes
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20544 Fixed Follow for ActivityPub
  apps/admin-x-activitypub/src/components/FollowSite.tsx
Labels: affects:admin

#20535 ENG-1351 Fixed update form
  apps/admin-x-design-system/src/hooks/useSortableIndexedList.tsx
  apps/admin-x-settings/src/hooks/site/useNavigationEditor.tsx
Labels: affects:admin

#20547 Cleaned up websockets experiment
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/components/websockets.hbs
  ghost/admin/app/components/websockets.js
  ghost/admin/app/controllers/websockets.js
  ghost/admin/app/router.js
  ghost/admin/app/routes/websockets.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/templates/websockets.hbs
  ghost/admin/config/environment.js
  ghost/admin/package.json
  ghost/core/core/boot.js
  ghost/core/core/server/services/websockets/index.js
  ghost/core/core/server/services/websockets/service.js
  ghost/core/core/shared/labs.js
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#20548 Cleaned up hasPortalImprovements GA feature flag
  apps/admin-x-settings/src/components/settings/membership/portal/SignupOptions.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailModal.tsx
  ghost/admin/app/services/feature.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: affects:admin

#20557 🐛 Fixed selection bugs in editor
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#20556 ActivityPub alternative layout
  apps/admin-x-activitypub/package.json
  apps/admin-x-activitypub/src/components/ListIndex.tsx
  apps/admin-x-activitypub/tsconfig.json
  yarn.lock
Labels: affects:admin

#20558 Updated email error message
  apps/admin-x-settings/src/components/settings/membership/portal/AccountPage.tsx
Labels: affects:admin

#20559 Error copy updates for Newsletter settings
  apps/admin-x-settings/src/components/settings/email/newsletters/AddNewsletterModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/test/acceptance/email/newsletters.test.ts
Labels: affects:admin

#20561 Updated Ghost Admin README with updated test instructions
  ghost/admin/README.md
Labels: affects:admin

#20563 Fixes complimentary subscription display issues
  apps/portal/src/components/pages/AccountHomePage/components/AccountWelcome.js
  ghost/admin/app/components/gh-member-settings-form.hbs
Labels: affects:admin, affects:portal

#20564 Added guard against null icon for actor
  apps/admin-x-activitypub/src/components/ListIndex.tsx
Labels: affects:admin

#20554 Cleaned up 'Filter by email disabled' GA feature flag
  ghost/admin/app/components/members/filters/subscribed.js
  ghost/admin/app/services/feature.js
  ghost/admin/tests/acceptance/members/filter-test.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: affects:admin

#20567 ENG-1374 Added tests for dashboard stats service
  ghost/admin/tests/unit/services/dashboard-stats-test.js
Labels: affects:admin

#20568 Improved alignment and spacing of ViewContainer component
  apps/admin-x-activitypub/src/components/ListIndex.tsx
  apps/admin-x-design-system/src/global/layout/ViewContainer.tsx
Labels: affects:admin

#20570 Updated timezone packages
  ghost/admin/lib/ember-power-calendar-utils/package.json
  ghost/admin/package.json
  ghost/core/package.json
  ghost/email-service/package.json
  ghost/members-events-service/package.json
  ghost/members-importer/package.json
  package.json
  yarn.lock
Labels: affects:admin

#20576 Updated Portal readme with updated develop and release instructions
  apps/portal/README.md
Labels: affects:portal

#20577 Cleaned up "Embeddable signup form" GA feature flag
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-settings/src/components/settings/growth/GrowthSettings.tsx
  ghost/admin/app/services/feature.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: affects:admin

#20579 Changed button labels in Navigation modal
  apps/admin-x-settings/src/components/settings/site/NavigationModal.tsx
  apps/admin-x-settings/test/acceptance/site/navigation.test.ts
Labels: affects:admin

#20584 Fixes Resource articles overflowing on Post Analytics
  ghost/admin/app/styles/layouts/content.css
Labels: affects:admin

#20588 Added test to admin-x-design-system
  apps/admin-x-design-system/package.json
  apps/admin-x-design-system/test/unit/hello.test.js
  apps/admin-x-design-system/test/unit/hooks/usePagination.test.ts
  apps/admin-x-design-system/test/unit/hooks/useSortableIndexedList.test.ts
  yarn.lock
Labels: affects:admin

#20590 Improved text-wrapping for Resource headers
  ghost/admin/app/styles/layouts/content.css
Labels: affects:admin

#20593 Fixes searchbar breakpoint issue
  apps/admin-x-settings/src/components/Sidebar.tsx
Labels: affects:admin

#20594 Updated Archive Newsletter modal
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#20598 🐛 Removed method="post" on sign in/up forms in Admin
  ghost/admin/app/templates/signin.hbs
  ghost/admin/app/templates/signup.hbs
Labels: affects:admin

#20604 Updated Koenig Lexical version in package.json
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20608 Updated Lexical version
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20610 Added posts bulk action Admin tests
  ghost/admin/mirage/config/posts.js
  ghost/admin/tests/acceptance/content-test.js
Labels: affects:admin

#20609 Added 90 days filter to Top Sources Admin Dashboard query
  ghost/stats-service/lib/ReferrersStatsService.js
  ghost/stats-service/test/lib/referrers.test.js
Labels: browser-tests

#20618 ✨ Improved performance loading the posts list in admin
  ghost/admin/app/components/gh-context-menu.js
  ghost/admin/app/components/posts-list/context-menu.js
  ghost/admin/app/components/posts-list/list.hbs
  ghost/admin/app/components/posts-list/selection-list.js
  ghost/admin/app/controllers/posts.js
  ghost/admin/app/routes/posts.js
  ghost/admin/app/templates/posts.hbs
  ghost/admin/mirage/config/posts.js
  ghost/admin/tests/acceptance/content-test.js
Labels: affects:admin

#20619 🐛 Fixed member subscription details in Admin
  ghost/admin/app/components/gh-member-settings-form.hbs
  ghost/admin/app/utils/subscription-data.js
  ghost/admin/tests/unit/utils/subscription-data-test.js
Labels: affects:admin

#20622 Enforced nested `<p>` when rendering `<blockquote>` in email
  ghost/admin/package.json
  ghost/core/package.json
  ghost/core/test/integration/services/email-service/__snapshots__/cards.test.js.snap
  yarn.lock
Labels: affects:admin

#20623 Enforced nested `<p>` when rendering `<blockquote>` for Aside nodes in email
  ghost/admin/package.json
  ghost/core/package.json
  ghost/core/test/integration/services/email-service/__snapshots__/cards.test.js.snap
  yarn.lock
Labels: affects:admin

#20592 Newsletter sending fix
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#20626 Revert "Newsletter sending fix"
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#20627 🐛 Fixed publishing issue when site has no active newsletters
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#20628 🐛 Fixed admin crashing when deleting a tier benefit that was last moved
  apps/admin-x-design-system/src/global/SortableList.tsx
Labels: affects:admin

#20629 Published new versions of apps to support BS locale
  apps/comments-ui/package.json
  apps/portal/package.json
  apps/signup-form/package.json
  ghost/i18n/lib/i18n.js
Labels: affects:portal, affects:i18n

#20633 🐛 Fixed listing pages in Admin
  ghost/admin/app/components/gh-context-menu.js
  ghost/admin/app/components/posts-list/context-menu.js
  ghost/admin/app/components/posts-list/list.hbs
  ghost/admin/app/controllers/posts.js
  ghost/admin/app/routes/posts.js
  ghost/admin/app/templates/posts.hbs
  ghost/admin/app/utils/selection-list.js
  ghost/admin/mirage/config/posts.js
  ghost/admin/tests/acceptance/content-test.js
Labels: affects:admin

#20639 Fixed regex to ignore AbortError in Sentry
  ghost/admin/app/routes/application.js
  ghost/admin/app/utils/sentry.js
Labels: affects:admin

#20644 Fixed missing space after account name when disconnecting Stripe
  apps/admin-x-settings/src/components/settings/membership/stripe/StripeConnectModal.tsx
Labels: affects:admin

#20645 Updated dependency koenig-lexical to v1.3.12
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20649 Updated Tips & Donations settings design
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/components/settings/growth/GrowthSettings.tsx
  apps/admin-x-settings/src/components/settings/growth/TipsAndDonations.tsx
  apps/admin-x-settings/src/components/settings/growth/TipsOrDonations.tsx
  ghost/core/test/e2e-browser/portal/donations.spec.js
Labels: affects:admin

#20651 🐛 Fixed broken link to subscription settings
  ghost/admin/app/components/gh-members-no-members.hbs
Labels: affects:admin

#20654 Fixed members list when scrolled down too quickly
  ghost/admin/app/templates/members.hbs
Labels: affects:admin

#20668 Removed cache buster from client extensions script
  ghost/admin/app/controllers/application.js
  ghost/admin/app/templates/application.hbs
Labels: affects:admin

#20672 Added test coverage over newsletter flows
  apps/portal/src/components/common/NewsletterManagement.js
  apps/portal/src/components/pages/AccountEmailPage.test.js
  apps/portal/src/components/pages/AccountHomePage/AccountHomePage.test.js
  apps/portal/src/components/pages/NewsletterSelectionPage.js
  apps/portal/src/tests/EmailSubscriptionsFlow.test.js
  apps/portal/src/utils/fixtures-generator.js
  ghost/core/core/server/services/members/middleware.js
  ghost/core/core/shared/config/env/config.development.json
  ghost/core/test/e2e-browser/portal/member-actions.spec.js
  ghost/core/test/unit/server/services/members/middleware.test.js
Labels: affects:portal

#20674 Fixed e2e test for Portal
  ghost/core/test/e2e-browser/portal/member-actions.spec.js
Labels: browser-tests

#20662 Updated tips and donations copy in editor button card
  apps/admin-x-settings/src/components/settings/growth/TipsAndDonations.tsx
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin

#20677 Protected against quick escapes when loading post
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

#20678 🐛 Fixed spurious errors when loading modal before provider
  apps/admin-x-settings/src/App.tsx
Labels: affects:admin

#20681 🐛 Disabled bulk deletion when multiple member filters are applied
  ghost/admin/app/controllers/members.js
  ghost/admin/app/templates/members.hbs
  ghost/admin/tests/acceptance/members-test.js
  ghost/admin/tests/acceptance/members/filter-test.js
Labels: affects:admin

#20646 ✨ Improved performance loading posts & pages in admin
  ghost/admin/app/components/gh-context-menu.js
  ghost/admin/app/components/posts-list/context-menu.js
  ghost/admin/app/components/posts-list/list.hbs
  ghost/admin/app/components/posts-list/selection-list.js
  ghost/admin/app/controllers/pages.js
  ghost/admin/app/controllers/posts.js
  ghost/admin/app/routes/posts.js
  ghost/admin/app/templates/pages.hbs
  ghost/admin/app/templates/posts.hbs
  ghost/admin/mirage/config/pages.js
  ghost/admin/mirage/config/posts.js
  ghost/admin/tests/acceptance/content-test.js
Labels: affects:admin

#20684 Mastodon notes with attachments
  apps/admin-x-activitypub/src/components/ListIndex.tsx
  apps/admin-x-framework/src/api/activitypub.ts
Labels: affects:admin

#20688 Fixed handling of single item collections
  apps/admin-x-activitypub/src/api/activitypub.test.ts
  apps/admin-x-activitypub/src/api/activitypub.ts
Labels: affects:admin

#20689 🐛 Fixed dark mode for standalone html editors in Admin X
  apps/admin-x-design-system/src/DesignSystemApp.tsx
  apps/admin-x-design-system/src/global/form/HtmlEditor.tsx
  apps/admin-x-design-system/src/providers/DesignSystemProvider.tsx
Labels: affects:admin

#20690 Fixed ActivityPub app tabs content
  apps/admin-x-activitypub/src/components/ListIndex.tsx
Labels: affects:admin

#20692 Refactored ActivityPub tabs to make tabs more maintainable
  apps/admin-x-activitypub/src/components/ListIndex.tsx
Labels: affects:admin
