Repository TryGhost/Ghost, pull requests merged in 2024-08, with the labels that each got.

#20696 Added styling for accent colours on Tiers and Offers
  apps/admin-x-design-system/styles.css
  apps/admin-x-design-system/tailwind.config.cjs
  apps/admin-x-settings/src/components/settings/growth/Offers.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TierDetailPreview.tsx
  apps/admin-x-settings/src/components/settings/membership/tiers/TiersList.tsx
Labels: affects:admin

#20703 Updated design of announced Notes and Notes containing links
  apps/admin-x-activitypub/src/components/ListIndex.tsx
  apps/admin-x-activitypub/src/styles/index.css
  apps/admin-x-design-system/src/assets/icons/reload.svg
Labels: affects:admin

#20705 Revert "Updated design of announced Notes and Notes containing links …
  apps/admin-x-activitypub/src/components/ListIndex.tsx
  apps/admin-x-activitypub/src/styles/index.css
  apps/admin-x-design-system/src/assets/icons/reload.svg
Labels: affects:admin

#20647 Backfilled missing offer redemptions
  ghost/core/core/server/data/migrations/versions/5.89/2024-07-30-19-51-06-backfill-offer-redemptions.js
Labels: migration

#20714 Updated design of announced Notes and Notes containing links (#20703)
  apps/admin-x-activitypub/src/components/ListIndex.tsx
  apps/admin-x-activitypub/src/styles/index.css
  apps/admin-x-design-system/src/assets/icons/reload.svg
Labels: affects:admin

#20715 Updated types for `attributedTo` property of Objects
  apps/admin-x-framework/src/api/activitypub.ts
Labels: affects:admin

#20687 🐛 Fixed unsaved changes confirmation on Lexical schema change
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/components/modal-post-history.hbs
  ghost/admin/app/components/modal-post-history.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/models/post.js
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/tests/unit/controllers/editor-test.js
Labels: affects:admin

#20717 Fixed browser tests for unsaved changes
  ghost/core/test/e2e-browser/admin/publishing.spec.js
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: browser-tests

#20724 Fixed matching ignored errors
  ghost/admin/app/routes/application.js
Labels: affects:admin

#20732 🐛 Fixed newsletter button not hidden in Portal
  apps/portal/src/components/pages/AccountHomePage/AccountHomePage.test.js
  apps/portal/src/components/pages/AccountHomePage/components/AccountActions.js
  apps/portal/src/utils/fixtures-generator.js
  apps/portal/src/utils/helpers.js
  ghost/core/core/shared/settings-cache/public.js
  ghost/core/test/e2e-api/content/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/shared/__snapshots__/version.test.js.snap
Labels: affects:portal

#20733 Bumped Portal to 2.38.0
  apps/portal/package.json
  ghost/core/core/shared/config/defaults.json
Labels: affects:portal

#20730 Excerpt form error fix
  ghost/admin/app/styles/patterns/forms.css
  ghost/admin/app/validators/post.js
Labels: affects:admin

#20737 Cleaned up internalLinking labs flag
  apps/admin-x-settings/package.json
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/services/search-provider-basic.js
  ghost/admin/app/services/search-provider-flex.js
  ghost/admin/app/services/search.js
  ghost/admin/package.json
  ghost/admin/tests/acceptance/search-test.js
  ghost/admin/tests/integration/services/search-test.js
  ghost/core/core/shared/labs.js
  ghost/core/package.json
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/email-service/package.json
  ghost/importer-revue/package.json
  yarn.lock
Labels: affects:admin

#20750 Wired up stripeEnabled to Koenig config
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin

#20747 🎨 Removed member bulk deletion safeguard from safe queries
  ghost/admin/README.md
  ghost/admin/app/components/members/filter.js
  ghost/admin/app/components/members/filters/created-at.js
  ghost/admin/app/components/members/filters/email-clicked.js
  ghost/admin/app/components/members/filters/email-count.js
  ghost/admin/app/components/members/filters/email-open-rate.js
  ghost/admin/app/components/members/filters/email-opened-count.js
  ghost/admin/app/components/members/filters/email-opened.js
  ghost/admin/app/components/members/filters/email.js
  ghost/admin/app/components/members/filters/label.js
  ghost/admin/app/components/members/filters/last-seen.js
  ghost/admin/app/components/members/filters/name.js
  ghost/admin/app/components/members/filters/offers.js
  ghost/admin/app/components/members/filters/signup-attribution.js
  ghost/admin/app/components/members/filters/status.js
  ghost/admin/app/components/members/filters/subscription-attribution.js
  ghost/admin/app/components/members/filters/tier.js
  ghost/admin/app/controllers/members.js
  ghost/admin/app/templates/members.hbs
  ghost/admin/mirage/factories/newsletter.js
  ghost/admin/tests/acceptance/members-test.js
Labels: affects:admin

#20757 🐛 Fixed additional white space appearing at bottom of editor
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: affects:admin, browser-tests

#20701 Updated publishing flow
  apps/admin-x-design-system/src/assets/icons/share.svg
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/components/editor/modals/publish-flow.hbs
  ghost/admin/app/components/editor/modals/publish-flow/confirm.js
  ghost/admin/app/components/modal-post-success.hbs
  ghost/admin/app/components/modal-post-success.js
  ghost/admin/app/components/posts-list/list.hbs
  ghost/admin/app/components/posts-list/list.js
  ghost/admin/app/components/posts/analytics.hbs
  ghost/admin/app/components/posts/analytics.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/styles/components/dropdowns.css
  ghost/admin/app/styles/components/publishmenu.css
  ghost/admin/app/styles/layouts/content.css
  ghost/admin/app/templates/posts.hbs
  ghost/admin/public/assets/icons/reload.svg
  ghost/admin/public/assets/icons/share.svg
  ghost/admin/public/assets/icons/social-threads.svg
  ghost/core/core/shared/labs.js
Labels: affects:admin

#20758 Add reusable UI components to ActivityPub
  apps/admin-x-activitypub/src/App.tsx
  apps/admin-x-activitypub/src/MainContent.tsx
  apps/admin-x-activitypub/src/components/Activities.tsx
  apps/admin-x-activitypub/src/components/Inbox.tsx
  apps/admin-x-activitypub/src/components/Profile.tsx
  apps/admin-x-activitypub/src/components/Search.tsx
  apps/admin-x-activitypub/src/components/_ObsoleteListIndex.tsx
  apps/admin-x-activitypub/src/components/activities/ActivityItem.tsx
  apps/admin-x-activitypub/src/components/feed/ArticleModal.tsx
  apps/admin-x-activitypub/src/components/feed/FeedItem.tsx
  apps/admin-x-activitypub/src/components/global/APAvatar.tsx
  apps/admin-x-activitypub/src/components/inbox/FollowSiteModal.tsx
  apps/admin-x-activitypub/src/components/modals.tsx
  apps/admin-x-activitypub/src/components/navigation/MainHeader.tsx
  apps/admin-x-activitypub/src/components/navigation/MainNavigation.tsx
  apps/admin-x-activitypub/src/components/profile/ViewFollowersModal.tsx
  apps/admin-x-activitypub/src/components/profile/ViewFollowingModal.tsx
  apps/admin-x-design-system/src/assets/icons/bell.svg
  apps/admin-x-design-system/src/assets/icons/home.svg
  apps/admin-x-design-system/src/assets/icons/user.svg
  apps/admin-x-design-system/src/global/Icon.tsx
  apps/admin-x-design-system/src/global/modal/Modal.stories.tsx
  apps/admin-x-design-system/src/global/modal/Modal.tsx
  apps/admin-x-design-system/tailwind.config.cjs
Labels: affects:admin

#20761 Refined details for new publish flow
  ghost/admin/app/components/modal-post-success.hbs
  ghost/admin/app/styles/components/publishmenu.css
Labels: affects:admin

#20760 Added button to copy post link to context menu
  ghost/admin/app/components/posts-list/context-menu.hbs
  ghost/admin/app/components/posts-list/context-menu.js
  ghost/admin/mirage/factories/post.js
  ghost/admin/tests/acceptance/content-test.js
Labels: affects:admin

#20740 Bulgarian translation of comments interface
  ghost/i18n/locales/bg/comments.json
Labels: affects:i18n

#20769 🐛 Fixed a bug causing new drafts to only save if the title is populated
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/components/modal-post-history.hbs
  ghost/admin/app/components/modal-post-history.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/models/post.js
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/tests/unit/controllers/editor-test.js
Labels: affects:admin, browser-tests

#20774 Fixed draft posts not autosaving without title
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/components/modal-post-history.hbs
  ghost/admin/app/components/modal-post-history.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/models/post.js
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/tests/unit/controllers/editor-test.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: affects:admin, browser-tests

#20776 Revert "Fixed draft posts not autosaving without title (#20774)"
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/components/modal-post-history.hbs
  ghost/admin/app/components/modal-post-history.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/models/post.js
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/tests/unit/controllers/editor-test.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: affects:admin

#20244 Migrated the design system to Radix
  apps/admin-x-demo/src/ListPage.tsx
  apps/admin-x-design-system/package.json
  apps/admin-x-design-system/src/assets/icons/hyperlink-circle.svg
  apps/admin-x-design-system/src/global/Avatar.tsx
  apps/admin-x-design-system/src/global/Button.tsx
  apps/admin-x-design-system/src/global/Menu.stories.tsx
  apps/admin-x-design-system/src/global/Menu.tsx
  apps/admin-x-design-system/src/global/Popover.stories.tsx
  apps/admin-x-design-system/src/global/Popover.tsx
  apps/admin-x-design-system/src/global/Separator.tsx
  apps/admin-x-design-system/src/global/SortMenu.tsx
  apps/admin-x-design-system/src/global/TabView.stories.tsx
  apps/admin-x-design-system/src/global/TabView.tsx
  apps/admin-x-design-system/src/global/Tooltip.stories.tsx
  apps/admin-x-design-system/src/global/Tooltip.tsx
  apps/admin-x-design-system/src/global/form/Checkbox.tsx
  apps/admin-x-design-system/src/global/form/Radio.tsx
  apps/admin-x-design-system/src/global/form/TextArea.tsx
  apps/admin-x-design-system/src/global/form/TextField.tsx
  apps/admin-x-design-system/src/global/form/Toggle.tsx
  apps/admin-x-design-system/src/global/modal/Modal.tsx
  apps/admin-x-settings/src/components/settings/advanced/HistoryModal.tsx
  apps/admin-x-settings/src/components/settings/general/UserDetailModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/OffersIndex.tsx
  apps/admin-x-settings/src/components/settings/site/theme/AdvancedThemeSettings.tsx
  apps/admin-x-settings/test/acceptance/advanced/history.test.ts
  apps/admin-x-settings/test/acceptance/general/users/actions.test.ts
  apps/admin-x-settings/test/acceptance/general/users/invite.test.ts
  apps/admin-x-settings/test/acceptance/general/users/roles.test.ts
  apps/admin-x-settings/test/acceptance/site/announcementbar.test.ts
  yarn.lock
Labels: affects:admin

#20779 Publish flow Close button improvements
  ghost/admin/app/styles/components/publishmenu.css
Labels: affects:admin

#20782 Adds blur behind 'Share' modal
  ghost/admin/app/components/modal-post-success.js
Labels: affects:admin

#20783 Fix browser tests for Radix migration
  ghost/core/test/e2e-browser/admin/tiers.spec.js
Labels: browser-tests

#20785 🐛 Fixed autosave not triggering when in-editor excerpt is changed
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/tests/acceptance/editor/lexical-test.js
Labels: affects:admin

#20787 🐛 Fixed editor unsaved changes modal showing too often
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/components/modal-post-history.hbs
  ghost/admin/app/components/modal-post-history.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/models/post.js
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/tests/acceptance/editor/lexical-test.js
  ghost/admin/tests/unit/controllers/editor-test.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: affects:admin

#20788 Fixed excerpt blur saving non-draft posts
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/tests/acceptance/editor/lexical-test.js
Labels: affects:admin

#20676 Added default background and font styles to cards
  ghost/core/core/frontend/src/cards/css/audio.css
  ghost/core/core/frontend/src/cards/css/file.css
  ghost/core/core/frontend/src/cards/css/product.css
  ghost/core/core/frontend/src/cards/css/toggle.css
Labels: browser-tests

#20791 Technical improvements for publish flow
  ghost/admin/app/components/modal-post-success.hbs
  ghost/admin/app/components/modal-post-success.js
  ghost/admin/app/styles/components/publishmenu.css
Labels: affects:admin

#20793 Updated tips & donations default suggested value
  apps/admin-x-design-system/src/settings/SettingValue.tsx
  apps/admin-x-settings/src/components/settings/growth/TipsAndDonations.tsx
  apps/admin-x-settings/test/acceptance/growth/tips-and-donations.test.ts
  ghost/admin/mirage/fixtures/settings.js
  ghost/core/core/server/data/migrations/versions/5.90/2024-08-20-09-40-24-update-default-donations-suggested-amount.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings-browser.json
  ghost/core/test/utils/fixtures/default-settings.json
Labels: affects:admin, migration

#20795 Updated donations browser tests for new default suggested value
  ghost/core/test/e2e-browser/portal/donations.spec.js
Labels: browser-tests

#20794 Improved publish flow transition
  ghost/admin/app/components/editor/modals/publish-flow/confirm.js
  ghost/admin/app/components/posts/post-activity-feed.hbs
  ghost/admin/app/styles/components/modals-new.css
Labels: affects:admin

#20796 Replaced refresh button with a GhTaskButton
  ghost/admin/app/components/posts/analytics.hbs
  ghost/admin/app/components/posts/analytics.js
  ghost/admin/app/styles/layouts/content.css
Labels: affects:admin

#20797 Fixed missing stats on the analytics screen
  ghost/admin/app/components/posts/analytics.js
Labels: affects:admin

#20798 Added donation notification toggle to user settings
  apps/admin-x-framework/src/api/users.ts
  apps/admin-x-framework/src/test/responses/users.json
  apps/admin-x-settings/src/components/settings/general/users/EmailNotifications.tsx
  apps/admin-x-settings/test/acceptance/general/users/profile.test.ts
Labels: affects:admin, browser-tests

#20806 🐛 Fixed editor performance issues in Safari for posts with HTML or Markdown cards
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin, browser-tests

#20780 Fixed editor not loading in Admin acceptance tests
  ghost/admin/config/environment.js
  ghost/admin/ember-cli-build.js
  ghost/admin/tests/acceptance/editor/lexical-test.js
  ghost/admin/tests/acceptance/editor/post-revisions-test.js
  ghost/admin/tests/test-helper.js
Labels: affects:admin

#20808 Fixed Admin test failures when running in Safari
  ghost/admin/tests/acceptance/content-test.js
  ghost/admin/tests/acceptance/editor/publish-flow-test.js
Labels: affects:admin

#20802 Hid tips and donation settings when Stripe is disabled
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/components/settings/growth/GrowthSettings.tsx
  apps/admin-x-settings/test/acceptance/growth/tips-and-donations.test.ts
Labels: affects:admin

#20810 🔒 Fixed admin forms defaulting to GET method
  ghost/admin/app/templates/setup.hbs
  ghost/admin/app/templates/signin.hbs
  ghost/admin/app/templates/signup.hbs
Labels: affects:admin

#20811 Updated nql package
  apps/admin-x-settings/package.json
  ghost/admin/package.json
  ghost/bookshelf-repository/package.json
  ghost/collections/package.json
  ghost/core/package.json
  ghost/custom-theme-settings-service/package.json
  ghost/in-memory-repository/package.json
  ghost/link-tracking/package.json
  ghost/members-api/package.json
  ghost/posts-service/package.json
  yarn.lock
Labels: affects:admin

#20812 Added i18n support to tips and donations on portal
  apps/portal/src/components/pages/SupportError.js
  apps/portal/src/components/pages/SupportPage.js
  apps/portal/src/components/pages/SupportSuccess.js
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/bs/portal.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/portal.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/en/portal.json
  ghost/i18n/locales/eo/portal.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/fa/comments.json
  ghost/i18n/locales/fa/ghost.json
  ghost/i18n/locales/fa/portal.json
  ghost/i18n/locales/fi/portal.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/gd/portal.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/id/portal.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/lt/portal.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/no/portal.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/ro/portal.json
  ghost/i18n/locales/ru/portal.json
  ghost/i18n/locales/si/portal.json
  ghost/i18n/locales/sk/portal.json
  ghost/i18n/locales/sl/portal.json
  ghost/i18n/locales/sq/portal.json
  ghost/i18n/locales/sr/portal.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/tr/portal.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uz/portal.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh/portal.json
Labels: affects:portal, affects:i18n

#20807 Added one-time payments under "payments" for filtering
  ghost/admin/app/components/members-activity/event-type-filter.hbs
  ghost/admin/app/components/members-activity/event-type-filter.js
  ghost/admin/app/utils/member-event-types.js
  ghost/admin/mirage/factories/member-activity-event.js
  ghost/admin/tests/acceptance/members-activity-test.js
  ghost/admin/tests/unit/utils/member-event-types-test.js
Labels: affects:admin

#20815 🐛 Fixed fetching labels and offers in the editor
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin

#20817 Publish modal updates
  ghost/admin/app/components/editor/modals/publish-flow/confirm.js
  ghost/admin/app/components/gh-task-button.hbs
  ghost/admin/app/components/gh-task-button.js
  ghost/admin/app/components/modal-post-success.hbs
  ghost/admin/app/components/modal-post-success.js
  ghost/admin/app/components/posts-list/list.js
  ghost/admin/app/styles/components/publishmenu.css
  ghost/admin/app/styles/layouts/content.css
  ghost/admin/public/assets/icons/link.svg
Labels: affects:admin

#20818 🐛 Fixed shift selection in the posts list
  ghost/admin/app/components/posts-list/selection-list.js
Labels: affects:admin

#20667 Adds BS locale
  ghost/i18n/locales/bs/comments.json
  ghost/i18n/locales/bs/ghost.json
  ghost/i18n/locales/bs/portal.json
  ghost/i18n/locales/bs/signup-form.json
Labels: affects:i18n

#20824 Publish flow feedback improvements and bug fixes
  ghost/admin/app/components/editor/modals/publish-flow/confirm.js
  ghost/admin/app/components/modal-post-success.hbs
  ghost/admin/app/components/modal-post-success.js
  ghost/admin/app/components/posts-list/list.js
  ghost/admin/app/styles/components/publishmenu.css
Labels: affects:admin

#20825 Fixed Portal honeypot field
  apps/portal/src/components/pages/NewsletterSelectionPage.js
  apps/portal/src/components/pages/OfferPage.js
  apps/portal/src/components/pages/SigninPage.js
  apps/portal/src/components/pages/SignupPage.js
  apps/portal/src/utils/api.js
Labels: affects:portal

#20826 Bumped Portal
  apps/portal/package.json
  ghost/core/core/shared/config/defaults.json
Labels: affects:portal

#20829 Fixed radix ui related custom validity error
  apps/admin-x-design-system/src/global/form/TextField.tsx
Labels: affects:admin, browser-tests

#20831 Updated the buttons in the publish flow modals
  ghost/admin/app/components/modal-post-success.hbs
  ghost/admin/app/styles/components/publishmenu.css
Labels: affects:admin

#20832 Rewrote the publish modal logic and layout
  ghost/admin/app/components/modal-post-success.hbs
Labels: affects:admin

#20836 🐛 Added integrity token to one click subscribe
  apps/portal/src/actions.js
Labels: affects:portal

#20837 Bumped Portal
  apps/portal/package.json
  ghost/core/core/shared/config/defaults.json
Labels: affects:portal

#20838 Fixed failing type check in storybook story for admin-x-design-system
  apps/admin-x-design-system/src/global/SortMenu.stories.tsx
Labels: affects:admin

#20839 Added migration to include donation_message in donation_payment_events
  ghost/core/core/server/data/migrations/versions/5.91/2024-08-28-05-28-22-add-donation-message-column-to-donation-payment-events.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#20830 Added data retrieval for activitypub activities
  apps/admin-x-activitypub/src/MainContent.tsx
  apps/admin-x-activitypub/src/api/activitypub.test.ts
  apps/admin-x-activitypub/src/api/activitypub.ts
  apps/admin-x-activitypub/src/components/Activities.tsx
  apps/admin-x-activitypub/src/components/Inbox.tsx
  apps/admin-x-activitypub/src/components/activities/ActivityItem.tsx
Labels: affects:admin

#20841 Publishing flow: Social buttons update
  ghost/admin/app/styles/components/publishmenu.css
Labels: affects:admin

#20842 Added animation to the analytics numbers when refreshed
  ghost/admin/app/components/posts/analytics.hbs
  ghost/admin/app/components/posts/analytics.js
  ghost/admin/app/components/posts/post-activity-feed.hbs
  ghost/admin/app/components/posts/post-activity-feed.js
  ghost/admin/app/helpers/split-number.js
  ghost/admin/app/styles/layouts/content.css
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin, browser-tests

#20845 Updated Portal readme with more testing/releasing details
  apps/portal/README.md
Labels: affects:portal

#20846 Made the post preview card a link
  ghost/admin/app/components/modal-post-success.hbs
  ghost/admin/app/styles/components/publishmenu.css
Labels: affects:admin

#20848 Make split number helper handle empty value
  ghost/admin/app/helpers/split-number.js
Labels: affects:admin

#20850 Fixed error closing donation success modal
  apps/portal/package.json
  apps/portal/src/components/pages/SupportPage.js
  ghost/core/test/e2e-browser/portal/donations.spec.js
Labels: affects:portal, browser-tests

#20858 Added missing translation entries for Portal field placeholders, labels, and errors
  apps/portal/package.json
  apps/portal/src/components/pages/AccountProfilePage.js
  apps/portal/src/components/pages/OfferPage.js
  apps/portal/src/components/pages/SigninPage.js
  apps/portal/src/components/pages/SignupPage.js
  apps/portal/src/utils/form.js
  ghost/i18n/locales/af/portal.json
  ghost/i18n/locales/bg/portal.json
  ghost/i18n/locales/bs/portal.json
  ghost/i18n/locales/ca/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/portal.json
  ghost/i18n/locales/da/portal.json
  ghost/i18n/locales/de/portal.json
  ghost/i18n/locales/en/portal.json
  ghost/i18n/locales/eo/portal.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/fa/portal.json
  ghost/i18n/locales/fi/portal.json
  ghost/i18n/locales/fr/portal.json
  ghost/i18n/locales/gd/portal.json
  ghost/i18n/locales/hr/portal.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/id/portal.json
  ghost/i18n/locales/is/portal.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/locales/ja/portal.json
  ghost/i18n/locales/ko/portal.json
  ghost/i18n/locales/lt/portal.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/ms/portal.json
  ghost/i18n/locales/nl/portal.json
  ghost/i18n/locales/nn/portal.json
  ghost/i18n/locales/no/portal.json
  ghost/i18n/locales/pl/portal.json
  ghost/i18n/locales/pt-BR/portal.json
  ghost/i18n/locales/pt/portal.json
  ghost/i18n/locales/ro/portal.json
  ghost/i18n/locales/ru/portal.json
  ghost/i18n/locales/si/portal.json
  ghost/i18n/locales/sk/portal.json
  ghost/i18n/locales/sl/portal.json
  ghost/i18n/locales/sq/portal.json
  ghost/i18n/locales/sr/portal.json
  ghost/i18n/locales/sv/portal.json
  ghost/i18n/locales/tr/portal.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uz/portal.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh/portal.json
Labels: affects:portal, affects:i18n

#20862 Shipped new Portal version
  apps/portal/package.json
Labels: affects:portal

#20868 Fixed non-email analytics error when refreshed
  ghost/admin/app/components/posts/analytics.js
Labels: affects:admin

#20869 Fixed hanging dash when no attribution is present
  ghost/admin/app/components/members-activity/table-row.hbs
  ghost/admin/tests/acceptance/members-activity-test.js
Labels: affects:admin

#20878 ✨ Improved publishing flow
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/components/editor/modals/publish-flow.hbs
  ghost/admin/app/components/editor/modals/publish-flow/confirm.js
  ghost/admin/app/components/modal-post-success.hbs
  ghost/admin/app/components/posts-list/list-item.hbs
  ghost/admin/app/components/posts-list/list.js
  ghost/admin/app/components/posts/analytics.hbs
  ghost/admin/app/components/posts/analytics.js
  ghost/admin/app/services/feature.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: browser-tests
