Repository TryGhost/Ghost, pull requests merged in 2024-11, with the labels that each got.

#21445 Bumped Comments UI to 0.21.0
  apps/comments-ui/package.json
  apps/comments-ui/src/App.tsx
  apps/comments-ui/src/components/content/forms/SortingForm.tsx
  apps/comments-ui/test/utils/MockedApi.ts
  ghost/core/core/server/models/comment.js
  ghost/core/core/server/services/comments/CommentsController.js
  ghost/core/core/shared/config/defaults.json
  ghost/core/test/e2e-api/members-comments/comments.test.js
Labels: deploy-to-staging

#21503 Saving tags on update
  ghost/admin/.lint-todo
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/gh-post-settings-menu.js
  ghost/admin/app/components/gh-psm-tags-input.js
Labels: browser-tests

#21510 Made visual updates to the custom fonts selector
  apps/admin-x-design-system/src/global/form/Select.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/GlobalSettings.tsx
  apps/admin-x-settings/test/acceptance/site/design.test.ts
  ghost/custom-fonts/src/index.ts
Labels: browser-tests

#20985 Added experimental background job queue
  ghost/core/core/server/data/migrations/versions/5.100/2024-10-31-15-27-42-add-jobs-queue-columns.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/services/email-analytics/EmailAnalyticsServiceWrapper.js
  ghost/core/core/server/services/email-analytics/jobs/update-member-email-analytics/index.js
  ghost/core/core/server/services/jobs/job-service.js
  ghost/core/core/server/services/mentions-jobs/job-service.js
  ghost/core/test/integration/jobs/job-queue.test.js
  ghost/core/test/integration/jobs/test-job.js
  ghost/core/test/integration/jobs/update-check.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixture-utils.js
  ghost/core/test/utils/index.js
  ghost/email-analytics-service/lib/EmailAnalyticsService.js
  ghost/job-manager/lib/JobManager.js
  ghost/job-manager/lib/JobQueueManager.js
  ghost/job-manager/lib/JobsRepository.js
  ghost/job-manager/lib/workers/generic-worker.js
  ghost/job-manager/package.json
  ghost/job-manager/test/generic-worker.test.js
  ghost/job-manager/test/job-manager.test.js
  ghost/job-manager/test/job-queue-manager.test.js
  ghost/member-events/index.js
  ghost/member-events/lib/MemberEmailAnalyticsUpdateEvent.js
  yarn.lock
Labels: migration

#21063 🐛 Fixed migrations for SQLite database users (#19839)
  ghost/core/core/server/data/migrations/versions/5.55/2023-07-10-05-16-55-add-built-in-collection-posts.js
  ghost/core/core/server/data/migrations/versions/5.65/2023-09-22-06-42-55-repopulate-built-in-featured-collection-posts.js
  ghost/core/core/server/data/migrations/versions/5.89/2024-07-30-19-51-06-backfill-offer-redemptions.js
Labels: migration

#21529 Bumped Comments-UI to 0.21.8
  apps/comments-ui/package.json
Labels: browser-tests

#21530 Hide typography related theme settings from official themes
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemeSettings.tsx
Labels: browser-tests

#21540 Added Ghost ActivityPub internal integration
  ghost/core/core/server/data/migrations/versions/5.100/2024-11-06-04-45-15-add-activitypub-integration.js
  ghost/core/core/server/data/schema/fixtures/fixtures.json
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#21444 Added new hidden comments API implementation
  apps/comments-ui/src/components/content/Comment.tsx
  apps/comments-ui/src/components/content/Content.tsx
  apps/comments-ui/test/e2e/actions.test.ts
  apps/comments-ui/test/utils/MockedApi.ts
  ghost/core/core/frontend/src/admin-auth/message-handler.js
  ghost/core/core/server/api/endpoints/comments.js
  ghost/core/core/server/models/comment.js
  ghost/core/core/server/services/comments/CommentsController.js
  ghost/core/core/server/services/comments/CommentsService.js
  ghost/core/core/server/web/api/endpoints/admin/routes.js
  ghost/core/test/e2e-api/admin/comments.test.js
  ghost/core/test/e2e-api/members-comments/comments.test.js
  ghost/i18n/locales/pl/search.json
Labels: browser-tests

#21564 Removed customFonts feature flag
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/GlobalSettings.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemeSettings.tsx
  apps/admin-x-settings/test/acceptance/site/design.test.ts
  ghost/core/core/frontend/helpers/body_class.js
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  ghost/core/test/unit/frontend/helpers/__snapshots__/ghost_head.test.js.snap
  ghost/core/test/unit/frontend/helpers/body_class.test.js
  ghost/core/test/unit/frontend/helpers/ghost_head.test.js
Labels: browser-tests

#21388 Changed SSO adapter to automatically verify sessions
  ghost/core/core/server/services/auth/session/index.js
  ghost/core/core/server/web/parent/backend.js
  ghost/core/test/e2e-api/admin/__snapshots__/sso.test.js.snap
  ghost/core/test/e2e-api/admin/sso.test.js
  ghost/session-service/lib/session-service.js
  ghost/session-service/test/SessionService.test.js
Labels: browser-tests

#21591 Fixed Admin navigation settings, pressing `ENTER` will now create a new navigation item
  apps/admin-x-settings/src/components/settings/site/navigation/NavigationEditForm.tsx
  apps/admin-x-settings/src/components/settings/site/navigation/NavigationItemEditor.tsx
Labels: browser-tests

#21599 Added 2fa to re-authenticate flow inside the editor
  ghost/admin/app/components/editor/modals/re-authenticate.js
  ghost/admin/app/components/editor/modals/re-verify.hbs
  ghost/admin/app/components/editor/modals/re-verify.js
  ghost/admin/app/controllers/lexical-editor.js
Labels: browser-tests

#21605 Fixed broken Stripe donations browser tests
  ghost/core/test/e2e-browser/portal/donations.spec.js
Labels: browser-tests

#17056 Hebrew Translation
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/he/comments.json
  ghost/i18n/locales/he/ghost.json
  ghost/i18n/locales/he/newsletter.json
  ghost/i18n/locales/he/portal.json
  ghost/i18n/locales/he/search.json
  ghost/i18n/locales/he/signup-form.json
Labels: affects:i18n

#21637 Added e2e test for sending invite to a staff member and user signing up using the invite link
  ghost/admin/app/components/gh-nav-menu/footer.hbs
  ghost/core/test/e2e-browser/portal/invites.spec.js
Labels: browser-tests

#21652 Fixed words breaking to new line in emails on mobile
  ghost/core/core/server/services/comments/email-templates/new-comment-reply.hbs
  ghost/core/core/server/services/comments/email-templates/new-comment.hbs
  ghost/core/core/server/services/comments/email-templates/report.hbs
  ghost/core/core/server/services/members/emails/signin.js
  ghost/core/core/server/services/members/emails/signup-paid.js
  ghost/core/core/server/services/members/emails/signup.js
  ghost/core/core/server/services/members/emails/subscribe.js
  ghost/core/core/server/services/members/emails/update-email.js
  ghost/core/core/server/services/newsletters/emails/verify-email.js
  ghost/core/core/server/services/settings/emails/verify-email.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/e2e-server/services/__snapshots__/recommendation-emails.test.js.snap
  ghost/core/test/unit/server/services/settings/__snapshots__/settings-bread-service.test.js.snap
  ghost/staff-service/lib/email-templates/mention-report.hbs
  ghost/staff-service/lib/email-templates/new-free-signup.hbs
  ghost/staff-service/lib/email-templates/new-paid-cancellation.hbs
  ghost/staff-service/lib/email-templates/new-paid-started.hbs
  ghost/staff-service/lib/email-templates/recommendation-received.hbs
Labels: browser-tests

#21635 Added Nepali locale for newsletter.json
  ghost/i18n/locales/ne/newsletter.json
Labels: affects:i18n

#21561 Make i18n more tolerant of missing files
  ghost/i18n/lib/i18n.js
  ghost/i18n/test/i18n.test.js
Labels: affects:i18n

#21670 Update comments.json
  ghost/i18n/locales/tr/comments.json
Labels: affects:i18n

#21636 pt-BR translation suggestions
  ghost/i18n/locales/pt-BR/ghost.json
Labels: affects:i18n

#21554 Update search.json
  ghost/i18n/locales/tr/search.json
Labels: affects:i18n

#21725 Bypass 2FA for accounts which haven't yet logged in
  ghost/core/core/server/api/endpoints/session.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/user.js
  ghost/core/core/server/services/auth/session/middleware.js
  ghost/core/test/unit/api/canary/session.test.js
  ghost/core/test/utils/fixtures/data-generator.js
Labels: migration

#21749 Moved staff2fa flag to BETA_FEATURES
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-browser/admin/2fa.spec.js
  ghost/core/test/e2e-browser/portal/invites.spec.js
Labels: browser-tests

#21753 Removed Lexical multiplayer experiment
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/feature.js
  ghost/core/core/boot.js
  ghost/core/core/server/services/lexical-multiplayer/index.js
  ghost/core/core/server/services/lexical-multiplayer/service.js
  ghost/core/core/server/services/lexical-multiplayer/y-websocket.js
  ghost/core/core/server/services/settings/SettingsBREADService.js
  ghost/core/core/shared/labs.js
  ghost/core/package.json
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  yarn.lock
Labels: browser-tests
