Repository TryGhost/Ghost, pull requests merged in 2024-06, with the labels that each got.

#20284 Added validation logic to in-editor subtitle
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/app/validators/post.js
  ghost/admin/tests/acceptance/editor-test.js
Labels: affects:admin

#20308 Fixed cursor movement across title/subtitle/editor
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
Labels: affects:admin

#20309 Fixed subtitle not fully collapsing for auto-expansion
  ghost/admin/app/styles/layouts/editor.css
Labels: affects:admin

#20310 Added TK support to subtitle
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/templates/lexical-editor.hbs
  ghost/admin/tests/acceptance/editor-test.js
Labels: affects:admin

#20311 Adjusted subtitle field styling
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/styles/layouts/editor.css
Labels: affects:admin

#20313 Fixed subtitle error being sticky
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

#20315 Replaced Array.at() for better browser compatibility
  apps/admin-x-framework/src/api/actions.ts
  apps/admin-x-framework/src/api/newsletters.ts
  apps/admin-x-framework/src/api/tiers.ts
  apps/admin-x-framework/src/api/users.ts
  apps/admin-x-framework/src/utils/api/updateQueries.ts
Labels: affects:admin

#20316 Fixed unhandled error when saving member data fails validations
  ghost/admin/app/controllers/member.js
Labels: affects:admin

#20317 Improved error message when fetching resources fails
  apps/admin-x-framework/src/utils/errors.ts
Labels: affects:admin

#20318 Adjusted subtitle copy
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/validators/post.js
  ghost/admin/tests/acceptance/editor-test.js
Labels: affects:admin

#20320 Renamed `show_subhead` to `show_subtitle`
  apps/admin-x-framework/src/api/newsletters.ts
  apps/admin-x-framework/src/test/responses/newsletters.json
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/models/newsletter.js
  ghost/core/core/server/data/migrations/versions/5.84/2024-06-04-09-13-33-rename-newsletters-show-subhead.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/email-service/lib/EmailRenderer.js
  ghost/email-service/lib/email-templates/template-old.hbs
  ghost/email-service/test/email-renderer.test.js
Labels: affects:admin, migration

#20324 Fixed ember concurrency cancellation errors
  ghost/admin/app/components/gh-member-settings-form.js
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/components/members/filter.js
  ghost/admin/app/components/modal-member-tier.js
  ghost/admin/app/components/posts/analytics.js
  ghost/admin/app/components/posts/old-analytics.js
  ghost/admin/app/controllers/members.js
  ghost/admin/app/controllers/offer.js
  ghost/admin/app/routes/members.js
Labels: affects:admin

#20325 Added Admin acceptance test for post revision restoration
  ghost/admin/.lint-todo
  ghost/admin/app/components/modal-post-history.hbs
  ghost/admin/app/components/modal-post-history.js
  ghost/admin/app/components/modals/restore-revision.hbs
  ghost/admin/app/components/modals/restore-revision.js
  ghost/admin/mirage/factories/post-revision.js
  ghost/admin/mirage/models/page.js
  ghost/admin/mirage/models/post-revision.js
  ghost/admin/mirage/models/post.js
  ghost/admin/mirage/models/user.js
  ghost/admin/mirage/serializers/post-revision.js
  ghost/admin/mirage/serializers/post.js
  ghost/admin/package.json
  ghost/admin/tests/acceptance/editor/post-revisions-test.js
  yarn.lock
Labels: affects:admin

#20323 Added custom excerpt to post revisions
  ghost/admin/app/components/modal-post-history.hbs
  ghost/admin/app/components/modal-post-history.js
  ghost/admin/app/components/modals/restore-revision.js
  ghost/admin/app/models/post-revision.js
  ghost/admin/app/serializers/post-revision.js
  ghost/admin/tests/acceptance/editor/post-revisions-test.js
  ghost/core/core/server/data/migrations/versions/5.84/2024-06-04-11-10-37-add-custom-excerpt-to-post-revisions.js
  ghost/core/core/server/data/migrations/versions/5.84/2024-06-05-08-42-34-populate-post-revisions-custom-excerpt.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/post.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/post-revisions/src/PostRevisions.ts
  ghost/post-revisions/test/PostRevisions.test.ts
Labels: affects:admin, migration

#20336 Published Portal v2.37.8
  apps/portal/package.json
Labels: affects:portal

#20335 Added event tracking for feature toggles
  apps/admin-x-settings/src/components/settings/advanced/labs/FeatureToggle.tsx
Labels: affects:admin

#20334 Renamed subtitle to excerpt
  apps/admin-x-framework/src/api/newsletters.ts
  apps/admin-x-framework/src/test/responses/newsletters.json
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/modal-post-history.hbs
  ghost/admin/app/components/modals/restore-revision.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/models/newsletter.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/styles/app-dark.css
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/validators/post.js
  ghost/admin/tests/acceptance/editor-test.js
  ghost/admin/tests/acceptance/editor/post-revisions-test.js
  ghost/core/core/server/data/migrations/versions/5.84/2024-06-05-13-48-35-rename-newsletters-show-subtitle.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/email-service/lib/EmailRenderer.js
  ghost/email-service/lib/email-templates/partials/styles-old.hbs
  ghost/email-service/lib/email-templates/template-old.hbs
  ghost/email-service/test/email-renderer.test.js
Labels: affects:admin, migration

#20341 ✨ Added beta feature toggle for moving excerpt field into editor
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/BetaFeatures.tsx
  ghost/core/core/shared/labs.js
Labels: affects:admin

#20344 Fix copy to "Post excerpt" in newsletter settings
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
Labels: affects:admin

#20352 Fixed double shadow issue on toast component story
  apps/admin-x-design-system/src/global/Toast.stories.tsx
Labels: affects:admin

#20354 Added updated_at index to the posts table
  ghost/core/core/server/data/migrations/versions/5.85/2024-06-10-14-53-31-add-posts-updated-at-index.js
Labels: migration

#20358 🐛 Fixed cursor movement across fields in excerpt-in-editor beta
  ghost/admin/app/components/gh-koenig-editor-lexical.hbs
  ghost/admin/app/components/gh-koenig-editor-lexical.js
Labels: affects:admin

#20357 Added posts.updated_at index to schema
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#20360 Removed Sentry error on multiple request attempts
  apps/admin-x-framework/src/utils/api/fetchApi.ts
Labels: affects:admin

#20362 Removed Sentry message on successful Lexical save
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

#20363 Added improved Admin search behind labs flag
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/services/feature.js
  ghost/admin/app/services/search-provider-beta.js
  ghost/admin/app/services/search-provider.js
  ghost/admin/app/services/search.js
  ghost/admin/package.json
  ghost/admin/tests/acceptance/search-test.js
  ghost/core/core/shared/labs.js
  yarn.lock
Labels: affects:admin

#20367 Fixed missing URLs in improved search results
  ghost/admin/app/services/search-provider-beta.js
  ghost/admin/mirage/factories/page.js
  ghost/admin/mirage/serializers/post.js
  ghost/admin/tests/integration/services/search-test.js
Labels: affects:admin

#20251 Added bs (Bosnian) locale
  ghost/i18n/locales/bs/comments.json
  ghost/i18n/locales/bs/ghost.json
  ghost/i18n/locales/bs/portal.json
  ghost/i18n/locales/bs/signup-form.json
Labels: affects:i18n

#20361 Added Greek locale for comments, portal, signup-form, ghost.
  ghost/i18n/locales/el/comments.json
  ghost/i18n/locales/el/ghost.json
  ghost/i18n/locales/el/portal.json
  ghost/i18n/locales/el/signup-form.json
Labels: affects:i18n

#20371 Added content visibility feature flag
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/core/core/shared/labs.js
Labels: affects:admin

#20375 Fixed validation error handling before previewing a post
  ghost/admin/app/components/editor/publish-management.js
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

#20382 Wired up contentVisibility flag to Koenig
  ghost/admin/app/components/koenig-lexical-editor.js
Labels: affects:admin

#20383 Ignored posthog-js and ember-concurrency cancellation errors in Sentry
  ghost/admin/app/routes/application.js
  ghost/admin/app/utils/sentry.js
Labels: affects:admin

#20370 🐛 Fixed editor 'are you sure?' modal displaying when no user changes occurred
  ghost/admin/app/components/modals/editor/confirm-leave.hbs
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/tests/acceptance/editor/publish-flow-test.js
  ghost/admin/tests/unit/controllers/editor-test.js
Labels: affects:admin

#20386 Removed excerpt from beta search provider
  ghost/admin/app/services/search-provider-beta.js
Labels: affects:admin

#20387 Added improved search into internal linking beta
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/services/feature.js
  ghost/admin/app/services/search.js
  ghost/admin/tests/acceptance/search-test.js
  ghost/admin/tests/integration/services/search-test.js
  ghost/core/core/shared/labs.js
Labels: affects:admin

#20388 🎨 Improved editor behavior to automatically update slug for draft posts
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/tests/unit/controllers/editor-test.js
Labels: affects:admin

#20399 Removed .only from admin controller test
  ghost/admin/tests/unit/controllers/editor-test.js
Labels: affects:admin

#20408 Added Sentry logging for unsaved changes modal in admin
  ghost/admin/app/routes/collection.js
  ghost/admin/app/routes/member.js
  ghost/admin/app/routes/tag.js
Labels: affects:admin

#20413 Fixed "What's new" notification for contributors
  ghost/admin/app/styles/layouts/main.css
Labels: affects:admin

#20411 [WIP] ActivityPub Frontend (#20307)
  apps/admin-x-activitypub/package.json
  apps/admin-x-activitypub/public/styles/reader.css
  apps/admin-x-activitypub/src/App.tsx
  apps/admin-x-activitypub/src/MainContent.tsx
  apps/admin-x-activitypub/src/components/FollowSite.tsx
  apps/admin-x-activitypub/src/components/ListIndex.tsx
  apps/admin-x-activitypub/src/components/ViewFollowers.tsx
  apps/admin-x-activitypub/src/components/ViewFollowing.tsx
  apps/admin-x-activitypub/src/components/articleBodyStyles.ts
  apps/admin-x-activitypub/src/components/modals.tsx
  apps/admin-x-activitypub/src/styles/index.css
  apps/admin-x-activitypub/src/utils/get-username-from-following.ts
  apps/admin-x-activitypub/src/utils/get-username.ts
  apps/admin-x-activitypub/test/acceptance/app.test.ts
  apps/admin-x-activitypub/test/acceptance/listIndex.test.ts
  apps/admin-x-activitypub/test/unit/ListIndex.test.tsx
  apps/admin-x-activitypub/test/unit/utils/get-username.test.tsx
  apps/admin-x-design-system/src/global/layout/ViewContainer.tsx
  apps/admin-x-framework/src/api/activitypub.ts
  apps/admin-x-framework/src/test/acceptance.ts
  apps/admin-x-framework/src/test/responses/activitypub/following.json
  apps/admin-x-framework/src/test/responses/activitypub/inbox.json
  apps/admin-x-framework/src/utils/api/fetchApi.ts
  apps/admin-x-framework/src/utils/api/hooks.ts
  apps/admin-x-framework/src/utils/helpers.ts
Labels: affects:admin

#20364 ✨ Added "@" shortcut to trigger internal linking search (beta)
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/feature.js
  ghost/core/core/shared/labs.js
Labels: affects:admin

#20419 Updated addtl payment methods feature description
  apps/admin-x-settings/src/components/settings/advanced/labs/BetaFeatures.tsx
Labels: affects:admin

#20426 🐛 Fixed dashboard appearing blank if members disabled before completing onboarding
  ghost/admin/app/templates/dashboard.hbs
  ghost/admin/tests/acceptance/onboarding-test.js
Labels: affects:admin

#20428 Cleaned up onboardingChecklist GA labs flag
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  ghost/admin/app/components/editor/modals/publish-flow/complete.hbs
  ghost/admin/app/controllers/setup/done.js
  ghost/admin/app/routes/setup/done.js
  ghost/admin/app/routes/setup/index.js
  ghost/admin/app/services/feature.js
  ghost/admin/app/services/onboarding.js
  ghost/admin/app/templates/setup/done.hbs
  ghost/admin/tests/acceptance/editor/publish-flow-test.js
  ghost/admin/tests/acceptance/onboarding-test.js
  ghost/admin/tests/acceptance/setup-test.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: affects:admin

#20416 🐛 Fixed button URL suggestions not loading for contributors, editors and authors
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/tests/unit/components/koenig-lexical-editor-test.js
Labels: affects:admin

#20431 ✨ Moved internal linking feature out of beta
  apps/admin-x-settings/src/components/settings/advanced/labs/BetaFeatures.tsx
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: affects:admin

#20437 Added composite index to posts table for type,status
  ghost/core/core/server/api/endpoints/utils/serializers/input/posts.js
  ghost/core/core/server/data/migrations/versions/5.87/2024-06-20-17-02-15-add-posts-type-status-index.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/api/canary/utils/serializers/input/posts.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#20457 Added analytic events to internal linking feature
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#20458 Reduced Sentry replays sample rate to 50%
  ghost/admin/app/routes/application.js
Labels: affects:admin

#20405 Updated feature image action button styles
  ghost/admin/app/components/gh-editor-feature-image.hbs
  ghost/admin/app/components/koenig-image-editor.hbs
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/styles/spirit/_custom-styles.css
  ghost/admin/package.json
  ghost/admin/public/assets/icons/koenig/kg-edit.svg
  ghost/admin/public/assets/icons/koenig/kg-trash.svg
  ghost/admin/public/assets/icons/koenig/kg-wand.svg
  yarn.lock
Labels: affects:admin

#20465 Added contentVisibility feature flag to FeatureService
  ghost/admin/app/services/feature.js
Labels: affects:admin

#20463 Fixed flaky admin test in Publish+Send Flow
  ghost/admin/tests/acceptance/editor/publish-flow-test.js
Labels: affects:admin

#20469 Added more errors to Sentry exclusion list
  ghost/admin/app/routes/application.js
  ghost/admin/app/utils/sentry.js
Labels: affects:admin

#20460 Improved performance fetching posts
  ghost/core/core/server/data/migrations/versions/5.87/2024-06-25-12-08-20-add-posts-tags-post-tag-index.js
  ghost/core/core/server/data/migrations/versions/5.87/2024-06-25-12-08-45-add-posts-type-status-updated-at-index.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#20471 Updated activitypub root
  apps/admin-x-framework/src/utils/helpers.ts
Labels: affects:admin

#20472 Adjusted Sentry ignore list to cover more browser play errors
  ghost/admin/app/routes/application.js
Labels: affects:admin

#20473 Removed unused type field
  apps/admin-x-design-system/src/global/form/TextArea.tsx
  apps/admin-x-settings/src/components/settings/growth/embedSignup/EmbedSignupSidebar.tsx
  apps/admin-x-settings/src/components/settings/growth/recommendations/RecommendationDescriptionForm.tsx
  apps/admin-x-settings/src/components/settings/membership/stripe/StripeConnectModal.tsx
Labels: affects:admin

#20474 Added AbortError to list of excluded errors
  ghost/admin/app/routes/application.js
Labels: affects:admin

#20478 Added browser autoplay error to Sentry ignore list
  ghost/admin/app/routes/application.js
Labels: affects:admin

#20480 🐛 Fixed default recipients setting not showing label filters
  apps/admin-x-framework/src/hooks/useFilterableApi.ts
  apps/admin-x-settings/src/components/settings/email/useDefaultRecipientsOptions.tsx
  apps/admin-x-settings/test/acceptance/email/defaultRecipients.test.ts
Labels: affects:admin
