Repository TryGhost/Ghost, pull requests merged in 2024-09, with the labels that each got.

#20910 ✨ Added tips & donations one-time payments
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/general/users/EmailNotifications.tsx
  apps/admin-x-settings/src/components/settings/growth/GrowthSettings.tsx
  apps/admin-x-settings/test/acceptance/general/users/profile.test.ts
  apps/admin-x-settings/test/acceptance/growth/tips-and-donations.test.ts
  ghost/admin/app/components/gh-portal-links.hbs
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/admin/app/services/feature.js
  ghost/admin/tests/unit/utils/member-event-types-test.js
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: browser-tests

#20913 🐛 Fixed Tips & Donations checkout error for sites with long titles
  ghost/core/core/server/data/migrations/versions/5.93/2024-09-03-18-51-01-update-stripe-prices-nickname-length.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/e2e-api/members/__snapshots__/donation-checkout-session.test.js.snap
  ghost/core/test/e2e-api/members/donation-checkout-session.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/payments/lib/PaymentsService.js
Labels: migration, browser-tests

#20914 Reimplemented email analytics prioritizing email opens
  ghost/core/core/server/data/migrations/versions/5.94/2024-09-03-20-09-40-null-analytics-jobs-timings.js
  ghost/core/core/server/services/email-analytics/EmailAnalyticsServiceWrapper.js
  ghost/core/core/server/services/email-analytics/lib/queries.js
  ghost/core/test/e2e-api/admin/__snapshots__/emails.test.js.snap
  ghost/core/test/integration/services/email-service/email-event-storage.test.js
  ghost/core/test/integration/services/mailgun-email-suppression-list.test.js
  ghost/core/test/utils/fixtures/data-generator.js
  ghost/email-analytics-provider-mailgun/lib/EmailAnalyticsProviderMailgun.js
  ghost/email-analytics-provider-mailgun/test/provider-mailgun.test.js
  ghost/email-analytics-service/lib/EmailAnalyticsService.js
  ghost/email-analytics-service/test/email-analytics-service.test.js
  ghost/mailgun-client/lib/MailgunClient.js
Labels: migration

#20863 Added type checks to admin-x-design-system unit tests
  apps/admin-x-design-system/package.json
  apps/admin-x-framework/package.json
Labels: affects:admin

#20918 Refactored Stripe webhook controller
  ghost/stripe/lib/StripeService.js
  ghost/stripe/lib/WebhookController.js
  ghost/stripe/lib/services/webhook/CheckoutSessionEventService.js
  ghost/stripe/lib/services/webhook/InvoiceEventService.js
  ghost/stripe/lib/services/webhook/SubscriptionEventService.js
  ghost/stripe/test/unit/lib/WebhookController.test.js
  ghost/stripe/test/unit/lib/services/webhooks/CheckoutSessionEventService.test.js
  ghost/stripe/test/unit/lib/services/webhooks/InvoiceEventService.test.js
  ghost/stripe/test/unit/lib/services/webhooks/SubscriptionEventService.test.js
Labels: browser-tests

#20926 🐛 Fixed member filtering for "Unsubscribed from newsletter" filters
  apps/admin-x-settings/package.json
  ghost/admin/app/controllers/members.js
  ghost/admin/package.json
  ghost/admin/tests/acceptance/members-test.js
  ghost/bookshelf-repository/package.json
  ghost/collections/package.json
  ghost/core/package.json
  ghost/custom-theme-settings-service/package.json
  ghost/in-memory-repository/package.json
  ghost/link-tracking/package.json
  ghost/members-api/package.json
  ghost/posts-service/package.json
  yarn.lock
Labels: browser-tests

#21012 Checking unique names for icon and thumbnails before saving locally
  ghost/oembed-service/lib/OEmbedService.js
Labels: browser-tests

#20643 Added a maximum limit of 100 for GET members admin endpoint
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/members.test.js
  ghost/members-api/lib/services/MemberBREADService.js
Labels: browser-tests

#21036 Fetching and storing bookmark card hot linking icons and thumbnails
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/index.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/oembed.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/oembed.js
  ghost/core/core/server/services/oembed/service.js
  ghost/core/test/e2e-api/admin/oembed.test.js
  ghost/oembed-service/lib/OEmbedService.js
Labels: browser-tests

#21074 Fixed browser tests executing incorrect Stripe CLI
  .github/scripts/dev.js
Labels: browser-tests

#21071 🐛 Fixed navigations links for Ghost sites hosted on a subdirectory
  apps/admin-x-design-system/src/global/form/URLTextField.tsx
  apps/admin-x-design-system/src/index.ts
  apps/admin-x-design-system/src/utils/formatUrl.ts
  apps/admin-x-design-system/test/unit/utils/formatUrl.test.ts
Labels: browser-tests, AdminX

#20945 Added unschedule bulk action to posts
  ghost/admin/app/components/posts-list/context-menu.hbs
  ghost/admin/app/components/posts-list/context-menu.js
  ghost/admin/app/components/posts-list/modals/unschedule-posts.hbs
  ghost/admin/app/styles/components/modals-new.css
  ghost/admin/tests/acceptance/content-test.js
  ghost/post-events/src/PostsBulkUnscheduledEvent.ts
  ghost/post-events/src/index.ts
  ghost/post-events/test/post-events.test.ts
  ghost/posts-service/lib/PostsService.js
Labels: browser-tests

#21085 Shipped comments-ui@0.18.0
  apps/comments-ui/package.json
  ghost/core/core/shared/config/defaults.json
Labels: browser-tests

#21055 ✨Sodo search translation helper added, strings wrapped, ready for translator work!
  apps/sodo-search/src/App.js
  apps/sodo-search/src/AppContext.js
  apps/sodo-search/src/components/PopupModal.js
  apps/sodo-search/src/index.js
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/test/unit/frontend/helpers/__snapshots__/ghost_head.test.js.snap
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/af/search.json
  ghost/i18n/locales/bg/search.json
  ghost/i18n/locales/bs/search.json
  ghost/i18n/locales/ca/search.json
  ghost/i18n/locales/context.json
  ghost/i18n/locales/cs/search.json
  ghost/i18n/locales/da/search.json
  ghost/i18n/locales/de/search.json
  ghost/i18n/locales/en/search.json
  ghost/i18n/locales/eo/search.json
  ghost/i18n/locales/es/search.json
  ghost/i18n/locales/fa/search.json
  ghost/i18n/locales/fi/search.json
  ghost/i18n/locales/fr/search.json
  ghost/i18n/locales/gd/search.json
  ghost/i18n/locales/hr/search.json
  ghost/i18n/locales/hu/search.json
  ghost/i18n/locales/id/search.json
  ghost/i18n/locales/is/search.json
  ghost/i18n/locales/it/search.json
  ghost/i18n/locales/ja/search.json
  ghost/i18n/locales/ko/search.json
  ghost/i18n/locales/lt/search.json
  ghost/i18n/locales/mn/search.json
  ghost/i18n/locales/ms/search.json
  ghost/i18n/locales/nl/search.json
  ghost/i18n/locales/nn/search.json
  ghost/i18n/locales/no/search.json
  ghost/i18n/locales/pl/search.json
  ghost/i18n/locales/pt-BR/search.json
  ghost/i18n/locales/pt/search.json
  ghost/i18n/locales/ro/search.json
  ghost/i18n/locales/ru/search.json
  ghost/i18n/locales/si/search.json
  ghost/i18n/locales/sk/search.json
  ghost/i18n/locales/sl/search.json
  ghost/i18n/locales/sq/search.json
  ghost/i18n/locales/sr/search.json
  ghost/i18n/locales/sv/search.json
  ghost/i18n/locales/tr/search.json
  ghost/i18n/locales/uk/search.json
  ghost/i18n/locales/uz/search.json
  ghost/i18n/locales/vi/search.json
  ghost/i18n/locales/zh-Hant/search.json
  ghost/i18n/locales/zh/search.json
  ghost/i18n/package.json
Labels: browser-tests

#21078 Added sentry logging to local revisions service for localStorage errors
  ghost/admin/app/components/editor/modals/publish-flow/confirm.js
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/services/local-revisions.js
  ghost/admin/tests/unit/services/local-revisions-test.js
Labels: browser-tests

#21081 🐛 Fixed infinite loops in `setFeatureImageCaption` for deleted posts
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/tests/acceptance/editor/feature-image-test.js
Labels: browser-tests

#21098 Added the ability to deploy PRs to staging
  .github/workflows/ci.yml
Labels: deploy-to-staging

#20711 🌐 Updated Spanish strings in signup-form.json
  ghost/i18n/locales/es/signup-form.json
Labels: affects:i18n

#20709 Ukrainian translations were added and improved
  ghost/i18n/locales/uk/comments.json
  ghost/i18n/locales/uk/ghost.json
  ghost/i18n/locales/uk/portal.json
  ghost/i18n/locales/uk/signup-form.json
Labels: affects:i18n
