Repository TryGhost/Ghost, pull requests merged in 2024-02, with the labels that each got.

#19624 Added migration to fix data discrepancy in free tier visibility
  ghost/core/core/server/data/migrations/versions/5.79/2024-01-30-19-36-44-fix-discrepancy-in-free-tier-visibility.js
Labels: migration

#19648 ENG-32 Fixed error while verifying support address
  apps/admin-x-settings/src/components/settings/email/Newsletters.tsx
Labels: browser-tests

#19650 Fixed icon preview in metadata card
  apps/admin-x-settings/src/components/settings/general/Metadata.tsx
Labels: affects:admin

#19651 Added default background color to preview iframes
  apps/admin-x-settings/src/components/settings/site/announcementBar/AnnouncementBarPreview.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemePreview.tsx
Labels: affects:admin

#19654 Improved TextField disabled state DES-30
  apps/admin-x-design-system/src/global/form/TextField.stories.tsx
  apps/admin-x-design-system/src/global/form/TextField.tsx
Labels: affects:admin

#19644 Update ghost.json
  ghost/i18n/locales/fr/ghost.json
Labels: affects:i18n

#19660 Added save shortcut support to Code Injection
  apps/admin-x-settings/src/components/settings/advanced/code/CodeModal.tsx
Labels: affects:admin

#19664 Updated editor lexical packages
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#19645 Added changes in Czech
  ghost/i18n/locales/cs/ghost.json
  ghost/i18n/locales/cs/portal.json
Labels: affects:i18n

#19643 Typo in spanish translation "paga" should be "pagada"
  ghost/i18n/locales/es/portal.json
Labels: affects:i18n

#19671 🐛 Fixed duplicate text when pasting URL on selection with multiple formats
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19672 Added "No search result" screen to Settings
  apps/admin-x-design-system/src/settings/SettingGroup.tsx
  apps/admin-x-design-system/src/settings/SettingNavItem.tsx
  apps/admin-x-design-system/src/settings/SettingNavSection.tsx
  apps/admin-x-design-system/src/settings/SettingSection.tsx
  apps/admin-x-design-system/src/settings/SettingSectionHeader.tsx
  apps/admin-x-design-system/styles.css
  apps/admin-x-design-system/tailwind.config.cjs
  apps/admin-x-settings/src/MainContent.tsx
  apps/admin-x-settings/src/components/SearchableSection.tsx
  apps/admin-x-settings/src/components/Settings.tsx
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/components/TopLevelGroup.tsx
  apps/admin-x-settings/src/components/providers/SettingsAppProvider.tsx
  apps/admin-x-settings/src/components/settings/general/GeneralSettings.tsx
  apps/admin-x-settings/src/hooks/useScrollSection.tsx
  apps/admin-x-settings/src/utils/search.tsx
  apps/admin-x-settings/test/acceptance/membership/recommendations.test.ts
  ghost/admin/app/styles/layouts/main.css
Labels: affects:admin

#19675 Fixed PostHog toolbar not working in admin
  ghost/admin/app/components/koenig-image-editor.js
  ghost/admin/app/routes/home.js
  ghost/admin/app/utils/analytics.js
Labels: affects:admin

#19680 Reverted "Fixed PostHog toolbar in admin (#19675)"
  ghost/admin/app/components/koenig-image-editor.js
  ghost/admin/app/routes/home.js
  ghost/admin/app/utils/analytics.js
Labels: affects:admin

#19673 Small adjustments italian
  ghost/i18n/locales/it/ghost.json
  ghost/i18n/locales/it/signup-form.json
Labels: affects:i18n

#19686 Update "Customize" link on Setup screen
  apps/admin-x-settings/src/components/settings/site/DesignModal.tsx
  apps/admin-x-settings/src/components/settings/site/ThemeModal.tsx
  ghost/admin/app/templates/setup/done.hbs
Labels: affects:admin

#19687 Fixed codemirror hint background color in dark mode
  apps/admin-x-design-system/src/global/form/CodeEditorView.tsx
Labels: affects:admin

#19688 🐛 Fixed editor feature image caption input not wrapping
  ghost/admin/app/styles/layouts/editor.css
Labels: affects:admin

#19691 Added focus state for HTMLField DES-108
  apps/admin-x-design-system/src/global/form/HtmlField.tsx
Labels: affects:admin

#19685 Added PostHog identify calls in admin using hashed email address of user
  ghost/admin/app/components/koenig-image-editor.js
  ghost/admin/app/services/session.js
  ghost/admin/app/utils/analytics.js
Labels: affects:admin

#19693 Input field visual design update
  apps/admin-x-design-system/src/global/form/Select.tsx
  apps/admin-x-design-system/src/global/form/TextArea.tsx
  apps/admin-x-design-system/src/global/form/TextField.tsx
  apps/admin-x-design-system/tailwind.config.cjs
  apps/admin-x-settings/src/components/Sidebar.tsx
Labels: affects:admin

#19695 Released Portal 2.37.3
  apps/portal/package.json
Labels: affects:portal

#19696 Sort themes based on package name
  apps/admin-x-settings/src/components/settings/site/theme/AdvancedThemeSettings.tsx
Labels: affects:admin

#19714 🐛 Fixed custom theme textfield rerendering
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemeSettings.tsx
Labels: affects:admin, browser-tests

#19715 🎨 Added option to change the name of the free tier
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/portal/src/utils/helpers.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
Labels: affects:admin, affects:portal

#19719 Fixed browser tests
  ghost/core/test/e2e-browser/admin/portal-settings.spec.js
Labels: browser-tests

#19721 Fixed issue with calling Posthog functions before it is loaded
  ghost/admin/app/utils/analytics.js
Labels: affects:admin

#19722 Added reusable isPosthogLoaded function
  ghost/admin/app/utils/analytics.js
Labels: affects:admin

#19723 🐛 Fixed Portal icon misaligned in Preview
  apps/admin-x-settings/src/components/settings/growth/offers/AddOfferModal.tsx
  apps/admin-x-settings/src/components/settings/growth/offers/EditOfferModal.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/PortalFrame.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/PortalPreview.tsx
Labels: affects:admin

#19725 🐛 Fixed iFrame not keeping scroll position on update
  apps/admin-x-settings/src/utils/IframeBuffering.tsx
Labels: affects:admin, browser-tests

#19728 🐛 Fixed explicit HTML entities being decoded when rendering HTML cards
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: affects:admin

#19724 Updated Brazilian Portuguese translations
  ghost/i18n/locales/pt-BR/portal.json
Labels: affects:i18n

#19757 🐛 Fixed pasting into HTML card editor replacing the card with a paragraph
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

#19768 🐛 Prevented newsletter subscriptions from getting out of sync in Portal
  apps/portal/src/components/pages/UnsubscribePage.js
Labels: affects:portal

#19756 🎨 Include archived offers in members filter
  ghost/admin/app/components/members/filter.js
  ghost/admin/app/components/offers/segment-select.js
Labels: affects:admin

#19771 Remove comment icon at the top of email template
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/core/test/e2e-api/admin/__snapshots__/email-previews.test.js.snap
  ghost/core/test/integration/services/email-service/__snapshots__/batch-sending.test.js.snap
  ghost/core/test/integration/services/email-service/__snapshots__/cards.test.js.snap
  ghost/core/test/integration/services/email-service/batch-sending.test.js
  ghost/email-service/lib/email-templates/partials/styles-old.hbs
  ghost/email-service/lib/email-templates/partials/styles.hbs
  ghost/email-service/lib/email-templates/template-old.hbs
  ghost/email-service/lib/email-templates/template.hbs
Labels: affects:admin
