Repository TryGhost/Ghost, pull requests merged in 2025-10, with the labels that each got.

#25032 Cleaned up unused `MembersConfigProvider.getAuthSecret()`
  ghost/core/core/server/services/members/MembersConfigProvider.js
  ghost/core/test/unit/server/services/members/SingleUseTokenProvider.test.js
Labels: community

#25047 Fixed duplicate preheader text in Apple mail apps
  ghost/core/core/server/services/email-service/EmailRenderer.js
  ghost/core/test/e2e-api/admin/__snapshots__/email-previews.test.js.snap
  ghost/core/test/integration/services/email-service/__snapshots__/cards.test.js.snap
Labels: community

#25018 Added utm_ columns to events tables
  ghost/core/core/server/data/migrations/utils/schema.js
  ghost/core/core/server/data/migrations/versions/6.2/2025-09-30-14-28-09-add-utm-fields.js
  ghost/core/core/server/data/schema/commands.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/e2e-api/admin/__snapshots__/activity-feed.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration, community

#25058 Released @tryghost/portal v2.55.0
  apps/portal/package.json
Labels: community

#25060 Bumped default @tryghost/portal version to 2.55
  ghost/core/core/shared/config/defaults.json
Labels: community

#25064 Released @tryghost/portal v2.55.1
  apps/portal/package.json
Labels: community

#25042 Added Portal build to E2E setup
  .docker/Dockerfile
  .github/workflows/ci-docker.yml
  .gitignore
  apps/portal/src/index.js
  e2e/compose.yml
  e2e/helpers/environment/DockerCompose.ts
  e2e/helpers/environment/EnvironmentManager.ts
  e2e/helpers/environment/GhostManager.ts
  e2e/helpers/pages/public/PublicPage.ts
  e2e/package.json
Labels: community

#25043 E2e settings service
  e2e/data-factory/index.ts
  e2e/data-factory/persistence/adapters/api.ts
  e2e/data-factory/persistence/adapters/ghost-api.ts
  e2e/data-factory/persistence/adapters/http-client.ts
  e2e/helpers/playwright/fixture.ts
  e2e/helpers/playwright/index.ts
  e2e/helpers/playwright/with-isolated-page.ts
  e2e/helpers/services/email/EmailMessageBody.ts
  e2e/helpers/services/email/MailhogClient.ts
  e2e/helpers/services/email/utils.ts
  e2e/helpers/services/settings/SettingsService.ts
  e2e/helpers/utils/index.ts
  e2e/helpers/utils/override-feature-flags.ts
  e2e/tests/admin/tags/list.test.ts
  e2e/tests/public/member-signup-types.test.ts
  e2e/tests/public/member-signup.test.ts
Labels: community

#25073 Added local configuration files to dockerignore
  .dockerignore
Labels: community

#25072 Fixed waiting logic in e2e test global setup
  e2e/helpers/environment/DockerCompose.ts
Labels: community

#25029 Added `members_otc_secret` setting
  ghost/core/core/server/api/endpoints/utils/serializers/input/utils/settings-key-group-mapper.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/utils/settings-key-type-mapper.js
  ghost/core/core/server/data/migrations/versions/6.3/2025-10-02-15-13-31-add-members-otc-secret-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/core/server/models/settings.js
  ghost/core/core/server/services/members/api.js
  ghost/core/test/integration/settings/settings.test.js
  ghost/core/test/legacy/models/model_settings.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings-browser.json
  ghost/core/test/utils/fixtures/default-settings.json
Labels: migration, community

#25031 Added brute force protection for OTC verification
  ghost/core/core/server/web/members/app.js
  ghost/core/core/server/web/shared/middleware/api/spam-prevention.js
  ghost/core/core/server/web/shared/middleware/brute.js
  ghost/core/core/shared/config/defaults.json
  ghost/core/core/shared/config/env/config.testing-browser.json
  ghost/core/core/shared/config/env/config.testing-mysql.json
  ghost/core/core/shared/config/env/config.testing.json
  ghost/core/test/e2e-api/members/__snapshots__/send-magic-link.test.js.snap
  ghost/core/test/e2e-api/members/send-magic-link.test.js
  ghost/core/test/utils/fixtures/config/defaults.json
Labels: core team

#25080 Added UTM fields to Stripe checkout metadata
  ghost/core/core/server/services/members/members-api/controllers/RouterController.js
  ghost/core/core/server/services/members/members-api/repositories/MemberRepository.js
  ghost/core/core/server/services/stripe/StripeAPI.js
  ghost/core/core/server/services/stripe/services/webhook/CheckoutSessionEventService.js
  ghost/core/test/e2e-api/members/__snapshots__/create-stripe-checkout-session.test.js.snap
  ghost/core/test/e2e-api/members/__snapshots__/donation-checkout-session.test.js.snap
  ghost/core/test/e2e-api/members/create-stripe-checkout-session.test.js
  ghost/core/test/e2e-api/members/donation-checkout-session.test.js
  ghost/core/test/unit/server/services/stripe/StripeAPI.test.js
Labels: community

#25082 Created docs directory with initial README
  docs/README.md
Labels: community

#25061 Added the initial tests for member attribution
  e2e/data-factory/setup/index.ts
  e2e/helpers/pages/BasePage.ts
  e2e/helpers/pages/admin/settings/SettingsPage.ts
  e2e/helpers/pages/portal/index.ts
  e2e/helpers/pages/public/HomePage.ts
  e2e/helpers/pages/public/PublicPage.ts
  e2e/helpers/playwright/flows/signup.ts
  e2e/tests/public/member-signup-types.test.ts
  e2e/tests/public/member-signup.test.ts
Labels: community

#25086 Updated Portal to use imported `t` function everywhere
  apps/portal/src/App.js
  apps/portal/src/AppContext.js
  apps/portal/src/actions.js
  apps/portal/src/components/common/BackButton.js
  apps/portal/src/components/common/NewsletterManagement.js
  apps/portal/src/components/common/PopupNotification.js
  apps/portal/src/components/common/ProductsSection.js
  apps/portal/src/components/common/SiteTitleBackButton.js
  apps/portal/src/components/pages/AccountEmailPage.js
  apps/portal/src/components/pages/AccountHomePage/AccountHomePage.js
  apps/portal/src/components/pages/AccountHomePage/components/AccountActions.js
  apps/portal/src/components/pages/AccountHomePage/components/AccountFooter.js
  apps/portal/src/components/pages/AccountHomePage/components/AccountWelcome.js
  apps/portal/src/components/pages/AccountHomePage/components/ContinueSubscriptionButton.js
  apps/portal/src/components/pages/AccountHomePage/components/EmailNewsletterAction.js
  apps/portal/src/components/pages/AccountHomePage/components/EmailPreferencesAction.js
  apps/portal/src/components/pages/AccountHomePage/components/PaidAccountActions.js
  apps/portal/src/components/pages/AccountHomePage/components/SubscribeButton.js
  apps/portal/src/components/pages/AccountHomePage/components/UserHeader.js
  apps/portal/src/components/pages/AccountPlanPage.js
  apps/portal/src/components/pages/AccountProfilePage.js
  apps/portal/src/components/pages/EmailReceivingFAQ.js
  apps/portal/src/components/pages/EmailSuppressedPage.js
  apps/portal/src/components/pages/EmailSuppressionFAQ.js
  apps/portal/src/components/pages/FeedbackPage.js
  apps/portal/src/components/pages/MagicLinkPage.js
  apps/portal/src/components/pages/NewsletterSelectionPage.js
  apps/portal/src/components/pages/OfferPage.js
  apps/portal/src/components/pages/RecommendationsPage.js
  apps/portal/src/components/pages/SigninPage.js
  apps/portal/src/components/pages/SignupPage.js
  apps/portal/src/components/pages/SupportError.js
  apps/portal/src/components/pages/SupportPage.js
  apps/portal/src/components/pages/SupportSuccess.js
  apps/portal/src/components/pages/UnsubscribePage.js
  apps/portal/src/utils/form.js
Labels: community

#25095 Fixed missing `t` import in `Notification` component
  apps/portal/src/components/Notification.js
Labels: browser-tests, community

#25096 Updated Portal's `data-attributes` file to match `i18n` util pattern
  apps/portal/src/data-attributes.js
  apps/portal/src/tests/data-attributes.test.js
Labels: community
