Repository TryGhost/Ghost, pull requests merged in 2025-08, with the labels that each got.

#24363 Fixed position of member metric for latest post
  apps/stats/src/views/Stats/Overview/components/LatestPost.tsx
Labels: ready-to-merge

#24486 🌐 Updated and complete the French translations in ghost.json, portal.json, and comments.json
  ghost/i18n/locales/fr/comments.json
  ghost/i18n/locales/fr/ghost.json
  ghost/i18n/locales/fr/portal.json
Labels: affects:i18n

#24593 Fixed members header disappearing during list load
  ghost/admin/app/styles/layouts/members.css
Labels: ready-to-merge

#24541 Fixed Instagram username validation logic to accept usernames that end with underscore ("_")
  apps/admin-x-settings/src/utils/socialUrls/instagram.ts
  apps/admin-x-settings/test/unit/utils/instagramUrls.test.ts
Labels: needs:review

#24653 🐛 Fixed preview route for published post bypassing redirect to post URL
  ghost/core/core/server/api/endpoints/previews.js
  ghost/core/core/server/api/endpoints/utils/index.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/utils/clean.js
  ghost/core/test/e2e-frontend/preview_routes.test.js
Labels: browser-tests

#24514 Gracefully handle missing post history on new drafts
  ghost/admin/app/components/gh-post-settings-menu.js
  ghost/admin/app/components/modal-post-history.js
Labels: needs:review

#24666 Updated error handler middleware to return plain text errors for static files
  ghost/core/core/frontend/web/middleware/error-handler.js
  ghost/core/test/e2e-frontend/static-files.test.js
  ghost/core/test/unit/frontend/web/middleware/error-handler.test.js
Labels: browser-tests

#24642 Initial Basque localisation
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/eu/comments.json
  ghost/i18n/locales/eu/ghost.json
  ghost/i18n/locales/eu/portal.json
  ghost/i18n/locales/eu/search.json
  ghost/i18n/locales/eu/signup-form.json
Labels: affects:i18n
