Repository TryGhost/Ghost, pull requests merged in 2025-03, with the labels that each got.

#22241 🌐 Updated German translations
  ghost/i18n/locales/de/comments.json
  ghost/i18n/locales/de/newsletter.json
  ghost/i18n/locales/de/portal.json
Labels: affects:i18n

#22289 Allow TypeScript code into core
  .github/workflows/ci.yml
  ghost/core/.eslintignore
  ghost/core/.eslintrc.js
  ghost/core/core/boot.js
  ghost/core/core/demo.ts
  ghost/core/package.json
  ghost/core/test/.eslintrc.js
  ghost/core/tsconfig.json
  yarn.lock
Labels: browser-tests

#22342 Improved error message if secrets are missing in CI run
  .github/workflows/ci.yml
Labels: browser-tests

#22354 Moved CTA card from alpha to private beta
  ghost/admin/package.json
  ghost/core/test/integration/services/email-service/cards.test.js
  yarn.lock
Labels: deploy-to-staging

#22387 Added link for image in CTA when button is shown
  ghost/admin/package.json
  ghost/core/package.json
  yarn.lock
Labels: deploy-to-staging

#22381 Moved ActivityPub flag to public beta
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/BetaFeatures.tsx
Labels: deploy-to-staging

#22386 Add "Require 2FA" in Ghost Admin settings
  apps/admin-x-framework/src/api/settings.ts
  apps/admin-x-framework/src/test/responses/settings.json
  apps/admin-x-settings/src/components/settings/general/Users.tsx
  ghost/admin/app/services/settings.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/utils/settings-key-group-mapper.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/utils/settings-key-type-mapper.js
  ghost/core/core/server/data/migrations/versions/5.112/2025-03-10-10-01-01-add-require-mfa-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/session-service/lib/session-service.js
  ghost/session-service/test/SessionService.test.js
Labels: migration, browser-tests, deploy-to-staging

#22418 Provided es-es translation for newsletter.json
  ghost/i18n/locales/es/newsletter.json
Labels: affects:i18n

#22450 Migration for super editor
  ghost/core/core/server/data/migrations/versions/5.113/2025-03-07-12-24-00-add-super-editor.js
  ghost/core/core/server/data/migrations/versions/5.113/2025-03-07-12-25-00-add-member-perms-to-super-editor.js
  ghost/core/core/server/data/schema/fixtures/fixtures.json
  ghost/core/core/server/models/role.js
  ghost/core/core/server/models/user.js
  ghost/core/test/e2e-api/admin/__snapshots__/roles.test.js.snap
  ghost/core/test/e2e-api/admin/roles.test.js
  ghost/core/test/integration/migrations/migration.test.js
  ghost/core/test/regression/models/model_users.test.js
  ghost/core/test/unit/server/data/schema/fixtures/fixture-manager.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixture-utils.js
  ghost/core/test/utils/fixtures/context.js
  ghost/core/test/utils/fixtures/data-generator.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration, deploy-to-staging

#22452 The admin-x-settings changes for super editors
  .github/workflows/ci.yml
  apps/admin-x-framework/src/api/roles.ts
  apps/admin-x-framework/src/api/users.ts
  apps/admin-x-framework/types/api/roles.d.ts
  apps/admin-x-settings/src/components/settings/general/InviteUserModal.tsx
  apps/admin-x-settings/src/components/settings/general/users/RoleSelector.tsx
  apps/admin-x-settings/src/hooks/useStaffUsers.tsx
  ghost/core/core/server/models/invite.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  ghost/core/test/e2e-api/admin/invites.test.js
Labels: migration

#21982 Added Hungarian locale for Portal
  ghost/i18n/locales/de-CH/newsletter.json
  ghost/i18n/locales/de-CH/portal.json
  ghost/i18n/locales/hu/comments.json
  ghost/i18n/locales/hu/ghost.json
  ghost/i18n/locales/hu/newsletter.json
  ghost/i18n/locales/hu/portal.json
  ghost/i18n/locales/hu/search.json
  ghost/i18n/locales/hu/signup-form.json
Labels: affects:i18n

#22507 🌐 Update context.json
  ghost/i18n/locales/context.json
Labels: affects:i18n

#22552 🌐 Updated Bulgarian translations
  ghost/i18n/locales/bg/comments.json
  ghost/i18n/locales/bg/newsletter.json
  ghost/i18n/locales/bg/portal.json
Labels: affects:i18n

#22547 🌐 Updated Vietnamese translations
  ghost/i18n/locales/vi/ghost.json
  ghost/i18n/locales/vi/newsletter.json
  ghost/i18n/locales/vi/portal.json
Labels: affects:i18n

#22593 feat(i18n): Add Brazilian Portuguese translations for missing strings…
  ghost/i18n/locales/pt-BR/newsletter.json
Labels: affects:i18n

#22623 Removed flaky grant-comp-to-member playwright test
  ghost/core/test/e2e-browser/admin/members.spec.js
Labels: browser-tests

#22603 Added the read:identity permission to Administrators
  ghost/core/core/server/data/migrations/versions/5.115/2025-03-24-07-19-27-add-identity-read-permission-to-administrators.js
  ghost/core/core/server/data/schema/fixtures/fixtures.json
  ghost/core/test/regression/api/admin/identities.test.js
  ghost/core/test/unit/server/data/schema/fixtures/fixture-manager.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration, deploy-to-staging

#22596 Added French strings for newsletter copy.
  ghost/i18n/locales/fr/newsletter.json
Labels: affects:i18n
