Repository TryGhost/Ghost, pull requests merged in 2025-01, with the labels that each got.

#21965 Fixed copy in Portal when signup is not available
  apps/portal/src/App.js
  apps/portal/src/components/Frame.styles.js
  apps/portal/src/components/pages/SigninPage.js
  apps/portal/src/components/pages/SignupPage.js
  apps/portal/src/components/pages/SignupPage.test.js
  apps/portal/src/components/pages/SupportSuccess.js
  apps/portal/src/tests/SignupFlow.test.js
  apps/portal/src/tests/portal-links.test.js
  apps/portal/src/utils/fixtures-generator.js
  apps/portal/src/utils/helpers.js
Labels: browser-tests

#21967 Released Portal v2.47.1
  apps/portal/package.json
Labels: browser-tests

#21938 Added opt-in `ghost` service to docker compose
  .docker/Dockerfile
  .docker/development.entrypoint.sh
  compose.yml
Labels: browser-tests

#21974 Fixed browser tests running in docker compose
  compose.yml
  ghost/core/test/e2e-browser/fixtures/ghost-test.js
Labels: browser-tests

#21976 🎨 Made 5 settings quicker to edit at the top-level in Settings
  apps/admin-x-settings/src/components/settings/email/DefaultRecipients.tsx
  apps/admin-x-settings/src/components/settings/general/PublicationLanguage.tsx
  apps/admin-x-settings/src/components/settings/general/SocialAccounts.tsx
  apps/admin-x-settings/src/components/settings/general/TimeZone.tsx
  apps/admin-x-settings/src/components/settings/growth/TipsAndDonations.tsx
  apps/admin-x-settings/src/components/settings/membership/Access.tsx
  apps/admin-x-settings/test/acceptance/advanced/dangerzone.test.ts
  apps/admin-x-settings/test/acceptance/email/defaultRecipients.test.ts
  apps/admin-x-settings/test/acceptance/general/publicationLanguage.test.ts
  apps/admin-x-settings/test/acceptance/general/socialAccounts.test.ts
  apps/admin-x-settings/test/acceptance/general/timeZone.test.ts
  apps/admin-x-settings/test/acceptance/growth/tips-and-donations.test.ts
  apps/admin-x-settings/test/acceptance/membership/offers.test.ts
  ghost/core/test/e2e-browser/admin/i18n.spec.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
  ghost/core/test/e2e-browser/portal/donations.spec.js
Labels: browser-tests

#21983 Changed Portal Button to be off by default and hidden on mobile
  apps/portal/src/components/TriggerButton.js
  apps/portal/src/components/TriggerButton.test.js
  ghost/admin/mirage/fixtures/settings.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration, browser-tests

#21988 Shipped portal@2.48.0
  apps/portal/package.json
  ghost/core/core/shared/config/defaults.json
Labels: browser-tests

#21921 Made form elements more consistent
  ghost/admin/app/components/gh-member-label-input.hbs
  ghost/admin/app/components/gh-member-settings-form.hbs
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/gh-psm-authors-input.hbs
  ghost/admin/app/components/gh-psm-tags-input.hbs
  ghost/admin/app/components/gh-psm-visibility-input.hbs
  ghost/admin/app/components/member/activity-feed.hbs
  ghost/admin/app/components/member/newsletter-preference.hbs
  ghost/admin/app/components/member/subscription-detail-box.hbs
  ghost/admin/app/components/tags/tag-form.hbs
  ghost/admin/app/controllers/tag.js
  ghost/admin/app/styles/app-dark.css
  ghost/admin/app/styles/components/power-select.css
  ghost/admin/app/styles/components/settings-menu.css
  ghost/admin/app/styles/layouts/main.css
  ghost/admin/app/styles/layouts/members.css
  ghost/admin/app/styles/layouts/tags.css
  ghost/admin/app/styles/layouts/tiers.css
  ghost/admin/app/styles/patterns/buttons.css
  ghost/admin/app/styles/patterns/forms.css
  ghost/admin/app/styles/patterns/global.css
  ghost/admin/app/templates/members.hbs
  ghost/admin/app/templates/tag.hbs
  ghost/admin/public/assets/icons/arrow-top-right.svg
  ghost/admin/tests/acceptance/members/details-test.js
Labels: deploy-to-staging

#21987 Admin visual design updates
  apps/admin-x-design-system/src/settings/SettingGroupHeader.tsx
  apps/admin-x-design-system/src/settings/SettingNavItem.tsx
  apps/admin-x-design-system/src/settings/SettingSectionHeader.tsx
  apps/admin-x-design-system/styles.css
  apps/admin-x-design-system/tailwind.config.cjs
  apps/admin-x-settings/src/MainContent.tsx
  apps/admin-x-settings/src/components/Sidebar.tsx
  ghost/admin/.lint-todo
  ghost/admin/app/components/dashboard/charts/anchor-attribution.hbs
  ghost/admin/app/components/dashboard/charts/anchor-attribution.js
  ghost/admin/app/components/dashboard/charts/paid-breakdown.hbs
  ghost/admin/app/components/dashboard/charts/paid-mix.js
  ghost/admin/app/components/gh-custom-view-title.hbs
  ghost/admin/app/components/gh-mobile-nav-bar.hbs
  ghost/admin/app/components/gh-nav-menu.hbs
  ghost/admin/app/components/gh-nav-menu.js
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/components/member-attribution/source-attribution-chart.js
  ghost/admin/app/routes/settings-x.js
  ghost/admin/app/services/navigation.js
  ghost/admin/app/styles/app-dark.css
  ghost/admin/app/styles/components/lists.css
  ghost/admin/app/styles/components/power-select.css
  ghost/admin/app/styles/components/settings-menu.css
  ghost/admin/app/styles/layouts/content.css
  ghost/admin/app/styles/layouts/dashboard.css
  ghost/admin/app/styles/layouts/main.css
  ghost/admin/app/styles/layouts/member-activity.css
  ghost/admin/app/styles/layouts/members.css
  ghost/admin/app/styles/layouts/post-history.css
  ghost/admin/app/styles/patterns/buttons.css
  ghost/admin/app/styles/patterns/forms.css
  ghost/admin/app/styles/patterns/global.css
  ghost/admin/app/templates/application.hbs
  ghost/admin/public/assets/icons/hamburger.svg
Labels: browser-tests

#22001 Cleaned up `newEmailAddresses` feature flag
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModal.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  apps/admin-x-settings/src/utils/newsletterEmails.ts
  ghost/core/core/server/services/mail/GhostMailer.js
  ghost/core/core/server/services/members/service.js
  ghost/core/core/server/services/newsletters/NewslettersService.js
  ghost/core/core/server/services/settings-helpers/SettingsHelpers.js
  ghost/core/core/server/services/settings/SettingsBREADService.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/members.test.js
  ghost/core/test/e2e-api/admin/newsletters.test.js
  ghost/core/test/e2e-api/admin/settings.test.js
  ghost/core/test/integration/services/q-email-addresses.test.js
  ghost/core/test/unit/server/services/newsletters/service.test.js
  ghost/core/test/unit/server/services/settings/settings-bread-service.test.js
  ghost/email-addresses/src/EmailAddressService.ts
  ghost/staff-service/lib/StaffServiceEmails.js
  ghost/staff-service/test/staff-service.test.js
Labels: browser-tests

#22025 Shade updates
  apps/admin-x-design-system/src/assets/icons/dotdotdot.svg
  apps/posts/src/App.tsx
  apps/posts/src/components/Header.tsx
  apps/posts/src/components/layout/Header.tsx
  apps/posts/src/components/post-analytics/overview/ClickPerformance.tsx
  apps/posts/src/components/post-analytics/overview/Conversions.tsx
  apps/posts/src/components/post-analytics/overview/Feedback.tsx
  apps/posts/src/components/post-analytics/overview/NewsletterPerformance.tsx
  apps/posts/src/pages/PostAnalytics.tsx
  apps/posts/src/views/post-analytics/PostAnalytics.tsx
  apps/posts/src/views/post-analytics/components/Newsletter.tsx
  apps/posts/src/views/post-analytics/components/Overview.tsx
  apps/posts/src/views/post-analytics/components/StatsTabs.tsx
  apps/posts/src/views/post-analytics/components/newsletter/ClickedList.tsx
  apps/posts/src/views/post-analytics/components/newsletter/FeedbackList.tsx
  apps/posts/src/views/post-analytics/components/newsletter/LinkList.tsx
  apps/posts/src/views/post-analytics/components/newsletter/OpenedList.tsx
  apps/posts/src/views/post-analytics/components/newsletter/SentList.tsx
  apps/posts/src/views/post-analytics/components/overview/ClickPerformance.tsx
  apps/posts/src/views/post-analytics/components/overview/Conversions.tsx
  apps/posts/src/views/post-analytics/components/overview/Feedback.tsx
  apps/posts/src/views/post-analytics/components/overview/Metric.tsx
  apps/posts/src/views/post-analytics/components/overview/NewsletterPerformance.tsx
  apps/shade/package.json
  apps/shade/src/assets/icons/dotdotdot.svg
  apps/shade/src/components/layout/page.tsx
  apps/shade/src/components/ui/avatar.tsx
  apps/shade/src/components/ui/badge.tsx
  apps/shade/src/components/ui/card.tsx
  apps/shade/src/components/ui/chart.tsx
  apps/shade/src/components/ui/dropdown-menu.tsx
  apps/shade/src/components/ui/input.tsx
  apps/shade/src/components/ui/separator.tsx
  apps/shade/src/components/ui/sheet.tsx
  apps/shade/src/components/ui/sidebar.tsx
  apps/shade/src/components/ui/skeleton.tsx
  apps/shade/src/components/ui/table.tsx
  apps/shade/src/components/ui/tabs.tsx
  apps/shade/src/components/ui/tooltip.tsx
  apps/shade/src/hooks/use-mobile.tsx
  apps/shade/src/index.ts
  apps/shade/styles.css
  apps/shade/tailwind.config.cjs
  ghost/admin/public/assets/icons/dotdotdot.svg
  yarn.lock
Labels: browser-tests

#22031 🐛 Fixed degraded database performance when using the Post Analytics screen
  ghost/admin/app/components/posts/analytics.hbs
  ghost/admin/app/components/posts/analytics.js
Labels: browser-tests

#21975 Removed i18n toggle from labs UI (#21927)
  apps/admin-x-settings/src/components/settings/advanced/labs/BetaFeatures.tsx
  ghost/core/test/e2e-browser/admin/i18n.spec.js
Labels: browser-tests

#22034 Post analytics prototype router
  apps/posts/package.json
  apps/posts/src/App.tsx
  apps/posts/src/components/Header.tsx
  apps/posts/src/routes.ts
  apps/posts/src/views/post-analytics/PostAnalytics.tsx
  apps/posts/src/views/post-analytics/components/Newsletter.tsx
  apps/posts/src/views/post-analytics/components/StatsTabs.tsx
  apps/posts/src/views/post-analytics/components/overview/NewsletterPerformance.tsx
  apps/shade/src/components/ui/dialog.tsx
  apps/shade/src/components/ui/tabs.tsx
  apps/shade/src/index.ts
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/router.js
  yarn.lock
Labels: browser-tests

#22037 🐛 Fixed newsletters not rendering in Portal Email Preferences
  apps/portal/src/components/pages/AccountEmailPage.test.js
  apps/portal/src/utils/helpers.js
  apps/portal/src/utils/helpers.test.js
Labels: browser-tests

#21948 Added missing Vietnamese translation for portal
  ghost/i18n/locales/vi/portal.json
Labels: affects:i18n

#22046 Added new setting in the database: blocked_email_domains [migration]
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/migrations/versions/5.108/2025-01-23-02-51-10-add-blocked-email-domains-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration, deploy-to-staging

#22045 Shade updates
  apps/shade/src/boilerplate.stories.tsx
  apps/shade/src/boilerplate.tsx
  apps/shade/src/components/ui/avatar.stories.tsx
  apps/shade/src/components/ui/badge.stories.tsx
  apps/shade/src/components/ui/chart.stories.tsx
  apps/shade/src/components/ui/dialog.stories.tsx
  apps/shade/src/components/ui/icon.ts
  apps/shade/src/components/ui/separator.stories.tsx
  apps/shade/src/components/ui/table.stories.tsx
  apps/shade/src/components/ui/tooltip.stories.tsx
  apps/shade/src/components/ui/tooltip.tsx
  apps/shade/src/docs/Conventions.mdx
  apps/shade/src/docs/CreatingComponents.mdx
  apps/shade/src/docs/Environment.mdx
  apps/shade/src/docs/UsingComponents.mdx
  apps/shade/src/docs/Welcome.mdx
  apps/shade/src/docs/assets/tech-stack.png
  apps/shade/src/hooks/use-global-dirty-state.tsx
  apps/shade/src/index.ts
  apps/shade/src/lib/utils.ts
  apps/shade/src/providers/ShadeProvider.tsx
  apps/shade/src/utils/debounce.ts
  apps/shade/src/utils/formatText.ts
  apps/shade/src/utils/formatUrl.ts
  apps/shade/test/unit/utils/formatUrl.test.ts
  apps/shade/tsconfig.json
Labels: browser-tests

#22050 Post analytics router update
  apps/admin-x-framework/package.json
  apps/admin-x-framework/src/index.ts
  apps/admin-x-framework/src/providers/RouterProvider.tsx
  apps/posts/package.json
  apps/posts/src/App.tsx
  apps/posts/src/components/Header.tsx
  apps/posts/src/routes.ts
  apps/posts/src/views/post-analytics/PostAnalytics.tsx
  apps/posts/src/views/post-analytics/modals/ShareModal.tsx
  apps/posts/src/views/posts/Posts.tsx
  apps/shade/src/components/layout/error-page.tsx
  apps/shade/src/components/ui/card.stories.tsx
  apps/shade/src/components/ui/dialog.stories.tsx
  apps/shade/src/index.ts
  ghost/admin/app/components/gh-nav-menu/main.hbs
  ghost/admin/app/router.js
Labels: browser-tests

#22049 Added Captcha to data attribute forms
  apps/portal/src/data-attributes.js
  apps/portal/src/tests/data-attributes.test.js
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/test/unit/frontend/helpers/__snapshots__/ghost_head.test.js.snap
  ghost/core/test/unit/frontend/helpers/ghost_head.test.js
Labels: browser-tests

#22061 Released Portal v2.49.0
  apps/portal/package.json
  ghost/core/core/shared/config/defaults.json
Labels: browser-tests

#21984 Added webhooks to admin search keywords
  apps/admin-x-settings/src/components/settings/advanced/AdvancedSettings.tsx
Labels: browser-tests

#21959 🌐 Added and improved Dutch translations
  ghost/i18n/locales/nl/comments.json
  ghost/i18n/locales/nl/portal.json
Labels: affects:i18n

#21979 Add missing Scottish Gaelic translations
  ghost/i18n/locales/gd/comments.json
  ghost/i18n/locales/gd/newsletter.json
  ghost/i18n/locales/gd/portal.json
Labels: affects:i18n

#22069 Added support for gating access to blocks of post content
  apps/admin-x-settings/package.json
  ghost/admin/package.json
  ghost/core/core/server/api/endpoints/utils/serializers/output/utils/post-gating.js
  ghost/core/core/server/services/members/content-gating.js
  ghost/core/package.json
  ghost/core/test/e2e-api/content/posts.test.js
  ghost/core/test/integration/services/email-service/__snapshots__/cards.test.js.snap
  ghost/core/test/integration/services/email-service/cards.test.js
  ghost/core/test/unit/api/canary/utils/serializers/input/posts.test.js
  ghost/core/test/unit/api/canary/utils/serializers/output/utils/post-gating.test.js
  ghost/core/test/unit/server/services/members/content-gating.test.js
  yarn.lock
Labels: browser-tests

#22055 🔒 Made names for uploaded files more secure and resilient to filesystems' limits
  ghost/core/core/server/adapters/storage/LocalStorageBase.js
  ghost/core/core/server/api/endpoints/images.js
  ghost/core/core/server/services/themes/storage.js
  ghost/core/package.json
  ghost/core/test/e2e-api/admin/files.test.js
  ghost/core/test/e2e-api/admin/images.test.js
  ghost/core/test/e2e-api/admin/media.test.js
  ghost/core/test/unit/server/adapters/storage/LocalImagesStorage.test.js
  ghost/oembed-service/lib/OEmbedService.js
  yarn.lock
Labels: browser-tests
