Repository TryGhost/Ghost, pull requests merged in 2025-04, with the labels that each got.

#22649 Added preview-as anonymous/free/paid to post preview modal
  apps/admin-x-settings/src/components/settings/site/AnnouncementBarModal.tsx
  ghost/admin/app/components/editor/modals/preview.hbs
  ghost/admin/app/components/editor/modals/preview.js
  ghost/admin/app/components/editor/modals/preview/browser.hbs
  ghost/admin/app/components/editor/modals/preview/browser.js
  ghost/admin/app/components/editor/modals/preview/email.hbs
  ghost/admin/app/components/editor/modals/preview/email.js
  ghost/admin/app/components/editor/modals/preview/email/email-subject.hbs
  ghost/admin/app/components/editor/modals/preview/mobile.hbs
  ghost/admin/app/components/editor/modals/preview/mobile.js
  ghost/admin/app/components/editor/modals/publish-flow.hbs
  ghost/admin/app/components/editor/modals/update-flow.hbs
  ghost/admin/app/components/editor/publish-buttons.hbs
  ghost/admin/app/components/editor/publish-management.hbs
  ghost/admin/app/components/editor/publish-management.js
  ghost/admin/app/components/gh-tooltip.hbs
  ghost/admin/app/styles/app-dark.css
  ghost/admin/app/styles/components/browser-preview.css
  ghost/admin/app/styles/components/publishmenu.css
  ghost/admin/app/styles/components/settings-menu.css
  ghost/admin/app/styles/layouts/content.css
  ghost/admin/app/styles/layouts/editor.css
  ghost/admin/app/styles/layouts/main.css
  ghost/admin/app/styles/layouts/post-preview.css
  ghost/admin/app/styles/layouts/preview-email.css
  ghost/admin/app/styles/patterns/buttons.css
  ghost/admin/app/styles/patterns/forms.css
  ghost/admin/app/styles/patterns/global.css
  ghost/admin/app/styles/spirit/_custom-styles.css
  ghost/admin/mirage/fixtures/settings.js
  ghost/admin/public/assets/icons/arrow-top-right.svg
  ghost/admin/public/assets/icons/copy.svg
  ghost/admin/public/assets/icons/external.svg
  ghost/admin/public/assets/icons/laptop.svg
  ghost/admin/public/assets/icons/link.svg
  ghost/admin/public/assets/icons/mobile-phone.svg
  ghost/admin/public/assets/icons/send-email.svg
  ghost/admin/public/assets/icons/share.svg
  ghost/admin/tests/acceptance/editor/post-email-preview-test.js
  ghost/admin/tests/acceptance/editor/post-preview-test.js
  ghost/core/core/frontend/services/routing/controllers/previews.js
  ghost/core/core/server/api/endpoints/previews.js
  ghost/core/core/server/services/announcement-bar-service/AnnouncementVisibilityValues.js
  ghost/core/test/e2e-frontend/preview_routes.test.js
  ghost/core/test/unit/api/endpoints/previews.test.js
  ghost/core/test/unit/frontend/services/routing/controllers/previews.test.js
  ghost/core/test/utils/fixture-utils.js
Labels: deploy-to-staging

#22745 Fixed `yarn docker:test:browser` command
  .docker/Dockerfile
  compose.yml
Labels: browser-tests

#22743 Improved HTML card visibility settings toggle
  ghost/admin/package.json
  yarn.lock
Labels: deploy-to-staging

#22786 Added cache invalidation to preview queries
  ghost/core/core/server/api/endpoints/posts.js
  ghost/core/test/e2e-api/admin/__snapshots__/posts.test.js.snap
  ghost/core/test/e2e-api/admin/posts-legacy.test.js
  ghost/core/test/e2e-api/admin/posts.test.js
  ghost/posts-service/lib/PostsService.js
  ghost/posts-service/test/PostsService.test.js
Labels: deploy-to-staging

#22932 Wired up upload image API to UI
  apps/admin-x-activitypub/package.json
  apps/admin-x-activitypub/src/api/activitypub.ts
  apps/admin-x-activitypub/src/hooks/use-activity-pub-queries.ts
  apps/admin-x-activitypub/src/views/Preferences/components/EditProfile.tsx
Labels: deploy-to-staging

#22946 Moved device verification from labs flag to config
  apps/admin-x-framework/src/api/config.ts
  apps/admin-x-framework/src/test/responses/config.json
  apps/admin-x-settings/src/components/settings/general/Users.tsx
  apps/admin-x-settings/test/acceptance/general/users/security.test.ts
  ghost/core/core/server/services/auth/session/index.js
  ghost/core/core/server/services/auth/session/session-service.js
  ghost/core/core/shared/config/env/config.testing-mysql.json
  ghost/core/core/shared/config/env/config.testing.json
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/session.test.js.snap
  ghost/core/test/e2e-api/admin/session.test.js
  ghost/core/test/e2e-api/admin/sso.test.js
  ghost/core/test/e2e-browser/admin/2fa.spec.js
  ghost/core/test/e2e-browser/admin/reset-password.spec.js
  ghost/core/test/e2e-browser/portal/invites.spec.js
  ghost/core/test/unit/server/services/auth/session/session-service.test.js
  ghost/core/test/utils/fixture-utils.js
Labels: browser-tests

#22948 ✨ Added more social accounts to staff profiles
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/settings.test.js
Labels: browser-tests

#22813 feat(i18n): Add pt-BR translations for missing string in ghost.json
  ghost/i18n/locales/pt-BR/ghost.json
Labels: affects:i18n

#22832 🌐 Updated Bulgarian translations
  ghost/i18n/locales/bg/ghost.json
  ghost/i18n/locales/bg/portal.json
Labels: affects:i18n

#22983 Removed deprecated meta tags
  ghost/admin/app/index.html
  ghost/core/core/frontend/apps/private-blogging/lib/views/private.hbs
  ghost/core/core/server/views/error.hbs
Labels: browser-tests

#23000 Updated email verification placeholder text
  ghost/admin/app/components/editor/modals/re-verify.hbs
  ghost/admin/app/templates/signin-verify.hbs
Labels: browser-tests

#22758 Add Mongolian (mn) language translations for portal, search, comments, ghost, signup and newsletter
  ghost/i18n/locales/mn/comments.json
  ghost/i18n/locales/mn/ghost.json
  ghost/i18n/locales/mn/newsletter.json
  ghost/i18n/locales/mn/portal.json
  ghost/i18n/locales/mn/search.json
  ghost/i18n/locales/mn/signup-form.json
Labels: affects:i18n

#23028 Removed Captcha from the alpha feature UI
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
Labels: browser-tests

#23041 Added Traffic Analytics to Alpha flag UI
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
Labels: browser-tests

#23043 Removed deprecated labs flags from admin
  ghost/admin/app/services/feature.js
Labels: browser-tests

#22866 🌐 Update Danish Translations
  ghost/i18n/locales/da/comments.json
  ghost/i18n/locales/da/ghost.json
  ghost/i18n/locales/da/newsletter.json
  ghost/i18n/locales/da/portal.json
Labels: affects:i18n

#22194 Update Norwegian a18n Translation
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/nb/comments.json
  ghost/i18n/locales/nb/ghost.json
  ghost/i18n/locales/nb/newsletter.json
  ghost/i18n/locales/nb/portal.json
  ghost/i18n/locales/nb/search.json
  ghost/i18n/locales/nb/signup-form.json
  ghost/i18n/test/i18n.test.js
Labels: affects:i18n

#23025 Removed prototype stats page
  ghost/admin/app/components/stats/charts/kpis.hbs
  ghost/admin/app/components/stats/charts/kpis.js
  ghost/admin/app/components/stats/charts/technical.hbs
  ghost/admin/app/components/stats/charts/technical.js
  ghost/admin/app/components/stats/charts/top-locations.hbs
  ghost/admin/app/components/stats/charts/top-locations.js
  ghost/admin/app/components/stats/charts/top-pages.hbs
  ghost/admin/app/components/stats/charts/top-pages.js
  ghost/admin/app/components/stats/charts/top-sources.hbs
  ghost/admin/app/components/stats/charts/top-sources.js
  ghost/admin/app/components/stats/kpis-overview.hbs
  ghost/admin/app/components/stats/kpis-overview.js
  ghost/admin/app/components/stats/modal-stats-all.hbs
  ghost/admin/app/components/stats/modal-stats-all.js
  ghost/admin/app/components/stats/parts/audience-filter.hbs
  ghost/admin/app/components/stats/parts/audience-filter.js
  ghost/admin/app/components/stats/parts/metric.hbs
  ghost/admin/app/components/stats/technical-overview.hbs
  ghost/admin/app/components/stats/technical-overview.js
  ghost/admin/app/controllers/stats.js
  ghost/admin/app/router.js
  ghost/admin/app/styles/app-dark.css
  ghost/admin/app/styles/app.css
  ghost/admin/app/styles/layouts/stats.css
  ghost/admin/app/templates/stats.hbs
  ghost/admin/app/utils/stats.js
  ghost/admin/package.json
  ghost/admin/tests/acceptance/stats-test.js
  yarn.lock
Labels: browser-tests

#23046 Renamed alpha labs UI to private
  apps/admin-x-settings/src/components/settings/advanced/AdvancedSettings.tsx
  apps/admin-x-settings/src/components/settings/advanced/Labs.tsx
  apps/admin-x-settings/src/components/settings/advanced/labs/PrivateFeatures.tsx
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: browser-tests

#23049 Removed enableLabs utility from e2e-browser tests
  apps/admin-x-settings/src/components/settings/advanced/labs/PrivateFeatures.tsx
  ghost/core/test/e2e-browser/fixtures/ghost-test.js
  ghost/core/test/e2e-browser/utils/e2e-browser-utils.js
Labels: browser-tests

#23048 Cleaned up flags on private feature screen
  apps/admin-x-settings/src/components/settings/advanced/labs/PrivateFeatures.tsx
Labels: browser-tests

#22959 🌐 Update Vietnamese strings
  ghost/i18n/locales/vi/ghost.json
  ghost/i18n/locales/vi/newsletter.json
Labels: affects:i18n

#23076 Fixed filtering by post in post analytics web stats
  apps/admin-x-framework/src/api/posts.ts
  apps/posts/src/views/PostAnalytics/PostAnalytics.tsx
Labels: deploy-to-staging

#22876 🌐 Updated Polish translation for Comments, Ghost, Newsletter, Portal
  ghost/i18n/locales/pl/comments.json
  ghost/i18n/locales/pl/ghost.json
  ghost/i18n/locales/pl/newsletter.json
  ghost/i18n/locales/pl/portal.json
Labels: affects:i18n

#23118 Cleanup captcha
  apps/admin-x-settings/src/components/settings/advanced/SpamFilters.tsx
  apps/portal/__mocks__/@hcaptcha/react-hcaptcha.js
  apps/portal/package.json
  apps/portal/src/App.js
  apps/portal/src/actions.js
  apps/portal/src/components/PopupModal.js
  apps/portal/src/components/pages/SigninPage.js
  apps/portal/src/data-attributes.js
  apps/portal/src/tests/SigninFlow.test.js
  apps/portal/src/tests/SignupFlow.test.js
  apps/portal/src/tests/data-attributes.test.js
  apps/portal/src/utils/fixtures-generator.js
  apps/portal/src/utils/helpers.js
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/core/server/api/endpoints/settings-public.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/migrations/versions/5.119/2025-04-30-13-01-28-remove-captcha-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/core/server/services/members/CaptchaService.js
  ghost/core/core/server/services/members/api.js
  ghost/core/core/server/services/members/members-api/members-api.js
  ghost/core/core/shared/config/defaults.json
  ghost/core/core/shared/labs.js
  ghost/core/core/shared/settings-cache/CacheManager.js
  ghost/core/core/shared/settings-cache/public.js
  ghost/core/package.json
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  ghost/core/test/e2e-api/content/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/content/settings.test.js
  ghost/core/test/e2e-api/shared/__snapshots__/version.test.js.snap
  ghost/core/test/unit/frontend/helpers/ghost_head.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/unit/server/services/members/CaptchaService.test.js
  yarn.lock
Labels: migration
