Repository TryGhost/Ghost, pull requests merged in 2025-07, with the labels that each got.

#24211 Disabled Tinybird tracker token in production
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/core/frontend/src/ghost-stats/ghost-stats.js
  ghost/core/test/unit/frontend/helpers/__snapshots__/ghost_head.test.js.snap
  ghost/core/test/unit/frontend/helpers/ghost_head.test.js
  ghost/core/test/unit/frontend/public/ghost-stats.test.js
Labels: deploy-to-staging

#24203 Fixed initial 403 errors in Tinybird API requests in posts and stats apps
  apps/admin-x-framework/package.json
  apps/admin-x-framework/src/hooks/useActiveVisitors.ts
  apps/admin-x-framework/src/hooks/useTinybirdQuery.ts
  apps/admin-x-framework/src/index.ts
  apps/admin-x-framework/test/unit/api/tinybird.test.tsx
  apps/admin-x-framework/test/unit/hooks/useActiveVisitors.test.ts
  apps/admin-x-framework/test/unit/hooks/useTinybirdQuery.test.ts
  apps/admin-x-framework/test/unit/hooks/useTinybirdToken.test.tsx
  apps/admin-x-framework/test/unit/utils/stats-config.test.ts
  apps/admin-x-settings/test/acceptance/advanced/labs.test.ts
  apps/posts/package.json
  apps/posts/src/views/PostAnalytics/Overview/Overview.tsx
  apps/posts/src/views/PostAnalytics/Web/Web.tsx
  apps/stats/package.json
  apps/stats/src/views/Stats/Locations/Locations.tsx
  apps/stats/src/views/Stats/Overview/Overview.tsx
  apps/stats/src/views/Stats/Web/Web.tsx
  yarn.lock
Labels: deploy-to-staging

#24122 Add Punjabi translations for ghost.json and portal.json
  ghost/i18n/locales/pa/ghost.json
  ghost/i18n/locales/pa/portal.json
Labels: affects:i18n

#24275 Added missing Turkish translations
  ghost/i18n/locales/tr/ghost.json
Labels: affects:i18n

#24273 Updated Vietnamese translations
  ghost/i18n/locales/vi/comments.json
  ghost/i18n/locales/vi/ghost.json
  ghost/i18n/locales/vi/portal.json
  ghost/i18n/locales/vi/search.json
  ghost/i18n/locales/vi/signup-form.json
Labels: affects:i18n

#24287 🌐 Complete missing Hindi translations for Ghost i18n
  ghost/i18n/locales/context.json
  ghost/i18n/locales/hi/comments.json
  ghost/i18n/locales/hi/ghost.json
  ghost/i18n/locales/hi/portal.json
  ghost/i18n/locales/hi/search.json
  ghost/i18n/locales/hi/signup-form.json
Labels: affects:i18n

#24248 Fixed session logout post 6.0 upgrade for users with ID of `1`
  ghost/core/core/server/data/migrations/versions/6.0/2025-06-24-09-19-42-use-object-id-for-hardcoded-user-id.js
Labels: migration

#24379 Fixed Ember Analytics routing bug with beta flags
  ghost/admin/app/routes/home.js
  ghost/admin/app/routes/stats-x.js
  ghost/admin/mirage/fixtures/configs.js
  ghost/admin/tests/acceptance/signin-test.js
Labels: browser-tests

#24401 Removed trafficAnalytics flag from apps/
  apps/admin-x-settings/src/components/settings/advanced/labs/PrivateFeatures.tsx
  apps/admin-x-settings/src/components/settings/membership/Analytics.tsx
  apps/admin-x-settings/test/acceptance/membership/analytics.test.ts
  apps/stats/README.md
  ghost/core/test/e2e-browser/admin/pages/admin-analytics.page.js
  ghost/core/test/e2e-browser/admin/pages/index.js
  ghost/core/test/e2e-browser/admin/two-factor-auth.spec.js
Labels: browser-tests

#24457 🔒 Prevented homograph attacks with punycode domains on member signin
  ghost/core/core/server/services/members/members-api/controllers/RouterController.js
  ghost/core/core/server/services/members/members-api/utils/normalize-email.js
  ghost/core/test/e2e-api/members/__snapshots__/send-magic-link.test.js.snap
  ghost/core/test/e2e-api/members/send-magic-link.test.js
  ghost/core/test/unit/server/services/members/members-api/utils/normalize-email.test.js
Labels: browser-tests

#24479 Updated new Post Analytics to be the default for posts/analytics route
  apps/posts/src/routes.tsx
  apps/posts/src/views/PostAnalytics/Newsletter/Newsletter.tsx
  apps/posts/src/views/PostAnalytics/Overview/Overview.tsx
  apps/posts/src/views/PostAnalytics/Overview/components/NewsletterOverview.tsx
  apps/posts/src/views/PostAnalytics/Overview/components/WebOverview.tsx
  apps/posts/src/views/PostAnalytics/Web/Web.tsx
  apps/posts/src/views/PostAnalytics/components/PostAnalyticsHeader.tsx
  apps/posts/src/views/PostAnalytics/components/Sidebar.tsx
  apps/stats/src/utils/url-helpers.ts
  apps/stats/src/views/Stats/Newsletters/Newsletters.tsx
  apps/stats/src/views/Stats/Newsletters/components/NewslettersKPIs.tsx
  apps/stats/src/views/Stats/Overview/components/LatestPost.tsx
  apps/stats/src/views/Stats/Overview/components/TopPosts.tsx
  apps/stats/test/unit/utils/url-helpers.test.ts
  ghost/admin/app/components/dashboard/charts/recents.hbs
  ghost/admin/app/components/posts/debug.hbs
  ghost/admin/app/helpers/parse-member-event.js
  ghost/admin/app/router.js
  ghost/admin/app/routes/lexical-editor.js
  ghost/admin/app/routes/member.js
  ghost/admin/app/routes/mentions.js
  ghost/admin/app/templates/member.hbs
  ghost/admin/app/templates/members.hbs
  ghost/admin/app/templates/mentions.hbs
  ghost/admin/tests/acceptance/analytics-navigation-test.js
  ghost/admin/tests/acceptance/editor-test.js
Labels: deploy-to-staging

#24288 Locale french missing translations and improvements
  ghost/core/test/unit/server/services/email-service/email-renderer.test.js
  ghost/i18n/locales/fr/comments.json
  ghost/i18n/locales/fr/ghost.json
  ghost/i18n/locales/fr/portal.json
Labels: affects:i18n

#23279 🐛 Updated update email member email styles
  ghost/core/core/server/services/members/emails/update-email.js
Labels: affects:design
