Repository TryGhost/Ghost, pull requests merged in 2025-06, with the labels that each got.

#23531 🐛 Fixed previews for tier gated posts
  ghost/core/core/server/api/endpoints/previews.js
  ghost/core/test/e2e-frontend/preview_routes.test.js
  ghost/core/test/unit/api/endpoints/previews.test.js
  ghost/core/test/utils/fixture-utils.js
Labels: deploy-to-staging

#23655 Changed newsletters.button_color default to 'accent'
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  ghost/core/core/server/data/migrations/versions/5.122/2025-06-03-19-32-57-change-default-for-newsletters-button-color.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#23703 Patched `esm` to fix node v22 compatibility
  package.json
  patches/esm+3.2.25.patch
  yarn.lock
Labels: browser-tests

#23644 Added update notification banner for major updates
  ghost/admin/app/controllers/application.js
  ghost/admin/app/templates/application.hbs
  ghost/admin/tests/unit/controllers/application-test.js
Labels: browser-tests

#23733 Changed CI workflow to use blacksmith runner
  .github/actions/restore-cache/action.yml
  .github/workflows/ci.yml
Labels: browser-tests

#23524 🌐 Updated Spanish translations
  ghost/i18n/locales/es/comments.json
  ghost/i18n/locales/es/ghost.json
  ghost/i18n/locales/es/portal.json
  ghost/i18n/locales/es/signup-form.json
Labels: affects:i18n

#23725 Added `site_uuid` setting migration
  ghost/core/core/server/data/importer/importers/data/SettingsImporter.js
  ghost/core/core/server/data/migrations/versions/5.124/2025-06-06-23-12-11-create-site-uuid-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/core/server/models/settings.js
  ghost/core/core/server/services/settings/settings-utils.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/importer/importers/data/settings.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/unit/server/services/settings/settings-utils.test.js
Labels: migration, deploy-to-staging

#23816 Add email_disabled and newsletter_id indexes in migrations
  ghost/core/core/server/data/migrations/versions/5.126/2025-06-12-14-18-27-add-email-disabled-index.js
  ghost/core/core/server/data/migrations/versions/5.126/2025-06-12-14-18-57-add-mse-newsletter-created-index.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/services/stats/PostsStatsService.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#23852 Fixed vite and other devdeps in package.json
  apps/admin-x-design-system/package.json
  apps/admin-x-framework/package.json
  apps/shade/package.json
Labels: browser-tests

#23853 Upgraded vite to v5 and vitest to v1
  apps/admin-x-activitypub/package.json
  apps/admin-x-design-system/package.json
  apps/admin-x-framework/package.json
  apps/admin-x-framework/src/vite.ts
  apps/admin-x-settings/package.json
  apps/announcement-bar/package.json
  apps/comments-ui/package.json
  apps/portal/package.json
  apps/portal/src/components/Frame.styles.js
  apps/posts/package.json
  apps/shade/package.json
  apps/signup-form/package.json
  apps/sodo-search/package.json
  apps/stats/package.json
  yarn.lock
Labels: browser-tests

#23903 Added labs flag to enable traffic analytics tracking separately
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  ghost/core/test/unit/frontend/helpers/__snapshots__/ghost_head.test.js.snap
  ghost/core/test/unit/frontend/helpers/ghost_head.test.js
Labels: deploy-to-staging

#23934 Added migration for web_analytics setting
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/migrations/versions/5.127/2025-06-19-13-41-54-add-web-analytics-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#23941 Added minimal e2e test suite with playwright
  .github/workflows/ci.yml
  .gitignore
  e2e/.eslintrc.js
  e2e/README.md
  e2e/package.json
  e2e/playwright.config.mjs
  e2e/src/index.ts
  e2e/src/pages/HomePage.ts
  e2e/test/.eslintrc.js
  e2e/test/frontend/homepage.spec.ts
  e2e/tsconfig.json
  ghost/core/monobundle.js
  package.json
  yarn.lock
Labels: browser-tests, deploy-to-staging

#24012 Update ghost.json
  ghost/i18n/locales/hi/ghost.json
Labels: affects:i18n

#24123 Fixed `MentionSendingService.sendForPost` failing browser tests
  ghost/core/core/server/services/mentions/MentionSendingService.js
Labels: browser-tests

#24033 Added migration for migrating users with hardcoded ID of `1` to an `ObjectID`
  ghost/core/core/server/data/migrations/versions/6.0/2025-06-24-09-19-42-use-object-id-for-hardcoded-user-id.js
Labels: migration

#24099 🔥 Removed amp and amp_gtag_id from settings
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/migrations/versions/6.0/2025-06-25-15-03-29-remove-amp-from-settings.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/e2e-api/admin/__snapshots__/settings.test.js.snap
  ghost/core/test/e2e-api/admin/settings.test.js
  ghost/core/test/legacy/models/model_settings.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/default-settings-browser.json
  ghost/core/test/utils/fixtures/default-settings.json
Labels: migration

#24133 Added JWT authentication for Tinybird API endpoints
  ghost/core/core/server/api/endpoints/index.js
  ghost/core/core/server/api/endpoints/tinybird.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/index.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/tinybird.js
  ghost/core/core/server/services/stats/StatsService.js
  ghost/core/core/server/services/stats/utils/tinybird.js
  ghost/core/core/server/services/tinybird/TinybirdService.js
  ghost/core/core/server/services/tinybird/TinybirdServiceWrapper.js
  ghost/core/core/server/services/tinybird/index.js
  ghost/core/core/server/web/api/endpoints/admin/routes.js
  ghost/core/test/e2e-api/admin/tinybird.test.js
  ghost/core/test/unit/server/services/stats/utils/tinybird.test.js
  ghost/core/test/unit/server/services/tinybird/TinybirdService.test.js
Labels: deploy-to-staging

#24171 Updated admin apps to use Tinybird JWTs with automatic refresh
  apps/admin-x-framework/src/api/tinybird.ts
  apps/admin-x-framework/src/index.ts
  apps/admin-x-framework/src/utils/stats-config.ts
  apps/admin-x-framework/test/unit/hooks/useActiveVisitors.test.ts
  apps/admin-x-framework/test/unit/utils/stats-config.test.ts
  ghost/core/core/server/api/endpoints/tinybird.js
  ghost/core/core/server/services/stats/utils/tinybird.js
  ghost/core/core/server/services/tinybird/TinybirdService.js
  ghost/core/test/e2e-api/admin/tinybird.test.js
  ghost/core/test/unit/server/services/stats/utils/tinybird.test.js
  ghost/core/test/unit/server/services/tinybird/TinybirdService.test.js
Labels: deploy-to-staging

#24165 Added `event_id` uuid field to `ghost-stats` script event payload
  ghost/core/core/frontend/src/ghost-stats/ghost-stats.js
  ghost/core/test/unit/frontend/public/ghost-stats.test.js
Labels: deploy-to-staging

#24179 Added Tinybird token to `GlobalDataProvider`
  apps/admin-x-framework/src/api/tinybird.ts
  apps/admin-x-framework/src/hooks/useActiveVisitors.ts
  apps/admin-x-framework/src/hooks/useTinybirdToken.ts
  apps/admin-x-framework/src/index.ts
  apps/admin-x-framework/src/test/msw-utils.ts
  apps/admin-x-framework/src/utils/stats-config.ts
  apps/admin-x-framework/test/unit/api/tinybird.test.tsx
  apps/admin-x-framework/test/unit/hooks/useActiveVisitors.test.ts
  apps/admin-x-framework/test/unit/hooks/useTinybirdToken.test.tsx
  apps/admin-x-framework/test/unit/utils/stats-config.test.ts
  apps/posts/src/providers/PostAnalyticsContext.tsx
  apps/posts/src/views/PostAnalytics/Overview/Overview.tsx
  apps/posts/src/views/PostAnalytics/Web/Web.tsx
  apps/posts/test/utils/test-helpers.ts
  apps/stats/src/providers/GlobalDataProvider.tsx
  apps/stats/src/views/Stats/Locations/Locations.tsx
  apps/stats/src/views/Stats/Overview/Overview.tsx
  apps/stats/src/views/Stats/Web/Web.tsx
Labels: deploy-to-staging

#24196 Removed mail events
  ghost/admin/app/services/feature.js
  ghost/core/core/boot.js
  ghost/core/core/server/api/endpoints/index.js
  ghost/core/core/server/api/endpoints/mail-events.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/index.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/mail-events.js
  ghost/core/core/server/api/endpoints/utils/validators/input/index.js
  ghost/core/core/server/api/endpoints/utils/validators/input/mail-events.js
  ghost/core/core/server/data/migrations/versions/6.0/2025-06-30-13-59-10-remove-mail-events-table.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/mail-event.js
  ghost/core/core/server/services/mail-events/BookshelfMailEventRepository.js
  ghost/core/core/server/services/mail-events/InMemoryMailEventRepository.ts
  ghost/core/core/server/services/mail-events/MailEvent.ts
  ghost/core/core/server/services/mail-events/MailEventRepository.ts
  ghost/core/core/server/services/mail-events/MailEventService.ts
  ghost/core/core/server/services/mail-events/index.js
  ghost/core/core/server/services/mail-events/libraries.d.ts
  ghost/core/core/server/web/api/endpoints/admin/routes.js
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/mail-events.test.js.snap
  ghost/core/test/e2e-api/admin/mail-events.test.js
  ghost/core/test/e2e-api/content/__snapshots__/search-index.test.js.snap
  ghost/core/test/integration/exporter/exporter.test.js
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/unit/server/services/mail-events/BookshelfMailEventRepository.test.js
  ghost/core/test/unit/server/services/mail-events/MailEventService.test.ts
Labels: migration
