Repository TryGhost/Ghost, pull requests merged in 2025-09, with the labels that each got.

#24797 🌐 Updated Bulgarian translations
  ghost/i18n/locales/bg/ghost.json
  ghost/i18n/locales/bg/portal.json
Labels: affects:i18n

#24929 Updated CI.yml to ignore unimportant labels
  .github/workflows/ci.yml
Labels: core team

#24924 Removed label actions from triggering CI-docker
  .github/workflows/ci-docker.yml
Labels: core team

#24891 Added Portal loading E2E tests
  e2e/helpers/environment/GhostManager.ts
  e2e/helpers/pages/portal/PortalPage.ts
  e2e/helpers/pages/portal/SignInPage.ts
  e2e/helpers/pages/portal/SignUpPage.ts
  e2e/helpers/pages/portal/SignUpSuccessPage.ts
  e2e/helpers/pages/portal/index.ts
  e2e/helpers/utils/portal-helpers.ts
  e2e/tests/public/portal-loading.test.ts
Labels: core team

#24939 🐛 Fixed Esc key not closing post preview
  e2e/helpers/pages/admin/PostEditorPage.ts
  e2e/helpers/pages/admin/index.ts
  e2e/tests/admin/PostPreview.test.ts
  ghost/admin/app/components/editor/modals/preview.hbs
  ghost/admin/app/components/editor/modals/preview/browser.js
Labels: deploy-to-staging, community

#24947 Cleaned up e2e test package
  e2e/helpers/pages/BasePage.ts
  e2e/helpers/pages/admin/PostEditorPage.ts
  e2e/helpers/pages/admin/PostPreviewModal.ts
  e2e/helpers/pages/portal/PortalPage.ts
  e2e/helpers/pages/portal/SignInPage.ts
  e2e/helpers/pages/portal/SignUpPage.ts
  e2e/helpers/pages/portal/SignUpSuccessPage.ts
  e2e/helpers/pages/public/PublicPage.ts
  e2e/helpers/utils/portal-helpers.ts
  e2e/tests/admin/PostPreview.test.ts
  e2e/tests/public/portal-loading.test.ts
Labels: community

#24971 Added prevention to closing magic link popup
  apps/portal/src/components/PopupModal.js
Labels: community

#24978 Removed temporary fallback values from analytics
  apps/posts/src/views/PostAnalytics/Growth/Growth.tsx
  apps/posts/src/views/PostAnalytics/Web/Web.tsx
Labels: community

#24993 Added extra spacing after preheader content in emails
  ghost/core/core/server/services/email-service/EmailRenderer.js
  ghost/core/core/server/services/email-service/email-templates/template.hbs
  ghost/core/test/e2e-api/admin/__snapshots__/email-previews.test.js.snap
  ghost/core/test/integration/services/email-service/__snapshots__/cards.test.js.snap
Labels: community

#24994 Renamed `onAction` to `doAction` in Portal
  apps/portal/src/App.js
  apps/portal/src/AppContext.js
  apps/portal/src/components/Notification.js
  apps/portal/src/components/PopupModal.js
  apps/portal/src/components/TriggerButton.js
  apps/portal/src/components/common/CloseButton.js
  apps/portal/src/components/common/NewsletterManagement.js
  apps/portal/src/components/common/PopupNotification.js
  apps/portal/src/components/common/SiteTitleBackButton.js
  apps/portal/src/components/pages/AccountEmailPage.js
  apps/portal/src/components/pages/AccountEmailPage.test.js
  apps/portal/src/components/pages/AccountHomePage/AccountHomePage.js
  apps/portal/src/components/pages/AccountHomePage/AccountHomePage.test.js
  apps/portal/src/components/pages/AccountHomePage/components/AccountActions.js
  apps/portal/src/components/pages/AccountHomePage/components/ContinueSubscriptionButton.js
  apps/portal/src/components/pages/AccountHomePage/components/EmailNewsletterAction.js
  apps/portal/src/components/pages/AccountHomePage/components/EmailPreferencesAction.js
  apps/portal/src/components/pages/AccountHomePage/components/PaidAccountActions.js
  apps/portal/src/components/pages/AccountHomePage/components/SubscribeButton.js
  apps/portal/src/components/pages/AccountPlanPage.js
  apps/portal/src/components/pages/AccountPlanPage.test.js
  apps/portal/src/components/pages/AccountProfilePage.js
  apps/portal/src/components/pages/AccountProfilePage.test.js
  apps/portal/src/components/pages/EmailReceivingFAQ.js
  apps/portal/src/components/pages/EmailSuppressedPage.js
  apps/portal/src/components/pages/EmailSuppressedPage.test.js
  apps/portal/src/components/pages/EmailSuppressionFAQ.js
  apps/portal/src/components/pages/FeedbackPage.js
  apps/portal/src/components/pages/FeedbackPage.test.js
  apps/portal/src/components/pages/MagicLinkPage.js
  apps/portal/src/components/pages/MagicLinkPage.test.js
  apps/portal/src/components/pages/NewsletterSelectionPage.js
  apps/portal/src/components/pages/NewsletterSelectionPage.test.js
  apps/portal/src/components/pages/OfferPage.js
  apps/portal/src/components/pages/RecommendationsPage.js
  apps/portal/src/components/pages/SigninPage.js
  apps/portal/src/components/pages/SigninPage.test.js
  apps/portal/src/components/pages/SignupPage.js
  apps/portal/src/components/pages/SignupPage.test.js
  apps/portal/src/components/pages/SupportError.js
  apps/portal/src/components/pages/SupportSuccess.js
  apps/portal/src/components/pages/UnsubscribePage.js
  apps/portal/src/utils/test-utils.js
Labels: community

#24997 🐛 Fixed settings changes not reflected in Billing App
  ghost/admin/app/services/billing.js
Labels: core team

#24964 Allowed proxied domains for app preview servers
  apps/announcement-bar/vite.config.mjs
  apps/comments-ui/tsconfig.node.json
  apps/comments-ui/vite.config.mts
  apps/portal/vite.config.mjs
  apps/signup-form/tsconfig.node.json
  apps/signup-form/vite.config.mts
  apps/sodo-search/vite.config.mjs
Labels: community

#24999 Fixed inconsistent prop capitalization in Portal
  apps/portal/src/components/common/ActionButton.js
  apps/portal/src/components/common/InputField.js
  apps/portal/src/components/common/InputForm.js
  apps/portal/src/components/pages/FeedbackPage.js
  apps/portal/src/components/pages/MagicLinkPage.js
  apps/portal/src/components/pages/OfferPage.js
  apps/portal/src/components/pages/SigninPage.js
  apps/portal/src/components/pages/SignupPage.js
  apps/portal/src/components/pages/SupportError.js
  apps/portal/src/components/pages/SupportSuccess.js
  apps/portal/src/components/pages/UnsubscribePage.js
Labels: community

#24998 Added initial conventions file for Claude to make generating new test…
  e2e/AGENTS.md
  e2e/CLAUDE.md
Labels: browser-tests

#24995 Added Sender header to prevent Outlook from adding "on behalf of" text
  ghost/core/core/server/services/lib/MailgunClient.js
  ghost/core/core/server/services/mail/GhostMailer.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/e2e-server/services/__snapshots__/recommendation-emails.test.js.snap
  ghost/core/test/legacy/api/admin/__snapshots__/authentication.test.js.snap
  ghost/core/test/unit/server/services/settings/__snapshots__/settings-bread-service.test.js.snap
Labels: deploy-to-staging, core team

#25010 Released @tryghost/portal v2.54.0
  apps/portal/package.json
Labels: community

#25013 Bumped Portal to 2.54
  ghost/core/core/shared/config/defaults.json
Labels: community

#25015 Added agent test writing instructions to E2E package
  UTM_IMPLEMENTATION_CHECKLIST.md
  e2e/.claude/E2E_TEST_WRITING_GUIDE.md
  e2e/AGENTS.md
Labels: community

#24893 Added mailhog for e2e tests
  e2e/compose.e2e.yml
  e2e/helpers/email/MailhogClient.ts
  e2e/helpers/environment/GhostManager.ts
  e2e/helpers/flows/signup.ts
  e2e/helpers/pages/portal/SignUpSuccessPage.ts
  e2e/helpers/pages/public/HomePage.ts
  e2e/package.json
  e2e/tests/public/member-signup.test.ts
Labels: core team

#24897 Added full end to end test for traffic analytics page hit tracking
  .docker/caddy/Caddyfile.e2e
  .docker/tb-cli/entrypoint.sh
  .github/workflows/ci-docker.yml
  apps/shade/src/components/ui/card.tsx
  compose.yml
  e2e/compose.yml
  e2e/helpers/environment/DockerCompose.ts
  e2e/helpers/environment/EnvironmentManager.ts
  e2e/helpers/environment/GhostManager.ts
  e2e/helpers/environment/constants.ts
  e2e/helpers/pages/admin/analytics/AnalyticsOverviewPage.ts
  e2e/helpers/pages/public/PublicPage.ts
  e2e/helpers/playwright/index.ts
  e2e/helpers/playwright/withIsolatedPage.ts
  e2e/tests/admin/analytics/overview.test.ts
Labels: core team
