Repository TryGhost/Ghost, pull requests merged in 2025-05, with the labels that each got.

#23145 ✅Added new tests for email encoding related to i18n
  ghost/email-service/test/email-renderer.test.js
Labels: affects:i18n

#23155 🌐 Updated Vietnamese translations for comment sorting options
  ghost/i18n/locales/vi/comments.json
Labels: affects:i18n

#23144 Added transtation into Russian for new lines.
  ghost/i18n/locales/ru/comments.json
  ghost/i18n/locales/ru/ghost.json
  ghost/i18n/locales/ru/newsletter.json
  ghost/i18n/locales/ru/portal.json
Labels: affects:i18n

#23228 Added Punjabi language (pa) locale for portal translation
  ghost/i18n/lib/i18n.js
  ghost/i18n/locales/pa/comments.json
  ghost/i18n/locales/pa/ghost.json
  ghost/i18n/locales/pa/newsletter.json
  ghost/i18n/locales/pa/portal.json
  ghost/i18n/locales/pa/search.json
  ghost/i18n/locales/pa/signup-form.json
Labels: affects:i18n

#23278 Add "pt" locale for newsletter
  ghost/i18n/locales/pt/newsletter.json
Labels: affects:i18n

#23280 Added `newsletters.button_corners` column migration
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModalLabs.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/core/core/server/data/migrations/versions/5.120/2025-05-07-14-57-38-add-newsletters-button-corners-column.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#23311 Cleaned up explicit references to monorepo paths
  .github/scripts/dev.js
  ghost/core/monobundle.js
Labels: browser-tests

#23322 Added `newsletters.button_style` column
  ghost/core/core/server/data/migrations/versions/5.120/2025-05-13-17-36-56-add-newsletters-button-style-column.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#23347 Added element and typography newsletter setting columns
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModalPrototype.tsx
  ghost/core/core/server/data/migrations/versions/5.120/2025-05-14-20-00-15-add-newsletters-setting-columns.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: migration

#23385 ✅ Tests for valid i18n json files.
  ghost/i18n/locales/ar/portal.json
  ghost/i18n/locales/context.json
  ghost/i18n/package.json
  ghost/i18n/test/i18n-ignores.json
  ghost/i18n/test/i18n.test.js
  ghost/i18n/test/remove-unneeded-ignores.js
  ghost/i18n/test/utils.js
Labels: affects:i18n

#23374 🌐 Updated Croatian locale for portal and ghost json files.
  ghost/i18n/locales/hr/ghost.json
  ghost/i18n/locales/hr/portal.json
Labels: affects:i18n

#23386 Updated dependencies for posts app
  apps/posts/package.json
Labels: deploy-to-staging

#23389 Updated dependencies for stats apps
  apps/stats/package.json
Labels: deploy-to-staging

#23431 🌐 Updated Bulgarian translations
  ghost/i18n/locales/bg/comments.json
Labels: affects:i18n

#23440 🌐 Updated Italian localization files with missing translations
  ghost/i18n/locales/it/comments.json
  ghost/i18n/locales/it/ghost.json
  ghost/i18n/locales/it/portal.json
  ghost/i18n/test/i18n-ignores.json
Labels: affects:i18n

#23370 Improved admin 2FA browser tests
  ghost/core/test/e2e-browser/admin/2fa.spec.js
  ghost/core/test/e2e-browser/admin/pages/admin-dashboard.page.js
  ghost/core/test/e2e-browser/admin/pages/admin-login.page.js
  ghost/core/test/e2e-browser/admin/pages/admin-page.js
  ghost/core/test/e2e-browser/admin/two-factor-auth.spec.js
Labels: browser-tests

#23527 Fixed browser tests not running against local apps
  ghost/core/test/e2e-browser/fixtures/ghost-test.js
Labels: browser-tests

#23519 Added migrations for newsletter customization columns
  apps/admin-x-framework/src/api/newsletters.ts
  apps/admin-x-framework/src/test/responses/newsletters.json
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterDetailModalPrototype.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreview.tsx
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/core/core/server/data/migrations/versions/5.121/2025-05-26-08-59-26-drop-newsletters-border-color-column.js
  ghost/core/core/server/data/migrations/versions/5.121/2025-05-26-09-10-30-rename-newsletters-title-color-column.js
  ghost/core/core/server/data/migrations/versions/5.121/2025-05-26-12-03-24-add-newsletters-color-columns.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/models/newsletter.js
  ghost/core/core/server/services/email-service/EmailRenderer.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/__snapshots__/newsletters.test.js.snap
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/unit/server/services/email-service/email-renderer.test.js
Labels: migration

#23536 Released @tryghost/comments-ui v1.2.0
  apps/comments-ui/package.json
  ghost/core/core/shared/config/defaults.json
Labels: browser-tests

#23570 🐛 Fix portal interpolation errors.
  apps/portal/src/components/common/PopupNotification.js
  apps/portal/src/components/common/ProductsSection.js
  apps/portal/src/components/pages/AccountEmailPage.js
  apps/portal/src/components/pages/AccountPlanPage.js
  apps/portal/src/components/pages/AccountPlanPage.test.js
  apps/portal/src/components/pages/EmailReceivingFAQ.js
  apps/portal/src/components/pages/UnsubscribePage.js
Labels: affects:i18n, browser-tests

#23589 ✨ Added member export perms to backup integration
  ghost/core/core/server/data/migrations/versions/5.121/2025-05-29-08-41-04-add-member-export-permissions-to-backup-integration.js
  ghost/core/core/server/data/schema/fixtures/fixtures.json
  ghost/core/test/e2e-api/admin/backup.test.js
  ghost/core/test/unit/server/data/schema/fixtures/fixture-manager.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
  ghost/core/test/utils/fixtures/fixtures.json
Labels: migration
